[2020-06-07 02:49] deklanw commented on #301
I see. That's good news.

Although, I'm confused about why it's necessary to impute values for `None`, but online one hot encoding works.

How can a model adapt to changing numbers of features via increasing number of possibilities in a categorical feature? (But can't adapt to possibly missing feats?)

[2020-06-07 05:23] deklanw opened #302 "Very poor performance from trees?"
I've been trying out the different classifiers available in creme for multiclass classification. The best two I've found are:

[code]

I've noticed that in particular all of the tree implementations perform poorly

[code]

Sidenote:
The RandomForest with n_trees=200 gets up to 544MB after only 29k samples! If the number of trees is fixed why is the memory usage growing so much in this case?

I'm u

[2020-06-07 07:07] MaxHalford commented on #302
Hey there.

Not sure what you mean. The decision tree is consuming `3.0MiB`, and the random forest is consuming `544.3MiB` with 200 decision trees. That seems reasonable, right?

Alas at the moment the decision tree is very sensitive to hyper parameters. I could tell what hyperparameters if I could take a look at your dataset.

[2020-06-07 07:12] MaxHalford commented on #301
Online models can adapt to a variable number of features because that's just the way they are designed. It doesn't mean they will perform optimally, but at least they will work and will perform to the best of their ability instead of bugging out and telling you that a feature is missing or that they are too many features. A model can't process a `None` value simply because it isn't a number. Some

[2020-06-07 19:01] deklanw commented on #302
Thanks for the quick response

I guess I should have asked: why is the memory usage for decision trees increasingly linearly? They have a finite number of parameters, right?

I saw your presentation where you did a League of Legends ML thing. Funnily enough that's also my situation. I'm detecting League roles based on various features I'm extracting from the match/timeline. I'm not sure how to bes

[2020-06-09 11:52] MaxHalford opened #303 "Log progressive_val_score"
There's been a recent (and reasonable) demand to be available to log the progress of the `progressive_val_score` method. This shouldn't be too hard to do, as we can pass an extra parameter that determines where to print. In fact we should apply this recipe to methods and functions that print anything whatsoever.

[2020-06-09 12:54] #303 closed

[2020-06-12 14:30] deklanw commented on #301
Makes sense, thanks

[2020-06-12 14:30] #301 closed

[2020-06-12 14:39] deklanw opened #304 "predict_many bug?"
`creme==0.6.1`

`predict_one`, `fit_one`, and `progressive_val_score` are working fine here. I just get a problem with `predict_many`

[code]

Stack trace:

[code]

[2020-06-12 15:48] MaxHalford commented on #304
Hey there, I found some quirks too. However, the main issue with your pipeline is that you're using features that don't support mini-batches yet. In fact, only `StandardScaler`, `LinearRegression`, and `LogisticRegression` have support for them.

[2020-06-12 16:19] deklanw commented on #304
Oh, I see. I didn't realize support was limited. My batches are only 10 samples large. I was just testing to see if it performed a bit better than looping thru the 10 (probably not, anyway).

[2020-06-13 09:43] MaxHalford commented on #304
Yes we're still in early stages in regards to mini-batches :). Although I suppose every estimator you have in your pipeline is worthy of being upgraded to mini-batches, so there's a high chance that that will happen in the near future. As always, pull requests are welcome!

[2020-06-13 15:45] #304 closed

[2020-06-13 22:35] #300 closed

[2020-06-13 22:36] MaxHalford commented on #293
I've implemented something [here](https://creme-ml.github.io/api-reference/compose/Grouper/).

[2020-06-13 22:36] #293 closed

[2020-06-13 22:37] #284 closed

[2020-06-13 22:38] MaxHalford commented on #34
I made an implementation ([here](https://github.com/MaxHalford/hedgehog)) which supports incremental updates.

[2020-06-13 22:38] #34 closed

[2020-06-13 22:39] #298 closed

[2020-06-14 10:52] inesani commented on #107
Hi @MaxHalford, I am highly interested on the online computation of the inverse of the covariance matrix so let me ask for an update on this ;) Are you still planning on adding something like this?  As I can see here the issue was closed but I am asking anyway as I haven't been able to find implementations or, at least, good references (besides the one you provide here). Merci!

[2020-06-14 10:57] MaxHalford commented on #107
Hey @inesani :). I closed this because we didn't have any need for it anymore.

It really depends on your use case. In some cases, you might be able to use the [Sherman-Morrison formula](https://www.wikiwand.com/en/Sherman%E2%80%93Morrison_formula), but that isn't a general method. There is also the option to use a [Cholesky decomposition](https://www.wikiwand.com/en/Cholesky_decomposition) as a p

[2020-06-14 11:09] MaxHalford commented on #302
Sorry for some reason I missed the notification of your comment!

Well most of the memory is taken by the histograms that represent the distribution of each feature with respect to each class. There certainly is a maximum amount of memory, but it's quite high with the default parameters.

For the performance, it's really hard to help out more without having some data to work with. I'm surprise the

[2020-06-14 11:35] inesani commented on #107
Wow!! thanks for the quick reply :)

What I am trying to do is to calculate the Mahalanobis distance on a stream of data in order to perform anomaly detection based on it. The key point is the calculation of the inverse of the covariance in an online manner.
I have taken a look at what you propose and the Sherman-Morrison formula seems like a good start. When you say that it isn't a general method

[2020-06-14 11:40] MaxHalford commented on #107
Interesting!

Actually I'm just referring to the fact that it applies to the particular case of `A + uv`, which is the sum of a matrix with an outer product. Tell me how if it works out for you :). Also, if ever you need it, here is a `numpy` implementation of the Sherman-Morrison formula:

[code]

[2020-06-14 11:49] inesani commented on #107
When searching about the sherman-morrison formula, I have come accross this blog: https://markusthill.github.io/math/stats/ml/online-estimation-of-the-inverse-covariance-matrix/ that might be a good start. I am just posting it here in case you reopen this :) I'll take a look at the implementation in numpy and see how to adapt this in Java (fun stuff!). Thanks

[2020-06-14 12:14] MaxHalford commented on #107
Yes, especially on a Sunday.

[2020-06-14 17:51] deklanw commented on #302
Np.

I actually had a bug when I was generating these features. Here is the updated performance

[code]
Much better, but still not great and in particular takes a long time to reach reasonable performance.

AdaptiveRandomForestClassifier from scikit-multiflow, (with 10 trees) reaches 98%+ accuracy very quickly in my testing https://scikit-multiflow.readthedocs.io/en/stable/api/generated/skmultiflo

[2020-06-14 20:05] MaxHalford commented on #302
Have you played with the `patience` parameter? Lowering it "should" speed up convergence but might increase the computational cost :)

[2020-06-14 21:03] MaxHalford commented on #156
Closing this as it's a bit too esoteric.

[2020-06-14 21:03] #156 closed

[2020-06-14 22:15] #182 closed

[2020-06-16 09:48] jklaise opened #305 "Bibtex citation"
I would like to cite `creme` in a paper but not sure what the appropriate format would be, especially with respect to authors. This would be very useful for anyone using `creme` in academic work.

[2020-06-16 11:07] abhibha1807 commented on #302
Hey,
I am trying to code a POS tagger, on the Conll Dataset [https://www.clips.uantwerpen.be/conll2000/chunking/](url) I am using a DecisionTree Classifier for the same. But am getting a poor F1 score of 0.15
DecisionTree Classifier
[1,000] F1: 0.169169
[2,000] F1: 0.152076
[3,000] F1: 0.145382
[4,000] F1: 0.141285
[5,000] F1: 0.142028
[6,000] F1: 0.147358
[7,000] F1: 0.149879
[8,000] F1: 0.149644

[2020-06-16 11:30] MaxHalford commented on #305
Hey! That's a good suggestion. I'll try to get something done during the day :)

[2020-06-16 15:43] MaxHalford commented on #305
Ok so I've added an entry to Google Scholar, it should appear soon if you search for "creme, a Python library for online machine learning".

Just curious, what's the publication? :)

[2020-06-17 07:55] MaxHalford commented on #302
Hello @abhibha1807, thanks for your comment. I don't have time to look at your code in detail. Could you potentially create a CSV file and send that instead? Kind regards.

[2020-06-17 08:56] jklaise commented on #305
Thanks, it's come up on google scholar, although I had to write a bibtex entry myself, maybe it's worth putting it on the Github readme too? Here's my attempt (disclaimer: for bibtex @software isn't always standard and some people use @misc instead, I'm still not 100% sure what the right style and fields are for software):

[code]

The paper in question is for [this ICML workshop](https://sites.go

[2020-06-17 08:59] MaxHalford commented on #305
Cheers for that! I don't have a lot of publishing experience so I was also wondering between @software and @misc. I'll add the entry you propose to the README :). Thank you very much for the shoutout, and good look with your publication.

[2020-06-17 09:57] abhibha1807 commented on #302
Hey @MaxHalford, Thanks for reverting back! If am interpreting it right, I have attached the dataset (in csv format) and the log for my code ( I have run the code on the whole dataset ). I also tried fiddling with the hyper parameters but I don't seem to get any improvements. Is there any way in which I can determine the optimal set of hyper parameters for my dataset?. I think I may be erring in t

[2020-06-18 11:52] abhibha1807 opened #306 "AttributeError: 'Leaf' object has no attribute 'Leaf'"
Hey,
I am trying to code a POS Tagger on the Conll dataset. I am currently experimenting with different classifiers one of them being the DecisionTree Classifier. I coded by own pipeline for preprocessing the data and ran 'model.debug()' to understand the flow but I seem to getting the following error.

  File "decisiontree_classifier_conll_creme.py", line 175, in <module>
    main()
  File "decis

[2020-06-18 12:43] VaysseRobin commented on #306
Ok, I see the problem. In the file `creme.tree.decision.tree.py` we imported a module called `node` which contain some types usefull for trees. But in tree.py, we overwrote the name `node` several times by using variables called `node`. So we just need to rename the variables `node` in the `tree.py` file and it should work. I will make a fix but we will have to wait for @MaxHalford to merge it.

[2020-06-18 12:45] raphaelsty commented on #306
@VaysseRobin Nice catch, could you reproduce the error and show how your hot fix solve it? :-)

[2020-06-18 16:09] MaxHalford commented on #306
Ok it's been merged. A unit test should probably added to check the `debug_one` method of decision trees works.

[2020-06-20 10:52] abhibha1807 commented on #306
It works! thank you :)

[2020-06-22 06:36] landmann opened #308 "`AttributeError: module `creme.base` has no attribute `typing`."
What gives?

![image](https://user-images.githubusercontent.com/12756081/85255822-99b31a80-b495-11ea-80d5-1e47110a2d1b.png)

[2020-06-22 12:21] VaysseRobin commented on #308
Could you please provide the code to reproduce the error and also the `creme` version you are using ?

[2020-06-22 13:31] landmann commented on #308
It's a simple `from creme import metrics` that gives me this error. My version is 0.6.1.

[2020-06-22 14:05] MaxHalford commented on #308
Also, what version of Python are you using?

[2020-06-22 14:34] #305 closed

[2020-06-22 14:34] #306 closed

[2020-06-23 01:41] landmann commented on #308
Thanks so much guys - I am using Arch Linux, python 3.7.7

[2020-06-23 01:43] landmann commented on #308
Wow - kidding. A day later and now it works. Sorry for the hassle guys.

[2020-06-23 01:43] #308 closed

[2020-06-23 10:07] #229 closed

[2020-06-23 22:35] yesyigitcan commented on #194
Hi @MaxHalford . Our thesis project is finally done and we made a presentation in the university. Thank you for this useful tool. It was really easy to use and it really helped us for the project. You are really good at this field as far as I see in different platforms. I hope I can be good at this field just like you. Keep up the good work!
If you are still interested, you can use the link below

[2020-06-24 07:48] MaxHalford commented on #194
Thank you for the kind words @yesyigitcan! I'm so happy that our work was useful to you. Keep up the good work too, you're doing well. Hopefully we'll meet again in other circumstances :)

[2020-06-24 07:48] #194 closed

[2020-06-25 21:50] AdilZouitine opened #310 "Update many for metrics"
It would be very interesting to implement this method in order to be able to update the metrics in batch.

[2020-06-26 09:00] #228 closed

[2020-06-26 09:03] #217 closed

[2020-06-26 09:04] #246 closed

[2020-06-26 09:05] #214 closed

[2020-06-26 09:09] MaxHalford commented on #206
Added this to the [icebox](https://github.com/creme-ml/creme/projects/2).

[2020-06-26 09:09] #206 closed

[2020-06-26 09:09] #199 closed

[2020-06-26 09:10] #197 closed

[2020-06-26 09:13] #207 closed

[2020-06-26 09:14] #215 closed

[2020-06-26 09:16] MaxHalford commented on #213
Added this to the [icebox](https://github.com/creme-ml/creme/projects/2).

[2020-06-26 09:16] #213 closed

[2020-06-26 09:16] #192 closed

[2020-06-26 09:17] #159 closed

[2020-06-26 09:17] #295 closed

[2020-06-26 09:18] #165 closed

[2020-06-26 09:19] MaxHalford commented on #209
Added this to the [icebox](https://github.com/creme-ml/creme/projects/2).

[2020-06-26 09:19] #209 closed

[2020-06-26 09:20] #154 closed

[2020-06-26 09:20] #205 closed

[2020-06-26 09:21] #148 closed

[2020-06-26 09:25] #119 closed

[2020-06-26 09:26] #262 closed

[2020-06-26 09:27] #137 closed

[2020-06-26 09:27] #275 closed

[2020-06-26 09:28] #289 closed

[2020-06-26 09:29] #79 closed

[2020-06-26 09:29] #81 closed

[2020-06-26 09:31] #76 closed

[2020-06-26 09:32] #71 closed

[2020-06-26 09:39] #13 closed

[2020-06-26 12:02] #10 closed

[2020-06-26 12:04] #140 closed

[2020-06-26 12:05] #200 closed

[2020-06-26 12:07] #49 closed

[2020-06-26 12:09] MaxHalford commented on #3
Added to the [icebox](https://github.com/creme-ml/creme/projects/2).

[2020-06-26 12:09] #3 closed

[2020-06-26 13:53] MaxHalford commented on #203
I just added the [solar flare dataset](https://archive.ics.uci.edu/ml/datasets/Solar+Flare).

[2020-06-26 13:53] #203 closed

[2020-06-29 08:01] #163 closed

[2020-06-29 08:46] MaxHalford commented on #257
Done @raphaelsty :)

[2020-06-29 08:46] #257 closed

[2020-06-30 14:35] brcharron commented on #267
I gave this one a go, please have a look at the PR #312.

[2020-07-01 14:18] MaxHalford commented on #267
Thanks @brcharron for taking care of this.

[2020-07-01 14:18] #267 closed

[2020-07-02 13:56] #167 closed

[2020-07-04 14:51] etiennekintzler commented on #147
Hey @MaxHalford,

I got to **0.427246** using `pyvw.vw` but unfortunately couldn't get down to 0.413533.

Here is the code (had to change `datasets.fetch_electricity()` unto `datasets.elec2.Elec2()`, I am using `creme` version 0.6.1) :

[code]

The **differences** with your code is the following:
- You need to use the options `loss_function='logistic'` (for logistic regression) and `link='logistic

[2020-07-05 10:26] MaxHalford commented on #147
Hello @etiennekintzler! Thank you so much for those much-sought clarifications. It's nice to see that the performances are the same. I'll 1) add VW to the benchmarks 2) consider implementing that learning rate schedule. Thanks for the kind words, they always keep me motivated.

[2020-07-07 16:55] luistelmocosta opened #313 "Custom sklearn + LightGBM model"
Hello, I have a custom sklearn + lightgbm model and I would like to know if it is possible to include this model in a creme pipeline. If not, is there any way to do text classification with LightGBM in a creme pipeline?

Kind Regards,
Luís

[2020-07-07 20:20] MaxHalford commented on #313
Hey @luistelmocosta! Alas LightGBM is a batch, and therefore cannot be trained incrementally. In particular it doesn't have a `partial_fit` method.

[2020-07-08 10:31] luistelmocosta commented on #313
Thank you for your reply! Is there any text classification pipeline for Creme?

[2020-07-08 11:13] MaxHalford commented on #313
Well for instance you can use the [TFIDF](https://creme-ml.github.io/api-reference/feature-extraction/TFIDF/) and then chain that with a [LogisticRegression](https://creme-ml.github.io/api-reference/linear-model/LogisticRegression/).

[2020-07-08 12:46] microprediction opened #314 "Hi."
This library is exactly what I've been looking for. Adding a ticket to myself to use it here: http://dev.microprediction.org/crawling.html
Might send you a PR

[2020-07-08 14:10] MaxHalford commented on #314
Cool beans!

[2020-07-10 08:19] MaxHalford commented on #280
@brcharron has done a wonderful job at implementing `utils.VectorDict`, which is dictionary-like data structure that has methods implemented in Cython. For instance it implements the `@` operator for doing a dot product. Let's use in the `linear_model` module before closing this issue.

[2020-07-10 16:03] MaxHalford commented on #147
Ok I added VW to the benchmarks. I didn't rerun the benchmarks because I'm having some issues with installing VW, but they should work. We can close this for now.

[2020-07-10 16:03] #313 closed

[2020-07-10 16:17] etiennekintzler commented on #147
Did you try to pip install it or you used another way ? What error did you get ?

Btw I just check the [Linear regression benchmark](https://github.com/creme-ml/creme/blob/master/benchmarks/Linear%20regression.ipynb) and the MSE is 3 times higher for VW, which seems quite unlikely. If you want, I can investigate to see if I get the same thing.

[2020-07-10 16:21] MaxHalford commented on #147
I actually installed via conda, and got a segmentation fault.

If you have time to check it out that would be wonderful :). By the way, can you check if setting the `adaptive`, `normalized`, `invariant` parameters to `False` with logistic regression produces the exact score of `0.413904`?

I'll actually leave this issue open until we're 100% happy with the benchmarks.

[2020-07-10 16:31] #118 closed

[2020-07-10 18:59] AdilZouitine commented on #310
Should we rename the update method to update_one with the addition of the new update_many method?

[2020-07-10 19:30] etiennekintzler commented on #147
Yes they do produce the same exact score, as expected since these parameters are not used for SGD (see https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Command-line-arguments#update-rule-options):

**--sgd**                        use regular/classic/simple stochastic  descent update, i.e., non adaptive,  normalized, non invariant                              (this is no longer the default since

[2020-07-10 19:32] MaxHalford commented on #147
Thanks, got it. Good work on the comparison. I do wonder where the discrepancy comes from, but it's so slight that it might just be numeric instability.

Anyway now we have all the steps required to add Vowpal Wabbit to the benchmarks.

[2020-07-10 19:34] MaxHalford commented on #310
Mmm for the moment I would say no. I would rather start by defining an `update_many` method in the `Metric` mother class.

[2020-07-10 20:13] etiennekintzler commented on #147
Yep I do wonder too haha. I check extensively the command line and did not find what could cause the variation. Also the weight initialization is 0 by default so it's not the cause either (if random it could have been).

Ok great !

[2020-07-10 20:42] AdilZouitine commented on #310
PR #317

[2020-07-10 21:59] MaxHalford commented on #310
Actually after the last talk with scikit-multiflow, we've decided on something different for metrics :). I'll leave your PR open for the moment.

[2020-07-13 16:37] etiennekintzler commented on #270
I guess here that the bandits algorithms are to be implemented in the special case of model selection / hyper parameter optimization. Assuming the number of arms to be the number of models from which to select from, it would make sense to compute the loss for a given example using `predict_one` and the true y value and then use `fit_one` for the arm/model that has been pulled.  However it's just m

[2020-07-14 16:40] MaxHalford commented on #270
Yes, indeed. I like to frame hyper parameter optimization as a special case of model selection. The `expand_param_grid` function can be used to this purpose for generating many models from a grid of parameters.

Yes, that would be ideal. The issue is that this would require some mechanism for identifying a sample so that the prediction made during `predict_one` can be matched with a ground truth d

[2020-07-15 15:44] etiennekintzler commented on #270
Yep, this is how I see the problem as well.

Yes doing something in the same fashion `EWARegressor.fit_predict_one` would be a good first step. The benefit is that it would handle for the user the complete bandit sequence (`pull_arm() --> compute_reward(arm, y) --> update_arm(arm, reward)`). In this sequence, the `predict_one` of the model behind the chosen arm would be used in `compute_reward` (w

[2020-07-15 17:02] MaxHalford commented on #270
should the fit_one be applied on the model behind the chosen arm OR on all models ?

Well I would say that only the arm that was picked should be updated. The whole point of using bandits is to reduce the total amount of computation time. In `predict_one`, we can basically just use the best arm we have seen up to now. Tell if this doesn't make sense to you. We could thus compare a bandit algorithm

[2020-07-15 17:29] etiennekintzler commented on #270
Yes updating the model behind the chosen arm is what is the most natural but I am afraid that some model lag behind because they just didn't get enough data to beginning with. This can however be solved using more exploration at the beginning of the process ; for instance higher epsilon for epsilon greedy or using an explore first strategy.

Yes totally agree. Basically it amounts to compute the r

[2020-07-15 17:47] MaxHalford commented on #270
Yep, every bandit could have a "warm-up" period where the models are selected in sequential order.

Indeed, you're right, I was too hasty reading your comment. This is a reason why I would like to explore non-stationary bandits, as maybe they might yield better performance.

[2020-07-15 17:57] etiennekintzler commented on #270
I edited my answer to give more details in the meantime :-)

Regarding non stationarity, does creme have options in models to handle it (time weight decay or something else) ?

[2020-07-15 18:19] MaxHalford commented on #270
Not explicitly, no. However, it turns out that models that use stochastic gradient descent handle drift naturally. There are other models, such as those in the `naive_bayes` module, which *could* handle drift, but don't do at the moment.

[2020-07-15 19:34] MaxHalford commented on #147
So I tried to install Vowpal Wabbit again today and I got some `cmake` issues that got on my nerves. I'll set up a cloud machine and try it out.

[2020-07-16 16:54] etiennekintzler commented on #147
You might want to raise issue on vowpal wabbit project.

Otherwise the cloud machine is a good idea. FYI it works well on my cheap (5$) Digital Ocean VM ; CPU is Intel Xeon E5-2650L v3 @ 1.80GHz, OS is Ubuntu 18.04, and python is version 3.6.9. I installed following instructions from http://vowpalwabbit.org. I can lend you the ressource if necessary.

[2020-07-16 21:02] etiennekintzler commented on #270
I will use this comment as a reminder for related papers (although most papers are about more complex forms of bandits) :

- [Bandits Algorithms. C. SZEPESVARI, T. LATTIMORE](https://tor-lattimore.com/downloads/book/book.pdf): Book on bandits
- [Bayesian Contextual Bandits for Hyper Parameter Optimization. G.SUI & Y. YU](https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9017927)
- [A simple dyn

[2020-07-24 08:15] MaxHalford commented on #280
`VectorDict` has been successfully integrated into `linear_model`. We will now focus on the optimizers from the `optim` module. We will keep this issue open for potential discussions.

[2020-07-24 08:19] raphaelsty commented on #280
@brcharron Nice job, it's really cool to get good performance with dictionaries.

[2020-07-25 04:59] brcharron commented on #280
The [`WeightVector`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/_weight_vector.pyx) class in `sklearn` could be used as inspiration for further work, it implements custom functions like `w += c * u` or `w *= c`.

[2020-07-27 22:24] MaxHalford commented on #280
I took a go at converting the AdaDelta optimizer and ran into some issues. The current code is:

[code]

I wrote the following vector notation:

[code]

The `empty_like` function is defined as so:

[code]

One issue I had is that multiplication (`*`) between a `VectorDict` and a `VectorDict` doesn't work. Likewise for division (`/`). I also implemented the power function (`**`). Any particular tho

[2020-07-28 09:38] brcharron commented on #280
Thanks for the feedback. Indeed I only implemented the operations of a mathematical vector so no multiplication or division of two vectors. I can work on that, should be easy enough, and `abs` as well. As for `min`/`max`, that seems like `np.maximum` which is not a method of the array, `.max()` would be expected to return the maximum value in the vector. How do you see it? An external `maximum`, o

[2020-07-28 10:49] MaxHalford commented on #280
Yes indeed `.max()` should return the vector's max value. `.maximum(other)` should compute the element-wise maximum.

The reason why I added the `empty_like` like function is that I want the optimizers to work with arrays. Some optimizers requires initializing some empty vectors, but we only what kind of array will be used at runtime (`VectorDict` or `numpy.ndarray`). Not sure this is very clear t

[2020-07-28 11:16] brcharron commented on #280
Got it, will implement all that. `numpy.ndarray` don't have `.maximum` so probably will need a `utils.math.maximum` wrapper which works for both types.

[2020-07-28 11:33] brcharron commented on #280
How do you see multiplication / division of vectors with different keys? Could be either on the union or the intersection of the keys. For multiplication both should be fine but for division, union would likely lead to divisions by zero. The behavior should likely be the same for both so maybe intersection.

[2020-07-28 12:27] MaxHalford commented on #280
Well the union seems reasonable. We don't need to do anything for keys that are in `right` but not in `left`. We can also ignore the case where a key is in `left` but not in `right` (division by 0).

[2020-07-28 12:33] MaxHalford commented on #280
About `utils.math.maximum`; I'm not 100% sure but here is my opinion. I think it's fine to attach many functions to `VectorDict`, such as `maximum` as well as `max`. It will ease documentation and I don't see any reason not do to do this. As for handling numpy arrays as well as `VectorDict`s, I would handle this within each optimizer, or in a `utils` submodule of the `optim` module. The way I see

[2020-07-28 12:44] brcharron commented on #280
I made a PR #318 that shows the behavior using the union of keys (see the tests).
Probably for `*` we don't want to just keep the keys of `left` as it would make it non-commutative.
For `/` it could be but that's a different behavior from `+`, `-` and `*` and there is the possibility that there is a `default_factory` which return non-zero values. Not sure if there is any similar operation that can

[2020-07-28 12:51] MaxHalford commented on #280
The PR looks good, nice one. About `*`, you're right that it should be commutative. It's really just a question of wasting memory usage. The current behaviour is fine 👍

[2020-07-28 12:55] brcharron commented on #280
Great. That's true and it may return many `0`s but it's consistent with the support of `default_factory`. Same for the dot product, could just loop on the key intersection otherwise.

[2020-08-04 21:21] MaxHalford commented on #280
Just some news on this @brcharron: we're currently deep into the process of merging with scikit-multiflow. I'll get back into propagating `VectorDict` throughout the codebase once we've made more progress on that side :)

[2020-08-04 21:22] MaxHalford commented on #270
Just some news on this @brcharron: we're currently deep into the process of merging with scikit-multiflow. I'll get back into this topic once we've made more progress on the merge :)

[2020-08-04 21:22] gbolmier opened #322 "Polluting links within documentation "API reference" part"
`Classes` and `Functions` links in the "Table of contents" panel on the right are polluting the feed:

![Screenshot from 2020-08-04 23-13-59](https://user-images.githubusercontent.com/25319692/89345833-5fe64e00-d6a8-11ea-938d-65bf8c0b9979.png)

[2020-08-06 08:48] gbolmier opened #324 "Use mini-batch to reduce I/O overhead and speed up independent operations"
Related to #234

The idea is to stick to the online regime, but instead of loading one sample at a time, we could load mini-batch to benefit from memory resources when available.

Also, pre-processing operations that are independent from previous samples could benefit of a nice speed up if treated with mini-batch. We could think of parallelizing `TransformerUnion` for such cases.

Some benchmarkin

[2020-08-08 02:09] hundredupset opened #326 "Hello, the API manual cannot be opened normally. Thank you very much"
## Versions

**`creme` version** :

**Python version** :

**Operating System** :

## Describe the bug

## Steps/Code to Reproduce

[code]

[2020-08-08 14:20] gbolmier commented on #76
Ran some [experiments](https://nbviewer.jupyter.org/github/gbolmier/workbench/blob/master/induce-sparsity-in-online-learning-linear-models.ipynb) implementing methods proposed here:

We have pretty good results on a synthetic dataset of 10 informative features, and 90 noisy features:

| Method                | Hyper-parmameters                     | # of features | MAE |
|:----------------------|:

[2020-08-08 18:15] MaxHalford commented on #76
That looks really good Geoff! Let's wait till we've moved forward with the scikit-multiflow merge. The cost can probably be alleviated by writing some of it in Cython.

[2020-08-08 18:17] MaxHalford commented on #326
Hello @hundredupset, can you be more precise? The [API reference page](https://creme-ml.github.io/api-reference/overview/) seems to be working.

[2020-08-09 08:07] hundredupset commented on #326
![problem](https://user-images.githubusercontent.com/32949869/89727776-55d29f80-da5a-11ea-9cf4-53d77eafbe2e.png)

[2020-08-09 08:32] MaxHalford commented on #326
I can't read Mandarin/Cantone so I can't help you out on that. I guess that the lower left button allows performing a one-time exception. The documentation is hosted on GitHub Pages so it's a bit weird that your browser doesn't trust it.

[2020-08-22 11:03] etiennekintzler opened #332 "Intercept updates are way too large"
Hello !

Currently working on #270, I am doing trials on the NYC taxi dataset. I use the following gist for the pipeline : [HKML2020.ipynb](https://gist.github.com/MaxHalford/e23c4fe26c035b818bc40cbdde9c3a8f). Versions used : **`creme`** : 0.6.1 ,  **Python** : 3.7.6, **OS** : Ubuntu 18.04.5 LTS.

**The intercept updates are extreme for some input change**. More specifically, at observation 546, t

[2020-08-22 17:07] raphaelsty opened #333 "Good Defaults - Parameters for LinearRegression."
This issue is related to issue #332. We should provide default settings that meet the needs of the majority of users of the linear model. It might be interesting to follow the default parameterization used by [scikit learn](https://scikit-learn.org/dev/modules/generated/sklearn.linear_model.SGDRegressor.html#sklearn.linear_model.SGDRegressor).

It would be interesting for this default setting to w

[2020-08-22 17:14] raphaelsty opened #334 "Regression - Scale target variable."
It would be interesting to be able to center and reduce the target variable while training a model to facilitate the convergence of the model. The inverse transform of the standard scaler must be applied while predicting.

[2020-08-23 17:52] etiennekintzler commented on #332
Ok great @raphaelsty ! I can rename the issue if necessary.

I will look into that as well, maybe do a toy example with a feature of 0 that becomes 1 after a long time in order to isolate the behavior.

Yep :smiley:

[2020-08-24 18:28] raphaelsty commented on #332
Hello @etiennekintzler,

To make sure that there are no problems when updating the standard scaler I did a test to compare the behavior of the Creme scaler standard and the Scikit Learn scaler standard.

Both standard scalers provide the same results for the feature `hour` when using `std` and `mean` in the scaler:

[code]

<img width="397" alt="image" src="https://user-images.githubusercontent.co

[2020-08-24 18:29] #332 closed

[2020-08-24 18:43] raphaelsty opened #335 "Standard Scaler - unit variance condition"
Scikit Learn offers users of the standard scaler to disable the unit variance condition with the `with_std` parameter. It can happen that the standard scaler with unit variance produces values that are not conducive to model convergence (#332).

[Standard Scaler Scikit Learn](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)

Is this feature useful for Cr

[2020-08-27 15:55] etiennekintzler commented on #335
This could be useful.

Regarding the standard scaler with unit variance,  **the magnitude of the transformed x is proportional to the frequency of change in input value**.

Below is a plot of the transformed input value when x change from 0 to 1 at certain points for various change frequencies.

![image](https://user-images.githubusercontent.com/17943873/91464023-65d8e480-e88c-11ea-93c6-85b408c60b

[2020-08-28 11:21] MaxHalford commented on #335
Super interesting stuff. Thanks for detective work. I don't have the time to look into this at the moment. I will however add it to my todo list. It's not the end of the world, as it doesn't seem to be a bug on our side. I guess this is where we draw the line between stochastic learning, where samples are randomized, and online learning, where the data ordering matters. This is potentially impactf

[2020-08-28 17:02] etiennekintzler commented on #335
:smile:

Sure, my goal was just to document the behavior. One solution could be to smooth out the normalization across more than multiple observations but then you'd loose the unit variance property.

However, this solution seems out a bit of the scope for this issue. The most straightforward think to do would be to add `with_std` parameter or just use another scaler if one suspect rare occurrence

[2020-09-05 08:44] MaxHalford opened #337 "Fixing Cython doctests"
With the release of `pytest` 6, the `pytest-cython` module doesn't work anymore. This can be reproduced by running `pytest --doctest-cython`. An issue is open [here](https://github.com/lgpage/pytest-cython/issues/3). It might be worthwhile to send a pull request to `pytest-cython` in order to fix this issue.

[2020-09-05 09:14] MaxHalford commented on #322
Fixed.

[2020-09-05 09:14] #322 closed

[2020-09-05 09:14] #326 closed

[2020-09-09 19:57] MaxHalford commented on #198
I'm getting comfortable with ASV. However, from reading [this](https://github.com/astropy/astropy/issues/6149) thread, it seems that setting up ASV via CI (i.e. Travis) isn't reliable. Instead we would need someone to volunteer a server to run AVS in a reliable manner.

In the meantime, I'm going to set things up so that ASV can be used locally to compare local work against master.

[2020-09-09 19:59] MaxHalford commented on #198
For posterity, this is the Travis job I had in mind:

[code]

[2020-09-09 20:30] MaxHalford commented on #198
I've just added the `make bench` command. This will run the benchmarks for your latest local commit. It will also run the benchmarks against the master branch. It will then invoke the `asv compare` command to compare both versions of the code.

[2020-09-10 17:33] LeonardAukea opened #339 "pip install creme fails on Catalina due to mmh3 2.5.1"
Hi,

[code]

there seems to be an issue with `mmh3` requirement:
https://github.com/creme-ml/creme/blob/3b397d6aafdfad48dbb36813c90ed3fd1844fc30/setup.py#L30

`mmh3 2.5.1` is not installable on macOS  Mojave, Catalina. The package is no longer maintained :/

I had to manually have it installed using:

[code]
in order to complete the installation of creme.

Maybe worth using an alternative for hash

[2020-09-10 19:21] LeonardAukea opened #340 "fail to import model_selection"
I'm trying to just run the examples from the docs. I seem to fail to import `model_selection`. It I could not find it on the master branch either.

[code]

[2020-09-10 19:24] LeonardAukea commented on #340
Ok, I guess you have moved it to `evaluate` https://github.com/creme-ml/creme/blob/dd42c852f7a05c7402dceb80be4800c3b4f4ec6c/creme/evaluate/progressive_validation.py#L14

maybe worth updating docs.

[2020-09-10 22:27] MaxHalford commented on #340
Hey @LeonardAukea! On what version of `creme` are you testing? We renamed `model_selection` to `evaluate` but that only affects the development branch.

We're in the process with merging with `scikit-multiflow`. It's a big undertaking and a fair amount of things will change.

[2020-09-10 23:06] MaxHalford commented on #339
I'm not sure what the best approach is. Maybe that we could just reimplement the Murmurhash algorithm, or use something else. Any other hashing algorithm that converts a `str` an `int` would do the job. A Python native solution would be great.

[2020-09-11 05:50] Leo-VK opened #341 "SGD based on Kalman Filter"
Hi

Recently, I came across a [Stochastic Gradient Descent version based on the Kalman Filter](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.418.7228&rep=rep1&type=pdf) (eq. 34-38) which could be interesting for creme. It uses the Hessian matrix and is said to converge considerably faster than regular Stochastic Gradient Descent.
The aforementioned example describes the case for the lea

[2020-09-11 07:13] MaxHalford commented on #341
Hey Leandro.

The way to go about this would be to add a `hessian` method to each loss function in the [`losses.py`](https://github.com/creme-ml/creme/blob/master/creme/optim/losses.py) file. You could just start off by implementing it just for the `Squared` loss as a proof of concept. Once this is done, you could add a file at the root of the [`optim` directory](https://github.com/creme-ml/creme/

[2020-09-12 11:26] MaxHalford opened #344 "Run a spell checker"
It would be nice to run [codespell](https://github.com/codespell-project/codespell) or something similar to correct possible spelling mistakes in the code.

[2020-09-12 11:26] MaxHalford opened #345 "Run spell checker"
It would be nice to run [codespell](https://github.com/codespell-project/codespell) or something similar to correct possible spelling mistakes in the code.

[2020-09-12 11:26] #345 closed

[2020-09-13 12:49] MaxHalford opened #346 "Add debug_one to logistic regression"
It would be nice to add a `debug_one` method to `linear_model.LogisticRegression`. There's a great overview of explaining logistic regression [here](https://stats.idre.ucla.edu/other/mult-pkg/faq/general/faq-how-do-i-interpret-odds-ratios-in-logistic-regression/).

[2020-09-13 16:19] MaxHalford commented on #339
I've just finished removing `mmh3` as a dependency. Instead we now make use of the [`hashlib` module](https://docs.python.org/3/library/hashlib.html), which is part of the standard library. The change is effective on the [the-merge](https://github.com/creme-ml/creme/tree/the-merge) branch. The latter should be released in a month or two.

[2020-09-13 16:19] #339 closed

[2020-09-14 11:26] foodiehack opened #347 "Multilabel Classification"
Is it possible to do multilabel classification with creme-ml. Can't find anything in the docs

[2020-09-14 11:28] MaxHalford commented on #347
Hey there @foodiehack. Yes, you can do multi-label classification with `creme`. Take a look at [`ClassifierChain`](https://creme-ml.github.io/api-reference/multioutput/ClassifierChain/).

[2020-09-15 16:49] Leo-VK commented on #341
Hi Max

This is pretty clear thanks. My question would rather concern the update formula:
Along your suggestions, the idea is to add a <code> kalman_filter</code> module in the <code> optim </code> directory and do the update calculations including hessian matrix assembly in the __update_after_pred_ method. Regarding the update, equation (38) is basically the shermann_morrison formula which you al

[2020-09-15 17:36] MaxHalford commented on #341
That's a good point. If `x` is really required, then we'll have to look into adding it to the signature of `update_after_pred`. Are you definitely sure that it's required?

To get started, I would suggest that you implement this yourself without worrying about how things are organised in `creme`. I can then take care of integrating it seamlessly. I think it's easier for everyone if you focus on ge

[2020-09-16 08:52] foodiehack commented on #347
@MaxHalford So I am initially training a model with 5 labels. On a weekly basis, 1k data appears and it is possible that new label comes too. Is there a way to retrain the model with that new label too without training data from scratch?

[2020-09-16 08:54] MaxHalford commented on #347
Yep, that's the intention. At least, every algorithm in `creme` is designed from the ground up to support new features, classes, and outputs to be added on-the-fly. However, this isn't something that we have tested a 100% because of lack of resources.

In short: yes, it should work. If it doesn't, then please tell us and we'll get it fixed.

[2020-09-16 09:12] foodiehack commented on #347
@MaxHalford Thanks for the prompt reply. I will try it out. As I can see in the example Classfier Chain is used with linear model LogisticRegression.
Can I somehow use LinearSVC or SGD(loss='modified_huber'') along with Classifier Chain or any other classification algo.

[2020-09-16 17:08] mihir-thakkar-ai commented on #344
Hi, is this issue still open? I would like to contribute.

[2020-09-16 17:17] MaxHalford commented on #344
Knock yourself out 👍

[2020-09-16 19:52] MaxHalford commented on #347
I assume that you're referring to models from scikit-learn's `linear_model` module? If so I'm not sure what you're asking. You can use any `creme` classifier as an input to the classifier chain.

[2020-09-17 06:57] MaxHalford commented on #344
Actually, I just thought of something. If you do this, can do it on the the-merge branch?

[2020-09-17 10:29] mihir-thakkar-ai commented on #344
Sure, I will do this on "the-merge" branch.

[2020-09-17 14:10] MaxHalford commented on #344
Thanks a lot for doing this 💯

[2020-09-17 14:10] #344 closed

[2020-09-21 21:17] qinlingzheng opened #354 "Predict precision/recall drop when data get bigger"
Hello,
I have been applying Creme to couple projects I am working on currently. They have all been working very well so far.
Recently, I applied some classification models to a different case with very big data. Data has 21 features used as converters, I noticed, when the observation is less than 10 million, the prediction accuracy is good. However, when the observation exceeds 20 million, the pre

[2020-09-21 21:44] raphaelsty commented on #354
Hello Jasmine,

It is difficult to answer your questions without being able to reproduce your experience. If it's possible to you to share the code of your cream pipeline, perhaps this could help us to find a solution.

In the meantime you could try to replace the ```preprocessing.StandardScaler``` with a ```preprocessing.MinMaxScaler``` to check that your experience is not linked to a sudden chan

[2020-09-22 02:01] qinlingzheng commented on #354
Thank you Raphaël,

Thanks for the quick response. I use the MinMaxScaler you suggested but with no improvement on the result. Final result gives precision = 0.5 and recall = 0.53. This is just like a blindly guess :(

Please see the code for Logistic Regression classifier bellow. Any suggestion will be great! Thank you.
`
REG = 'Regression'
BINARY_CLF = 'Binary'
MULTI_CLF = 'Multiclass'

# Read a

[2020-09-22 08:10] MaxHalford commented on #354
Hey @qinlingzheng! Just to be clear: your issue is that `progressive_val_score` returns different results than `skm.classification_report` when the dataset is large? In other words, it's not a problem with the model, right?

We've made a lot changes to the `metrics` module that aren't released yet, maybe that will help.

[2020-09-22 16:52] qinlingzheng commented on #354
Hello @MaxHalford,
Regarding `progressive_val_score` returning different results than `skm.classification_report`, this is one of the issues i have and I am currently using other ways to show results. Thanks for letting me know that there will be new version released soon.
My biggest issue is even when using `skm.classification_report` why the classifier returns a much more accurate prediction res

[2020-09-22 17:15] MaxHalford commented on #354
I'm not sure, it's really weird... Could you potentially save the `y_trues` and `y_preds` arrays and send them? Either here or by email to [maxhalford25@gmail.com](mailto:maxhalford25@gmail.com).

[2020-09-23 20:56] MaxHalford commented on #354
I've taken a look at the files you sent me. Your data is extremely imbalanced (0.0023% of 1s). Are you doing anomaly detection? I looked and it seems that the `1`s are somewhat spread out in time, therefore [HalfSpaceTrees](https://creme-ml.github.io/api-reference/anomaly/HalfSpaceTrees/) might work better for you.

I'm sorry but I can't do more without accessing the training set...

[2020-09-25 19:14] qinlingzheng commented on #354
Hello MaxHalford,
I am doing supervised learning currently, not anomaly detection. The supervised batch training results on the same data are very good so far, But our data are very large and will get bigger as time goes on, so incremental learning are explored to solve our case to ease the requirement on the memory. We tried unsupervised learning approach before even when using batch training, ho

[2020-10-03 03:30] mtanghu opened #359 "Scaler in pipeline not fitting"
## Versions

**`creme` version** :
0.6.1
**Python version** :
3.6.9
**Operating System** :
Windows 10

## Describe the bug

It looks like creating a pipeline with a StandardScaler() doesn't fit the StandardScaler for me. When I use the debug_one() it seems that the scaler always scales to 0.

## Steps/Code to Reproduce

Running this sample shows the issue I'm having with the scaler.

[code]
produc

[2020-10-03 08:13] MaxHalford commented on #359
This is not a bug, it's a feature :)

The unsupervised parts of a pipeline are fitted when `predict_one` is called. Basically, this is the optimal behaviour. Performance would be much lower if we updated the unsupervised parts only when the model is trained. Indeed, if the data is available during `predict_one`, then why wouldn't we updated the unsupervised part of the pipeline there and then?

If

[2020-10-03 08:15] #347 closed

[2020-10-03 12:20] etiennekintzler commented on #270
I've done some progress on the subject.

I compute the performances of all possible models from a given parameters grid and check where the best model selected by bandit procedure and successive halving procedure fall.

----

For example, for a given grid parameters and dataset, I'll plot the following graph:

![image](https://user-images.githubusercontent.com/17943873/94990912-b9230e80-057f-11eb-

[2020-10-03 12:29] MaxHalford commented on #270
Awesome work @etiennekintzler!

I think this is already great because it shows that successive halving isn't necessarily the best solution for online learning. I definitely believe that when we're done we can think about writing a technical report with all these (your) findings.

examples. If you don't this the bandit might fail to select good models.

Indeed I think allowing for a warm-up period

[2020-10-03 13:11] etiennekintzler commented on #270
haha thank you @MaxHalford but a big part of this work has yet to be done :smile:

I'll try to report here the first results within 1 or 2 months. I'll try to include 2 datasets with parameter grid from size ~ 10 to ~ 100 and multiple runs for each experiment to account for the stochasticity of e-greedy.

Yes the good thing about using bandit is that it fit well the online learning paradigm of cre

[2020-10-03 13:18] MaxHalford commented on #270
Indeed, that's the big selling point for bandits. One thing to note, however, is that in practice labels arrive with a delay. Therefore there has to be some mechanism for remembering which models made which prediction. Or not, maybe that the bandit selection only has to occur the training step, whereas the prediction is always made by the best model. Not sure if I'm being clear. There seems to be

[2020-10-03 17:41] mtanghu commented on #359
Oh I see, that makes sense! I appreciate the answer!

[2020-10-03 17:41] #359 closed

[2020-10-04 14:19] MaxHalford opened #360 "Balanced accuracy metric"
It would be nice to add the [balanced accuracy metric](https://scikit-learn.org/stable/modules/model_evaluation.html#balanced-accuracy-score) to the `metrics` module. This can implemented as the average of the recalls for each class.

[2020-10-05 16:02] Aaryanverma opened #361 "GPU or Multiprocessing support"
While training the pipeline on a large dataset, it takes so long time because of super slow for loop on training object. Multiprocessing or GPU support for training should be introduced in the pipelines in order to make this process faster.

[2020-10-05 16:31] MaxHalford commented on #361
Hey there, thanks for opening the issue.

Agreed, creme is rather slow at processing a large dataset. But processing a large dataset isn't what creme is meant for. creme is meant to process streams of data, where samples arrive 1 by 1. creme is much faster than any other Python library at this task.

The question is not how fast creme can process a dataset, but how fast creme can process a single

[2020-10-05 16:42] Aaryanverma commented on #361
okay, thanks for this info. I got my answer and closing this issue.

[2020-10-05 16:42] #361 closed

[2020-10-14 10:11] sid548 opened #363 "Prediction before fitting the data"
Hello,
I am having difficulty in understanding that why are we predicting first and then fit the data to model as opposed to batch learning where we will first fit the dataset and then it will be used for prediction.

[2020-10-14 10:23] MaxHalford commented on #363
Hello! What's the question?

[2020-10-14 10:26] sid548 commented on #363
from creme import compose

...     preprocessing.StandardScaler(),
...     linear_model.LogisticRegression()
... )

...     y_pred = model.predict_one(x)      # make a prediction
...     metric = metric.update(y, y_pred)  # update the metric
...     model = model.fit_one(x, y)        # make the model learn

In the above code, model.predict_one() is used before model.fit_one(). But I guess it shoul

[2020-10-14 10:26] raphaelsty commented on #363
Hello, if I understood your issue correctly, you wish to have more details on the validation method adopted by Creme.

In a Batch learning environment:

When you train a model on a set of training data, the model becomes a specialist on this data. You can't test your model on this data because it has learned it. You use what is called a validation set and/or test set to measure your model's abilit

[2020-10-14 10:36] MaxHalford commented on #363
@sid548 I recommend that you go through the [From batch to online](https://creme-ml.github.io/examples/batch-to-online/) chapter in the user guide.

[2020-10-14 11:53] sid548 commented on #363
Thanks a lot

[2020-10-14 11:53] sid548 commented on #363
Thanks a lot for sharing the article.

[2020-10-18 10:30] julienneross commented on #363
Does any of you have or a link to any data prediction that is already program? I would love to study it. Thanks!

[2020-10-23 13:01] deepankerkoul opened #369 "[BUG] Creme MultiClass classifier falls back on Binary Classifier and treats integer labels as Boolean"
## Versions

**`creme` version** : 0.6.1

**Python version** : 3.7.9

**Operating System** : Windows 10

## Describe the bug
While calculating losses for training a multi-class classifier, the code possibly falls back to binary classifier and thus treats labels as Boolean values causing the following type error:
```TypeError: The numpy boolean negative, the `-` operator, is not supported, use the

[2020-10-26 12:26] VaysseRobin commented on #369
Hello, ok I found the bug.
@MaxHalford in the creme.multiclass.ovr.py file on lines 62-63, we have:
[code]
And you have to turn it into:
[code]
Th bug occur with numpy when using the `-` on a boolean value.

[2020-10-26 13:09] MaxHalford commented on #369
Nice @VaysseRobin! Can you make a PR?

[2020-10-26 13:29] VaysseRobin commented on #369
Of course, I do it right now.

[2020-10-26 16:13] MaxHalford commented on #369
I'm also going to add a unit test to make sure that this never happens again. I'll pass numpy booleans to classifiers in the global tests and check that things work as expected.

[2020-10-26 16:13] #369 closed

[2020-10-27 14:47] MaxHalford commented on #360
Hey @sinAshish, cool!

You would need to create a `BalancedAccuracy` class and add it to the `metrics` module in a dedicated file. You can use the `Accuracy` metric as a template. What's important is that you add unit tests in the docstring to check that the implementation is correct. You also need to add the class name to the `__all__` variable in the `metrics/__init__.py` file. That's it! The cl

[2020-10-27 14:50] manesioz commented on #346
I can work on a PR for this if you're still looking for someone to pick this up

[2020-10-27 14:52] MaxHalford commented on #346
Yes that would be lovely! I've just started a new job so I have very little bandwidth for implementing new stuff atm. I'll always allocate time for reviewing PRs and advising though.

[2020-10-27 14:56] sinAshish commented on #360
Okay.
I can use the `Accuracy` class to see how to implement `BinaryAccuracy`.

[2020-10-27 14:57] manesioz commented on #346
Awesome. And our of curiosity, how will the merger affect this and subsequent PRs? Should we even bother adding new features or will that only make the merger more difficult?

[2020-10-27 15:00] MaxHalford commented on #346
Good question! The merger shouldn't have too much impact. The only significant difference is that we're going to rename `fit_one` to `learn_one` and `fit_many` to `learn_many`. You can make a pull request to the `the-merge` branch or to `master`, I'll sort out discrepancies myself :)

[2020-10-27 15:01] MaxHalford commented on #360
You can look at `Accuracy` to get an idea of what the implementation should look like in terms of structure. You can look at the [scikit-learn implementation](https://scikit-learn.org/stable/modules/model_evaluation.html#balanced-accuracy-score) to understand the math behind the balanced accuracy metric.

[2020-10-27 15:02] manesioz commented on #346
Sounds good!

[2020-10-27 16:21] sinAshish commented on #360
should I compute the confusion matrix before calling the BalancedAccuracy(), and make the matrix as a parameter for the metric? because I'm not able to figure out how to handle the `.predict_one()`

[2020-10-27 16:24] MaxHalford commented on #360
Actually now that I think about it, the `metrics` module has been revamped in the [`the-merge`](https://github.com/creme-ml/creme/tree/the-merge) branch. You can either look there, or wait a couple of weeks once we've merged it into master.

[2020-10-27 17:06] sinAshish commented on #360
yes, there has been a complete revamp of the code. And even the confusion matrix is being shared here.
So should I work wrt the `the-merge` branch or the current master or just wait?

[2020-10-27 18:11] MaxHalford commented on #360
Work on the-merge :). Indeed, the confusion matrix is shared. This has two benefits: 1) Computing multiple metrics is faster. 2) Using the confusion matrix eases the implementation of certain metrics.

[2020-10-28 17:26] sinAshish commented on #337
Hi,

I am not able to reproduce the error.
On running `pytest --doctest-cython --disable-warnings`
I get the following error:
[code]

[2020-10-28 20:05] MaxHalford commented on #337
Have you installed `pytest-cython`?

[2020-10-29 05:11] sinAshish commented on #337
yes it is installed already

[2020-10-29 08:58] MaxHalford commented on #360
Thanks @sinAshish, I've merged your PR :))

[2020-10-29 08:58] #360 closed

[2020-11-09 11:32] hashmiuk opened #381 "Error during installation"
Hello

Am getting the following error when am try to install creme in Jupiter notebook

pip install creme==0.6.1

ERROR: Command errored out with exit status 1:
   command: 'C:\Users\space\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\space\\AppData\\Local\\Temp\\pip-install-sf200tgc\\mmh3\\setup.py'"'"'; __file__='"'"'C:\\Users\\space\\AppData\\Local

[2020-11-09 11:37] raphaelsty commented on #381
Hello,

Other people encounter this difficulty when installing Python libraries with Windows.

It looks like you have to download Microsoft C++ Build Tools:

https://stackoverflow.com/questions/64261546/python-cant-install-packages

Raphael :)

[2020-11-09 12:10] MaxHalford commented on #381
Note that we've removed the dependency on mmh3 in the next release.

[2020-11-09 12:25] hashmiuk commented on #381
Thank you very much. It is working fine.

[2020-11-09 12:43] #381 closed

[2020-11-10 19:54] etiennekintzler opened #382 "Estimated coefficient seem wrong for some scalers"
**`creme` version**: 0.6.1
**Python version**: 3.7.7
**Operating system**: Ubuntu 20.04.1 LTS

## Estimated coefficients seem wrong for some scalers
I am currently doing simulations and the **estimated weight seem wrong for feature generated from normal distribution using scalers such as `MaxAbsScaler` or `MinMaxScaler`**.

Also :

- When generated from uniform distribution, it converges to the ap

[2020-11-10 22:55] MaxHalford commented on #382
Do you think this is a bug or just a downside of min-max scaling? It's rarely recommended to use min-max scaling for linear models anyway.

[2020-11-11 11:41] etiennekintzler commented on #382
I couldn't say whether it's a bug or if it's a downside of these scalers since I didn't delve into the internals of `fit_one`.

After thinking, the problem is **more the slow convergence with `MinMaxScaler` than the final estimated coefficients** (they do converge after 5000+ iterations).

The estimated coefficients for some scalers will indeed be different since the transformed feature range is d

[2020-11-11 17:15] kivo360 opened #384 "What will the new logo look like?"
The question in the title.

[2020-11-11 17:18] MaxHalford commented on #384
Patience my friend :)

[2020-11-11 17:19] raphaelsty commented on #384
My proposal was:

![4lzfqf](https://user-images.githubusercontent.com/24591024/98842740-4d6b7580-244a-11eb-80a9-05153197767c.jpg)

Not sure it's appropriate...

[2020-11-11 17:20] MaxHalford commented on #384
Hahaha! We actually have got a logo. I'm just waiting on the files.

[2020-11-11 20:46] etiennekintzler commented on #270
I benchmark the different methods (Bandits such as epsilon-greedy and UCB, Sucessive Halving) on simulated data (as a sanity check) and check how well they are able to select the best model. The best model being defined as the one that maximize cumulative reward. Oracle is used to get the percentiles of the cumulative reward over the models.

The conclusions for these simulation are the following

[2020-11-12 17:05] kivo360 commented on #384
DOPE!!!!

[2020-11-12 17:07] MaxHalford commented on #384
Glad you like it! In France, the 3-wave symbol is used to indicate a river :).

We'll make t-shirts when we reach 2k stars ;)

[2020-11-12 17:07] #384 closed

[2020-11-12 20:54] MaxHalford commented on #270
Looks good to me! It's nice that you benchmarked against a totally randomized method to verify that the bandit is actually learning something.

SH is more accurate, but it requires updating each model, whereas bandits only update one at a time, right?

What do you think about always predicting with the best arm, and calling the bandit only for picking which model to update. This is what is done in

[2020-11-12 22:32] etiennekintzler commented on #270
Yes, but I'd like to benchmark it on 1 or 2 real datasets.

Bandit update **one model at a time** yes !

Unless you fall on the "random" part of the epsilon greedy (in epsilon % of the time), the arm/models pulled in UCB and e-greedy is always the **best one according to a criterion** (vector Q).

The method `pull_arm` return both the best arm/model (according to the criterion) along with the pred

[2020-11-15 14:47] MaxHalford commented on #270
Hey @etiennekintzler, how would like to do a quick conference call to align? We might move forward faster than by written way :)

[2020-11-15 15:41] etiennekintzler commented on #270
Sure @MaxHalford, I sent you a mail with my info (at the adress in the code of conduct).

I've begun to work on the PR on a fork ; you can check the following file https://github.com/etiennekintzler/river/blob/bandits/river/expert/bandit.py , it might clarify what I am doing (it's not a definitive version ofc).

[2020-11-18 19:52] SikandAlex opened #389 "Where is the documentation?"
I can't access any of the documentation? I get a 404 on river.xyz and the documentation link in ReadMe which is limiting me from using this library for an online ML recommendation system.

[2020-11-18 19:55] SikandAlex commented on #389
I'm happy to help on this library but I'll need to understand the code better and even a minimal documentation would help me. I'd like to use river in the context of recommendation systems.

[2020-11-18 20:03] MaxHalford commented on #389
Hey, sorry for the disturbance. The [development documentation](https://riverml.xyz/dev/) is available. We were going to wait for the PyPI package to be released, but I don't see any reason not to build the docs for version `0.1` in the meantime. The docs are building as we speak, and should be available soon.

[2020-11-19 20:26] siniysv commented on #389
@MaxHalford Hey, just want to let you know that the link you posted is 404. No pressure, most likely you are working on it already. I would really like to explore this project, thank you!

[2020-11-20 05:43] SikandAlex commented on #389
@MaxHalford yeah the link is 404 but let us know when it's up so I can explore further and work with this library. I'm an MS Candidate in Artificial Intelligence at Boston University looking to build an online learning recommendation system with data received as a stream S opposed to batch updates. Really interested in the field of online machine learning and once I get a look at the docs happy to

[2020-11-20 08:35] MaxHalford commented on #389
It should be now... Basically the docs are available by default at [https://online-ml.github.io/river](https://online-ml.github.io/river). But because we're cool we've added a custom URL which is [https://riverml.xyz](https://riverml.xyz) (which is currently working, I just checked). Sometimes, when I push a new version of the docs, the custom URL gets dropped. I can't figure this out (maybe a wro

[2020-11-22 21:10] jacobmontiel commented on #389
The "development" documentation has changed its location to [https://riverml.xyz/latest/](https://riverml.xyz/latest/) and now the user is redirected to it by default.

Regarding the site configuration, everything seems to be working fine. What I noticed though is that the `CNAME` file was deleted during the deployment of the documentation into the `gh-pages` branch breaking the map between the do

[2020-11-22 21:45] MaxHalford commented on #389
Where's the `CNAME` file? Is it something we have to version?

[2020-11-23 00:32] jacobmontiel commented on #389
It is in the gh-pages branch: https://github.com/online-ml/river/blob/gh-pages/CNAME

Found this [here](https://docs.github.com/en/free-pro-team@latest/github/working-with-github-pages/troubleshooting-custom-domains-and-github-pages#cname-errors):

[2020-11-24 08:07] #340 closed

[2020-11-24 08:07] #314 closed

[2020-11-24 08:08] #302 closed

[2020-11-24 08:09] #251 closed

[2020-11-24 10:14] MaxHalford commented on #389
Ok I added the `CNAME` file to the docs directory, it should do the trick :)

[2020-11-24 10:14] #389 closed

[2020-11-24 10:53] mfsuve opened #392 "Multinomial object while using RandomForest gives Attribute Error"
---
name: Bug report
about: Multinomial object while using RandomForest gives Attribute Error
title: Multinomial object has no attribute keys
labels: RandomForest, Multinominal, AttributeError
assignees: ''

---

## Versions

**river version**: 0.6.1
**Python version**: Python 3.8.5
**Operating system**: Windows 10

## Describe the bug

In some cases when using `RandomForestClassifier`, `Categoric

[2020-11-24 11:04] MaxHalford commented on #392
Can you please install `river` by running `pip install git+https://github.com/online-ml/river --upgrade` and try again? You're using `creme`, which is the ancestor of `river`.

[2020-11-24 11:25] mfsuve commented on #392
I ran that command and I got this error.
[code]
It has also a bunch of logs above that error message.

[2020-11-24 12:15] JPalm1 opened #393 "Adaptive Random Forest Regressor/Hoeffding Tree Regressor splitting gives AttributeError"
## Versions

**river version**: River 0.1.0
**Python version**:Python 3.7.1
**Operating system**: Windows 10 Enterprise v1803

## Describe the issue

Have been playing around with River/Creme for a couple of weeks now, and it's super useful for a project I am currently working on. That being said, I'm still pretty new to the workings of the algorithms, so unsure whether this is a bug or an issue w

[2020-11-24 12:28] MaxHalford commented on #392
Do you have GCC installed?

[2020-11-24 13:29] MaxHalford commented on #393
@smastelini I guess this is for you :)

[2020-11-24 14:49] smastelini commented on #393
Hi @JPalm1! Thanks for the detailed explanation. I'll check your provided example to try reproducing the same error. From your description, it does sound like a bug.

[2020-11-24 15:34] smastelini commented on #393
Hi again :)

I've created #394 to fix the issue. If I may, let me put in my two cents regarding this situation:

- The way `progressive_val_score` deals with delayed labels is by not calling `learn_one` in the underlying learners when the label is missing.
- Your problem most probably arises because in your implementation `y=None` is passed to the learners. Due to the "it's better to ask forgivene

[2020-11-24 16:56] JPalm1 commented on #393
Hey, @smastelini - thanks for looking into it!

That explanation makes sense. Just to note: I'm not set up to use `evaluate.progressive_val_score` - I haven't set everything up in a pipeline yet, I am just doing the 'standard' approach of iterating through my data points, predicting for each and then evaluating if the delay time has been exceeded. Therefore I'm calling `learn_one(x, y)` on the ARF

[2020-11-24 17:53] smastelini commented on #393
My bad! I missed one additional place to protect the trees. The fix is in place.

Anyhow, my point is that the error appears because only valid labels should be passed to the learning models. I am assuming that `None` is being passed as target to the trees in your custom implementation. Am I wrong?

[2020-11-24 18:33] JPalm1 commented on #393
Yes, you're right - sorry, I was being slow.

Thanks for sorting that - the ARFR now runs fine and doesn't trip up for my input data.

I do get an exception when I run the HAT, line 208 of `heffding_adaptive_tree_regressor.py` due to division by zero. I am unsure whether this is related to the initial issue, but this seems like a simple fix. (I'm not set up with a proper build environment, hence j

[2020-11-24 19:51] smastelini commented on #393
Thanks for reporting that!

That's interesting, indeed. From my understanding, the division error happens because the list of found nodes is empty. So, in summary, your solution is correct :)
But here's the problem, if the tree root is not `None`, then either one of these portions is reached:

1. If the root is a leaf: https://github.com/online-ml/river/blob/e5c31a6c846ebebcd5669348a4980b73e8da634

[2020-11-24 21:38] JPalm1 commented on #393
Hm, that is interesting. I'm also confused as to why the length is zero... In 2. is it possible for `child_index<0 & self._alternate_tree == None`?  That's the only thing I spotted in your code snippets, at least. I will step through my code tomorrow and let you know if I find anything more.

For my data, I have encoded the categorical variables to be numerical values, but the feature set is quite

[2020-11-25 01:56] kivo360 opened #395 "Update Main Page Documents From Online-ML to"
## Versions

**river version**:
**Python version**:
**Operating system**:

## Describe the bug

## Steps/code to reproduce

Go to the main page and you'll see the link [Documentation](https://online-ml.github.io/) and [much more](https://online-ml.github.io/content/api.html). They should redirect to https://riverml.xyz/. Though, when I go to that it raises some troubles too.

[code]

[2020-11-25 07:49] MaxHalford commented on #395
I'm working on it :). See the [issue](https://github.com/jimporter/mike/issues/29#issuecomment-733147957) on the mike project.

[2020-11-25 08:08] mfsuve commented on #392
I don't think I have. I am using Windows, how can I install it?

[2020-11-25 10:31] JPalm1 commented on #393
Hi @smastelini, just had a step through, and it seems my hypothesis yesterday is correct. In the case where `found_nodes==0`, the variables `child_index==-1` and `self._alternate_tree==None`. For my case, this happened in the first recursive call: ie after line 287 had been called once.

Again, I'm unsure whether this is a bug, or whether my setup is causing the issue.

[2020-11-25 10:46] smastelini commented on #393
Hi @JPalm1!

Yes, it is! `_alternate_tree` is `None` if a concept drift was not detected yet. Hoeffding Adaptive Tree Regressor (HATR) starts training another tree in the background once a drift is detected. This is the alternate tree. Hence, in a stationary problem, we expect that the alternate tree will always be empty. The fact that the children index is smaller than 0 means that no branch was

[2020-11-25 10:48] smastelini commented on #393
You can check `compose.SelectType` for that! :D

Please, also check the examples section of iSOUPTreeRegressor to see that in action.

[2020-11-25 10:56] smastelini commented on #393
I think I found your culprit :D

https://github.com/online-ml/river/blob/0f77d9697cf0d70de4deb5e003ad4354e9ea0f2b/river/tree/_attribute_test/numeric_attribute_binary_test.py#L13-L15

The branching returns `-1` if a split feature is absent from your instance. Such an interesting case that is prone to happen in real-world situations! I am quite happy about facing this challenge hahaha
Using a sparse

[2020-11-25 11:25] JPalm1 commented on #393
Stepping through, the x at the tree level seems to be all numerical (I remove the None variables before interacting with the model). But could this be the case still if the models assume that features not present in the dictionary, that have been present before, are 'None'?

It's interesting that numerical features are also classed as categorical, which explains the error I'm seeing here:

Will ho

[2020-11-25 11:55] smastelini commented on #393
Yes! This corner-case did not happen before in skmultiflow because we always assumed all features were presented. I added a fix in #394. Since what started with ARFReg ended up being related to missing data handling and sparse representations, I will update the description of the PR.

@JPalm1, could you please check if the fix works for you?

[2020-11-25 17:01] mfsuve commented on #392
OK, after a day of just researching about this, I think I finally managed to install river. For anyone who struggles as I did, I first downloaded [Build Tools for Visual Studio 2019](https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=BuildTools&rel=16), after installing it, I chose _C++ build tools_ and installed _MSVC v142 - VS 2019 C++ x64/x86 build tools_ and _Windows 1

[2020-11-25 17:27] JPalm1 commented on #393
The HATR is now running smoothly for me with no errors - thanks for taking the time to look into this @smastelini !

It's not giving me the best predictions, however, but that's on me to investigate... :)

[2020-11-25 18:04] smastelini commented on #393
No worries @JPalm1! It was a nice adventure :)

Just keep in mind:

- If a decision node receives an instance (plus a label), but the split feature is not present, the tree does not utilize all the information in `x` for learning purposes. It simply stops the tree update in the last manageable node.

In your case, a feature that does not appear very often might be very relevant for your problem.

[2020-11-25 18:06] #392 closed

[2020-11-25 21:48] #395 closed

[2020-11-26 00:33] jacobmontiel commented on #393
Well, that was quite some reading. Thanks to all involved in the interesting discussion.

Missing data is unavoidable in real-world applications. My comment is in two main aspects:

1. regarding this particular case. When the data dictionaries are created some features are skipped, which results in missing data as the tree has "seen" those features in the past, in other words, they are not "emergi

[2020-11-26 18:11] MaxHalford opened #398 "Support mini-batches in the naive_bayes module"
I believe that it shouldn't be too difficult to upgrade the models from the `naive_bayes` by allowing them to process mini-batches (i.e. pandas DataFrames), just like what we do in the `linear_model` module and in `preprocessing.StandardScaler`. Indeed, Naive Bayes models essentially boil down to "counting". The one model that might need to be refactored a bit more is the `GaussianNB`.

Of course,

[2020-11-26 18:16] MaxHalford opened #399 "vaex integration example"
[vaex](https://github.com/vaexio/vaex) is a very powerful data processing tool. This [Medium article](https://towardsdatascience.com/ml-impossible-train-a-1-billion-sample-model-in-20-minutes-with-vaex-and-scikit-learn-on-your-9e2968e6f385) on how they process 1 billion samples in 20 minutes with scikit-learn's `SGDClassifier` is mind-blowing. Now that we support mini-batches, and in particular pa

[2020-11-26 18:19] MaxHalford opened #400 "Activating mypy on CI"
We've made great strides to add type hints to our code. However, we're not done yet. Running [`mypy`](http://mypy-lang.org/) still raises errors. It would be great to spend some time and finish tidying up our code to satisfy `mypy`. I can then `mypy` to the tests workflow in the CI.

[2020-11-26 18:41] smastelini commented on #400
+1 to that!

[2020-11-27 09:57] JPalm1 commented on #393
Thanks for the replies @smastelini  , @jacobmontiel.

For my specific case, having played around with the model the past day or so, the accuracy seems to be lower than other models I have implemented/baselines I have calculated - so potentially the sparsity of data, and thus not utilizing the full feature set, is causing me issues as you suspected. I do need to tune hyperparameters though, an whic

[2020-11-27 10:32] JPalm1 opened #401 "You cannot use Hoeffding Tree Regressor as the leaf model of Adaptive Random Forest's trees"
## Versions

**river version**: 0.1.0 + PR #394
**Python version**: 3.7.1
**Operating system**: Windows 10 Enterprise v1803

## Describe the bug

Found this morning. Trying to build an ARFR + HT/HAT as the `leaf_model` and I get the following exception:

"TypeError: learn_one() takes 3 positional arguments but 4 were given" @ Line 133 `htr_nodes.py`

Is this excpected (ie is a forest of HT regress

[2020-11-27 11:41] smastelini commented on #401
Hi @JPalm1.

The error happens because of this line.

https://github.com/online-ml/river/blob/4466595fcae1d6b6843dc874637f89354bacc43b/river/tree/hoeffding_tree_regressor.py#L202

The trees were designed so that if you want to use sample weights, you should specifically state that, i.e., using a keyword argument. So, in short, you currently cannot create an RF where the trees' leaves are also incr

[2020-11-27 18:04] MaxHalford opened #402 "Ordinal regression loss functions"
As anyone who reads this might, there's classification and regression. There's a special case of regression that some people call "ordinal regression". This involves predicting a number (regression, duh), but on an ordinal discrete scale. For instance, in the IMdB dataset, the goal is to predict a rating that is in {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}. In other words, ordinal regression is a mix of

[2020-11-27 22:06] smastelini opened #403 "Create tests to check for emerging and absent input features"
Dictionaries are an efficient and flexible input representation to deal with online machine learning. They are also sparse by nature.
All of these characteristics are powerful allies of online machine learning researchers and practitioners.

However, we need to make sure that the current algorithms and upcoming ones do not break if new features emerge or are extinct (temporally or not). More than

[2020-11-27 22:26] MaxHalford commented on #403
Good idea! I'll take this one :)

[2020-11-30 12:56] smastelini commented on #393
Hi @JPalm1. You might get some performance boost due to the last changes implemented in #394. Please, let me know if the models indeed improve in your setup.

[2020-11-30 19:28] #393 closed

[2020-11-30 21:09] MaxHalford opened #410 "Linear models non-idempotent when shuffling features"
I just found out a silly issue that happens when a linear model used the `Random` initializer. The model's outputs will be sensitive to the feature order because of the way the initializer is called. Indeed, the order depends on the order of the `dict`, and isn't deterministic (like alphanumeric order).

@brcharron could you look into this? Here's the code to reproduce:

[code]

[2020-12-01 08:58] MaxHalford opened #412 "Tests to check for clone idempotency"
We now have a `clone` method. I've added a single test to `base/test_base.py` to check that a clone is idempotent. Idempotency happens when the clone produces exactly the same results as its origin. If the origin is seedable (it has a `seed` parameter somewhere), then we expect idempotency.

We need to write a automated test that:

1) Checks if a model is a seedable, and if so sets the `seed`.
2)

[2020-12-01 11:38] JPalm1 commented on #401
Hi @smastelini , thanks for the reply! I wasn't sure whether it was due to an issue in the codebase or a restriction in the behavior available, so I appreciate the explanation. In a few papers I have read, I have seen the HT be used in an adaptive random forest, so it could be a good potential feature, although I don't know the overhead cost needed to implement such a feature.

[2020-12-01 11:42] JPalm1 commented on #393
Hi @smastelini, after pulling the changes, there doesn't appear to be any major accuracy improvements in the HT. Thanks for letting me know though! Will keep an eye out for any improvements.

As a side not, do any of the changes you have implement affect the HST anomaly detection tree? Previously, I was able to input dictionaries of changing lengths (due to some inputs being NaN) - now when I do t

[2020-12-01 12:30] smastelini commented on #393
Hi @JPalm1, this question is out of the scope of the decision tree module. Could you please open another issue to directly tackle this problem?

Meanwhile, @MaxHalford do you have any idea of what might be happening?

[2020-12-01 12:51] smastelini commented on #401
Hi @JPalm1, thanks for the response. I think now I see your point. Maybe you are confusing some concepts. Let me explain:

The adaptive random forest indeed uses HT as its base model. In other words, the forest is composed of multiple HTs. They work slightly differently than the vanilla HT because each leaf node only monitors a subset of features. Indeed, Random Forest (online and batch ones) work

[2020-12-01 14:03] brcharron commented on #410
@MaxHalford Thank you for the complete example. What do you think should be the expected behavior?
Sorting keys (features) before any operation that can induce initialization is possible but it may add significant overhead and to my understanding, any object can be a key, there may not be a total order.

[2020-12-01 15:14] MaxHalford commented on #410
Thanks for challenging me on this. There's no correct answer, or so it seems to me right now. In an ideal world, we want every model to be idempotent with respect the order of the features in the `dict`.

Maybe that we can do something like sorting the features lexigraphically only when there is at least 2 new features that need weight initialization (such as during the first call to `learn_one`).

[2020-12-01 22:20] MaxHalford commented on #393
Yes the half-space trees don't work if a feature that is used in a node split is missing. It's a bit the same problem. I could cook something up :). I'll create an issue to keep track of this.

On a side note, @smastelini, I noticed that you put all the base tree code from creme into `anomaly/base.py`. I guess in the future we want to have a common code for all tree related models? :)

[2020-12-02 00:00] smastelini commented on #393
Hey @MaxHalford. During the merge I kept the basic tree structure shared by the previous decision tree and HST. I moved it to the anomaly submodule because it is the only place where this structure is used now.

Ideally we should use a single shared tree representation. It's on my plans to bring another family of tree learners soon to river, and they do not fit on the current conventions defined b

[2020-12-02 09:16] MaxHalford opened #413 "Make half-space trees robust to missing features"
`HalfSpaceTrees` in the `anomaly` are not robust to missing features. We are currently investigating our codebase to make sure that all models are robust to emerging/missing features (see #403). I'll try to take care of this. I'll also add some unit tests that apply to anomaly detectors.

[2020-12-03 12:32] brcharron commented on #410
That's a good point, I was wondering how to change `VectorDict` but your requirement is at the model level so it can be taken care of by the model. It's not only at the first call of `learn_one` I think, a second call may include features not seen in the first call. So maybe first check whether there are new features and if so reorder the input `x` then apply `learn_one` as usual. If the reorder f

[2020-12-03 14:10] MaxHalford commented on #410
Thanks for being a soundboard, it helps a lot. I'll think about it a bit more. Maybe that it's something that needs to be handled in the initializer.

[2020-12-03 15:29] pardont opened #414 "Is there any way to save or convert model to tensorlfow pb model ?"
Is there any way to save or convert model to tensorlfow pb model? I try to classify image, much slow than tensorflow.

[2020-12-03 15:59] MaxHalford commented on #414
Alas, River is really not suited for image classification. It's not the kind of workloads we're looking to solve.

[2020-12-04 01:00] pardont commented on #414
hi MaxHalford, thank for your reply, is there any way to save or convert model to other model? such as tensorflow, caffe or pytorch.

[2020-12-04 08:35] MaxHalford commented on #414
Which model are you talking about? Why would you want to do that?

[2020-12-04 17:36] chartpath commented on #389
Still can't access them on the custom domain (or the links at the bottom of Getting Started are broken).

[2020-12-04 17:55] MaxHalford commented on #389
The website [is live](https://riverml.xyz/latest/), but indeed some links are broken. I'll fix them :)

[2020-12-04 18:32] chartpath commented on #389
@MaxHalford thanks!

For any other disparate folks I just ran a static build at least to see the markdown files, can access here in the meantime: https://github.com/chartpath/river/tree/master/docs

[2020-12-05 03:17] microprediction opened #415 "Question"
Probably a dumb question but what would the example in the docs here:
https://github.com/online-ml/river/blob/master/river/time_series/snarimax.py
or perhaps the example https://github.com/online-ml/river/blob/master/docs/examples/quantile-regression-uncertainty.ipynb look like if there was no exogenous variable?

I'm a little confused as to the canonical way to establish a simple univariate ARIMA

[2020-12-06 00:58] SikandAlex commented on #415
Not trying to be mean or anything @microprediction but that's a terrible title for your issue. It may be resolved faster if you rename it.

[2020-12-08 00:19] MaxHalford commented on #415
Hey @microprediction you just have to omit `x`. I agree that we should put more effort in the docs regarding the `time_series` module, it just isn't a priority as of now.

[2020-12-10 15:19] pardont commented on #414
My thoughts：
the speed to classify image is low,  because river model contains structures and paramenters for online learning.  can we convert the trained model to a simple one to improve the predict speed.  just like teacher-student mode.

[2020-12-10 18:15] MaxHalford commented on #414
Sorry but this is really not clear and needs framing. You're going to have to provide more detail.

[2020-12-10 18:16] #414 closed

[2020-12-11 08:52] sbuschjaeger opened #419 "How to get the memory consumption of trees?"
Hi,

I am currently playing around with `HoeffdingTreeClassifier` and `ExtremelyFastDecisionTreeClassifier` and ensembles of those (e.g. `BaggingClassifier` and `SRPClassifier`). I want to compare the memory consumption of these algorithms for different hyperparameter settings against some batch scikit-learn classifier / my own method. My own method is implemented in C++, whereas scikit-learn is i

[2020-12-11 10:31] sbuschjaeger commented on #419
Hey, thanks for the quick reply. From a framework / maintainers perspective you are completely right! Such a method would be way to specific. However, I was asking more about this rather specific use-case. I guess I could use `_memory_usage_raw`, but how much overhead would that report compared to a vanilla implementation of e.g. `ExtremelyFastDecisionTreeClassifier` in C++?

Don't get me wrong, I

[2020-12-11 10:55] MaxHalford commented on #419
I'm not sure I understand 100%. What overhead are you talking about? `_memory_usage_raw` gives you the size of each attribute that makes up the class, that's it.

Indeed, we're not ready for big data yet :)

As you imagine there's two aspects to this:

- the theoretical complexity (both in terms of memory and computation)
- the performance of the implementation language

I guess that if you want t

[2020-12-11 12:21] smastelini commented on #419
Hi @sbuschjaeger and @MaxHalford. I usually measure memory using the generic approach because my experiments cover tree implementations from river/skmultiflow. For a specific case, multiple aspects should be considered. The choice of the leaf predictor, grace period, tie-threshold, and memory-management parameters, ought to impact the model size.

However, I do think that from an "asymptotic" (of

[2020-12-11 12:24] MaxHalford commented on #419
Maybe it wouldn't be unreasonable to implement a generic tree method that counts the total number of attributes in a tree. We could produce a dictionary that records the total number of values per type:

[code]

Just thinking out loud :)

[2020-12-11 12:29] smastelini commented on #419
I like this idea, @MaxHalford. Note that we already provide a somewhat similar utility that accounts for the number of decision nodes, active and inactive leaves, the tree depth, and so on. This function even returns the data formatted in a dictionary.

[2020-12-11 12:32] MaxHalford commented on #419
A really nice feature of [onelearn](https://github.com/onelearn/onelearn) is that you can produce a pandas DataFrame where each row is a node. The columns give a varied amount of information: the tree the node belongs to, the split information, etc. So, instead of accessing attributes directly, you get all the information you want in a nice and tidy table. This could be a nice thing to have :)

[2020-12-11 12:32] sbuschjaeger commented on #419
Hey thanks for the reply.

Regarding EFDT: I know that EFDT convergence faster, but is not necessarily faster as a method. The question is what setting you want to look at. Do you learn in a streaming setting, where new items occur relatively slow (e.g. every few seconds) or are you more in an online learning setting where you iterate multiple times over a given data-set to construct the classifie

[2020-12-11 13:00] smastelini commented on #419
You are right about decision nodes. Active nodes maintain a predictor (in your case `mc`) and attribute observers (AO). AOs monitor the relationship between input features and the target and decide upon the best split decision for a feature. Inactive nodes do not monitor the features. In other words, the active nodes might be split at some time. Inactive nodes are primarily used to save memory and

[2020-12-16 00:56] raphaelsty commented on #398
I'll take care of it.

I'm wondering about the data entry format for Naïve Bayes in mini-batch mode. I share here my intuition while waiting for confirmation.

I think that a *Term Frequency* dataframe is the input adapted to the Naïve Bayes model in mini-batch mode. It seems to me that it is the most coherent data structure compared to the type of input we chose for the incremental version: `coll

[2020-12-16 01:04] MaxHalford commented on #398
I think it's fine to start with having `process_text_many` just loop through the documents and call `process_text`. People can use scikit-learn's `CountVectorizer` and `TFIDFVectorizer` in addition to our `BagOfWords` and `TFIDF`.

[2020-12-16 01:10] MaxHalford commented on #398
@raphaelsty could you look into using [a sparse dataframe](https://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html)? Naive Bayes just requires "counting" so you should be able to work with a sparse dataframe :)

[2020-12-16 01:14] raphaelsty commented on #398
Of course :)

[2020-12-16 16:22] raphaelsty commented on #398
What about this format for prediction? 🙂

[code]

[2020-12-16 16:24] MaxHalford commented on #398
Yes perfect! Just make sure that the outputs have the same index as the input.

[2020-12-17 18:15] hans-ekbrand commented on #33
So, how do one use this feature, is it documented anywhere?

[2020-12-17 18:33] MaxHalford commented on #33
At the moment there's only a little example [here](https://riverml.xyz/latest/api/preprocessing/LDA/).

[2020-12-25 22:49] etiennekintzler commented on #270
Hey @MaxHalford, I run accross this paper: [Online Model Selection:  a Rested Bandit Formulation](https://arxiv.org/pdf/2012.03522.pdf) which problematic is really close to what we're trying to do here.

You might want to check this out ; it's mainly theoretical but it still interesting to see how they lay out the problem. Also they said that they are planning to do experimental analysis in future

[2020-12-26 00:11] YRussac commented on #270
Hi everyone,
The author of this paper is one of my friend and the topic is closely related to what I am doing in my PhD if you want more information about the paper i am happy to discuss it.
Enjoy your holidays !

Yoan

[2020-12-26 13:20] dileepkumarg-sa commented on #170
hi, how to use pandas dataframe? Importantly, selected features in X and target variable in y?

[2020-12-26 16:48] MaxHalford commented on #170
@dileepkumarg-sa there's an [`iter_pandas`](https://riverml.xyz/latest/api/stream/iter-pandas/) method.

[2020-12-26 20:57] MaxHalford commented on #270
I just finished reading the paper, it's really good. It's uncanny how this is exactly what we're trying to do.

In an ideal world, we could ask the authors to perform the "experimental analysis" they refer to with River. The same goes for you @YRussac: we would love to see the stuff you've worked on implemented in River. But I don't know what everyone's plans are. The only thing that's clear to me

[2020-12-26 22:37] YRussac commented on #270
Hi everyone,
I think that this is a great idea. I can try to organise a call with Leonardo this should not be a problem. Let’s discuss this more into details after the Christmas holydays ?
Your work is pretty exiting !
Yoan

[2020-12-28 08:39] markoarnauto opened #427 "tsfresh support"
I was wondering how to integrate [tsfresh](https://github.com/blue-yonder/tsfresh) into river?
According to the [docs](https://tsfresh.readthedocs.io/en/latest/text/forecasting.html) it is intended for online-learning.

[2020-12-28 09:29] MaxHalford commented on #427
I didn't know tsfresh pursued this direction. However, I'm afraid that it's somewhat incompatible with what we're doing. What they're doing is that they produce a batch of features at every time step. I imagine that you could retrain a model for every batch that tsfresh gives, but that wouldn't be true online learning. The River philosophy would instead be to "yield" a single observation every tim

[2020-12-29 09:58] katreparitosh opened #428 "Request to update the hyperlinks from Getting Started page of Website"
Hello,

Just a gentle request/reminder to update the hyperlinks to API Reference, User Guide, Examples, etc. from the last paragraph of [Getting Started](https://riverml.xyz/latest/getting-started/getting-started/) page of the website.

[2020-12-30 09:20] chetanambi opened #429 "Error during installation on Windows"
Hi - I am trying to install river on Windows machine but running into below error message. Error message says Microsoft Visual C++ 14 or higher to be installed. And  it is already installed on my machine. But still I am running to error.

**river version**: latest version
**Python version**: 3.9.1
**Operating system**: Windows 64-bit

**Error message**
------------------
-------------------
copyin

[2020-12-30 11:56] MaxHalford commented on #429
Hey!

See [this](https://github.com/online-ml/river/issues/381) thread!

In a couple of weeks (hopefully), we'll be able to build wheels, which means that you won't need to compile the library yourself. In the meantime, you need to install the C++ build tools.

[2020-12-30 11:56] #429 closed

[2020-12-30 12:04] athammad opened #430 "Understanding predict_many & forecast"
Hi,

I have 8 years and 6 months of daily weather data (temperature, humidity, rain, wind, rain etc.). In the last 1 year and 6 months, I don't have values of rain. Hence, I would like to train a model based on the first 7 years of complete data and predict rain's missing values. I really like your project philosophy, and I believe this is the most suitable approach to solve time series prediction

[2020-12-31 08:26] katreparitosh opened #431 "Incremental Learning for DL architectures, BERT based models"
Hello,

First of all, fantastic work with River!

I wanted to ask whether River would support Keras/PyTorch/Tensorflow, etc. for incremental learning on BERT-based models or DL architectures.

It would be great if you could elaborate on what would it take to implement this functionality for the above models. Also, how different would it be to implement it for non-linear models?

Kudos, amazing wor

[2020-12-31 10:07] MaxHalford commented on #431
Hey there.

There's a `PyTorch2RiverRegressor` class in the `compat` module. As a general thought, deep learning models are incremental in nature because they learn from mini-batches and don't require the whole dataset in memory. I'm not sure there's a lot for us to bring in this area.

Thanks for the kind words and the interest.

[2020-12-31 10:07] #431 closed

[2020-12-31 10:47] MaxHalford commented on #430
Hello there, thanks for the interest.

In my opinion this is not the right tool for your task. The period of 1 year and 6 month is too long to frame things as a time series problem. If I were you, I would frame this as a straightforward batch learning problem: train on the first 7 years, then predict the missing rain values.

It's a classic blunder to believe that time series data has to be approa

[2020-12-31 10:48] MaxHalford commented on #428
Hey! It's my bad, I thought I'd done this :(. I just checked with [deadlinkchecker.com](https://www.deadlinkchecker.com/website-dead-link-checker.asp) and we have a lot of dead links. I'll get this fixed... next year :). I'll take care of this @smastelini :).

[2020-12-31 10:48] #415 closed

[2020-12-31 21:08] microprediction opened #432 "Warn user if m=0 in SNARIMAX"
I suggest warning the user if m=0 in SNARIMAX, or perhaps just interpreting m=0 or m=None as m=1 ??

Reproduce behaviour here by setting m=0 [notebook](https://github.com/microprediction/timeseries-notebooks/blob/main/river_hello.ipynb)

[2021-01-01 08:24] katreparitosh commented on #431
Hey

Thanks a lot for the information.

I will look into it and let you know if I have any issues.

[2021-01-03 22:23] ptyshevs opened #433 "Multioutput Regression"
[code]

This model seems to support only a single-output `y`. Is there any way to make it more general?

As far as I understood, current only option will be to use `river.multioutput.RegressionChain`, which is not suitable in my case.

[2021-01-03 23:56] MaxHalford commented on #433
Hello!

Could you please provide more detail as to why `RegressorChain` is not suitable?

[2021-01-04 08:30] ptyshevs commented on #433
@MaxHalford  the only thing that bothers me is that for each output previous output is used as a feature.

Given m features at time t, I am building a model to predict features at time t+1. Hence, there are m inputs and m outputs.

[2021-01-04 08:33] MaxHalford commented on #433
I still don't see why you can't use RegressorChain. Maybe you could provide a more detailed example and point out what's failing? In any case, RegressorChain is the only multioutput model for regression.

[2021-01-04 08:59] ptyshevs commented on #433
@MaxHalford oh, sorry, I misunderstood your question. It is not that I cannot use RegressorChain -- it works fine. It's more that I don't want the specific chaining logic to happen, since prediction of feature X_1 should not go as input to predictor of feature X_2.

If there is no other option, it's totally fine, I just need to confirm that that's the case.

[2021-01-04 10:48] MaxHalford commented on #432
A PR is welcome :)

[2021-01-04 10:49] chetanambi opened #434 "Does River support deep learning models?"
I am new to Online (incremental) learning. I have the model built using keras/tensorflow. I wanted to know in order to implement incremental learning, River supports only the algorithms are part of River? I did look into River documentation and it seems we can use incremental learning only with the models that are implemented in River. Can you please let me know.

[2021-01-04 10:49] #427 closed

[2021-01-04 10:50] #363 closed

[2021-01-04 11:07] MaxHalford commented on #434
Hello. River's primary focus is not on deep learning models. There's a little utility to run `PyTorch` models in the `compat` module but it's nothing serious.

Just to be clear: neural networks are already incremental because you train them with mini-batches.

[2021-01-04 11:07] #434 closed

[2021-01-04 12:43] smastelini commented on #433
Hey everyone, I'm a bit late on this discussion.

@ptyshevs, you can also rely on `tree.iSOUPTreeRegressor` for multi-target regression.

In the future we might add a `MultiOutputRegressor` wrapper (as in sklearn and in the legacy skmultiflow) to create a independent model per target.

Cheers!

[2021-01-04 14:40] microprediction commented on #432
Will do. And I was planning on more substantive PRs, but I have one philosophical question. Do you want algorithms that sporadically fit under the hood but take on the interface of a streaming algorithm, or would that pollute the library?

Example: An algorithm that fits once every 1000 data points.
Example: A loss function that is computed every 1000 data points.
I can't find a streaming version

[2021-01-04 16:38] #433 closed

[2021-01-04 17:37] MaxHalford commented on #432
Refitting models on a schedule is out-of-scope of River. There's `learn_many` and `predict_many` but that's for processing a mini-batch of data.

[2021-01-04 21:14] MaxHalford commented on #270
The first brick has been implemented and merged, big thanks to @etiennekintzler for the effort! I'm closing this now.

[2021-01-04 21:14] #270 closed

[2021-01-05 04:01] microprediction commented on #432
That makes sense. The scope would explode otherwise.  I'll take a closer look at online energy and W distance.

[2021-01-05 14:42] MaxHalford commented on #428
Fixed 👍

[2021-01-05 14:42] #428 closed

[2021-01-05 15:58] #413 closed

[2021-01-05 20:45] charliec443 opened #437 "Is there a way to export Tree models?"
Hi,

I'm just wondering if there is a straightforward way to export tree models to scikit-learn style interface so that we can leverage other libraries like:

* shap - if you see here: https://github.com/slundberg/shap/blob/master/shap/explainers/pytree.py if the tree model is in a supported format then we can use this library out of the box
* in the previous scikit-multiflow, one could export rul

[2021-01-05 22:48] MaxHalford commented on #412
Ok I did this! I had to refactor `_get_params` and `_set_params` (which is a good thing).

[2021-01-05 22:48] #412 closed

[2021-01-06 02:26] appcrawler opened #438 "Is any kind of distributed processing on the roadmap?"
I love this framework.  It's simple and has tons of functionality.  I stood up a Flask endpoint in front of the predict_one_method, and it occurred to me: have you considered anything around making it highly available in a distributed way?  For example, I used your reco class.  I am pulling a stream of changes from Kafka.  If I send a user and movie for a recommendation score and have two servers,

[2021-01-06 02:57] MaxHalford commented on #438
Thanks for the kind words, it always means a lot. It's nice to see appreciation for our quest for simplicity :)

I wrote [chantilly](https://github.com/online-ml/chantilly) a little while as a proof of concept of how to deploy an online model. It's cute and simple but doesn't deal with the distributed part that you're mentioning.

I've been giving this some though over the holidays... Currently, I

[2021-01-06 16:15] #244 closed

[2021-01-07 12:26] smastelini commented on #437
Hi @chappers, unfortunately our tree models are not currently compatible with sklearn's. It's in our plans to optimize some aspects of the trees but it's not trivial to use the same array-based structure adopted by sklearn in online tasks. This strategy might not be the most suitable one for incremental trees (that's something we intend to check).

That said, it's also in our plans to bring rule-b

[2021-01-14 02:18] jacobmontiel commented on #437
As mentioned by @smastelini the new implementation of the trees in `river` is different from what we used in `scikit-multiflow`. This is down to optimization for the instance-incremental setting. That being said, existing rules methods are likely to follow a similar refactoring. However, the functionality to retrieve the rules will remain. A potential issue is that predicates will need to support

[2021-01-19 03:42] jacobmontiel opened #443 "SRP test fails in Python 3.6 / Numpy 1.18+"
The Streaming Random Patches test are failing for Python 3.6. This was confirmed in Linux and macOS:

[code]

[2021-01-20 02:56] jppereze opened #446 "Error with AdaptiveRandomForest all nominal attributes"
**river**: 1.0 (latest version of river (installed with pip install git+https://github.com/online-ml/river --upgrade))
**python**:3.8.5
**Operating System**:Ubuntu 20.04

## Description
While testing a full nominal dataset (all attributes treated as nominal attributes), the AdaptiveRandomForestClassifier breaks with the following error:

[code]

## Steps/code to reproduce
This happens with an all-

[2021-01-20 13:06] smastelini commented on #446
Hi @jppereze, thanks for reporting that.

Your solution could avoid the error with a minor modification. However, what intrigues me is why the error happens at all.

The tree creates a list of existing branches when it performs a split, i.e., observed category values. In your case, this list would have all the observed categories for the split feature. I am not sure why this list would be empty to

[2021-01-20 15:32] jppereze commented on #446
Hi @smastelini, thanks for the prompt reply. I could not agree more with the approach of finding the root cause. There might be some None values in the data. If that is the case, should I treat the data differently?. Thanks again.

[2021-01-20 17:25] smastelini commented on #446
Hi @jppereze. Since dictionaries are sparse by nature, if a feature value is `None`, you can safely remove this feature from the dictionary without breaking the learning models.

[2021-01-21 20:53] chappers commented on #437
I may have a go at seeing if I can integrate `river` with `shap` as it is something which I have a strong preference for. Afterwards if I get a good handle for the internals of `river` I may give the rules a go.

[2021-01-22 04:55] chappers commented on #437
Okay, so its always easier to show than tell. Here is a full example of what I'm looking for, or seeking guidance whats the best way to integrate into this library. Of course we could also ask `shap` maintainers how they would like to ingest externally generated tree models, in the scenario we don't really care about performance as well.

The rough outline of this code is:

*  Go through the tree

[2021-01-25 05:03] jacobmontiel commented on #443
After quite some time trying to figure this out there is no strong evidence to believe that this is a bug. The reason for the difference is that 1 single prediction is different in Python 3.6.

[code]

The sample (716) is a borderline case.

[code]

I am inclined to mark this as not a bug, given that no other tests are failing. Comments @MaxHalford @smastelini ?

On a side note, it is still not cl

[2021-01-25 05:06] jacobmontiel commented on #443
If you agree I can modify the generator setup while keeping the general idea of the example. I will also commit minor changes to some details found while investigating this.

[2021-01-25 09:55] MaxHalford commented on #443
Good job finding that. I have no idea! I guess we should put another dataset or fiddle with the parameters just so the doctest passes.

[2021-01-25 12:43] smastelini commented on #443
I could not find another workaround either. So, I am cool with changing the failing docstring test.

The upcoming minor changes to the trees and SRP are welcomed additions. Thanks for looking into that, @jacobmontiel.

[2021-01-26 04:52] jacobmontiel commented on #443
After further testing changing the configuration in the example code, it was observed that the trained models (trees) within the ensemble were different across different (local) environments (Python 3.6, 3.7, and 3.8). This was due to different sampling values obtained from the `poisson` method in `numpy`. A fix is available in #451 where further information/discussion is provided.

[2021-01-26 22:12] chappers commented on #438
I'm not a contributor or anything - I've been giving it some thought as well, and the challenges I can see happening are around "how can we be sure the updated model is better than the current one"?

The delayed feedback (to me) does make a lot of sense, as often the labels can only be provided after-the-fact. The only "online" kind of way to update models is in a [Hoeffding Race](https://papers.n

[2021-01-27 08:48] MaxHalford commented on #438
Just to be clear: an updated model is a model that has seen a new observation. If so, then  I'm not sure that we should scared that the updated model performs worse than the current model. We should assume that having seen the latest data makes you better at predicting the incoming data. Don't you agree?

[2021-01-27 09:21] chappers commented on #438
We can tease this out - I'm more coming from an organisational perspective rather than an academic one. There could be several reasons why we may not want automatically updating models:
*  to guard against potential data poisoning attacks
*  in order to meet regulatory or risk frameworks (in many frameworks if you switch a model off to promote a new model you may need to demonstrate or provide evi

[2021-01-27 09:32] MaxHalford commented on #438
Thanks for those comments. I'm sure that all the cases you mention are straightforward to implement. Basically they can all be handled if there's a "turn off" button to freeze the model.

[2021-01-27 09:34] chappers commented on #438
Correct, in the hoeffding race style, the "original" model would be frozen until the "new" model is deemed ready by <insert metric>

[2021-01-28 08:27] #443 closed

[2021-01-28 13:17] smastelini commented on #401
Closing, since the scope of the issue is related to a design choice limitation.

[2021-01-28 13:17] #401 closed

[2021-01-28 13:20] smastelini commented on #446
I will close this one, as the error seems to be related to the data rather than the models. If new pieces of evidence appear, we can reopen this discussion.

[2021-01-28 13:20] #446 closed

[2021-01-28 13:53] smastelini commented on #437
Would it be possible to use a pandas dataframe describing the tree structure as a generic input representation?

We are planning to add such functionality to the tree module soon.

[2021-01-30 07:29] chappers commented on #437
I'll have to think about what the dataframe structure would look like - I do think it is plausible though.

[2021-01-30 13:05] MaxHalford commented on #437
I was thinking of something like this:

| index | parent | split_feature | split_value    | split_type |
|-------|--------|---------------|----------------|------------|
| 0     | None   | foo           | ('abc', 'def') | in         |
| 1     | 0      | bar           | 12             | <          |
| 2     | 0      | bar           | 18             | <          |

[2021-01-31 10:24] chappers commented on #437
If we approach it this way, then the purpose of dumping the tree to this format is for visualisation and post-hoc analysis right?

If it was as an intermediary format for deserialising/serialising models, we would need to hold stats for each node which might not be ideal?

[2021-01-31 11:46] MaxHalford commented on #437
Yes it would just for viz and analysis. You're right the mixed is icky.

[2021-02-01 18:34] smastelini commented on #398
Should this one be closed by #424?

[2021-02-01 18:47] MaxHalford commented on #398
Indeed!

[2021-02-01 18:47] #398 closed

[2021-02-01 19:07] raphaelsty opened #460 "Support mini-batches with the naive_bayes.GaussianNB model."
As part of issue #398 and PR #424, I updated the models `naive_bayes.ComplementNB`, `naive_bayes.MultinomialNB`, `naive_bayes.BernoulliNB` to support mini-batch (updates and predictions).

I have not updated GaussianNB which requires more work and some statistics to be computed in mini-batch like variance.

So this issue is dedicated to provide `learn_many`, `predict_many`, `predict_proba_many` cl

[2021-02-02 23:04] eserie commented on #433
Hi everyone,
would you consider to implement a multi-output regression based on a statistical method such as the minimization of the negative log-likelihood of a multi-variate Gaussian distribution? The approach is described in [1] (along with other "problem transformation methods" such as Chain regression). An online version should should be easy to formulate.

[1] Borchani, H., Varando, G., Biel

[2021-02-02 23:09] MaxHalford commented on #433
To be totally we're open to everything as long it has a decent amount of scientific "support" (the paper you mention is well enough cited). We also only want to include methods which are reasonably efficient.

[2021-02-02 23:35] eserie commented on #433
Hi @MaxHalford , thanks for the quick reply!
To be honest, I recently made the exercise to implement a version within river and it seems to fit well with the API. In terms of speed it is possible to achieve good performance compared to chain regression, depending of the learning scheme you choose to learn the covariance / precision matrix. Also I played with full numpy implementation. Do you mind

[2021-02-02 23:40] MaxHalford commented on #433
I think this is always the good way to start: write something scrappy in a notebook and try it.

We really prefer that everything works with dicts. It's rare that numpy is faster than Python dicts when you work with single samples. However, in some cases numpy is unavoidable due to linear algebra routines that are too painful to write with dicts, in which case we make exceptions. Regardless, the u

[2021-02-03 07:30] ptyshevs commented on #433
@eserie , @MaxHalford  maybe I'm missing something, but how can negative log-likelihood minimization be helpful in regression problem? I was thinking about just averaging L2 loss of each output and then doing back-propagation, similarly to a shallow neural net. Tell me what you think.

[2021-02-03 08:25] MaxHalford commented on #433
Log-likelihood minimization isn't limited to classification problems, it's just a way to formulate a problem.

Yes that's called softmax regression for classification. I guess you could imagine some sort of averaged loss function for regression!

[2021-02-03 08:41] eserie commented on #433
For regression problem, a statistical approach can be seen as a way to specify correlation structure between outputs. In case where the covariance estimate is fixed (should not be learned from the data), it can be viewed as a [generalized least square](https://en.wikipedia.org/wiki/Generalized_least_squares) or [weighted least square](https://en.wikipedia.org/wiki/Weighted_least_squares). The stat

[2021-02-03 08:53] MaxHalford commented on #433
Yep, sounds good :)

[2021-02-03 14:14] eserie commented on #433
Hi, I implemented a version of StatisticalRegression in [this notebook](https://github.com/eserie/river_contribs/blob/master/01_Stat_model.ipynb). Sorry the notebook mixes with some other things but I could clean it a bit if needed (In particular jax part is quite optional and may be not compatible with river API).

[2021-02-04 04:36] shoebNTU opened #467 "Installation error on Windows 10"
Hi,

Thanks for this awesome repository. Unfortunately, I am getting the below error while trying to install on a Windows 10 system. Below is the error log. Thanks.

 Building wheel for river (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\a0h72754\Anaconda3\envs\celaya_training\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\

[2021-02-04 05:08] shoebNTU commented on #467
Issue was resolved after following this link - https://stackoverflow.com/questions/64261546/python-cant-install-packages .Sorry for trouble.

[2021-02-04 05:08] #467 closed

[2021-02-06 20:04] prise6 commented on #148
This feature is no longer wanted ?
Is there a way to see Glove Model implementation ?

[2021-02-06 20:10] MaxHalford commented on #148
Actually it is! It's just that we moved new features to a dedicated GitHub board instead of putting them in issues.

[2021-02-06 20:28] prise6 commented on #148
Oh, Ok ! You're talking about Icebox board i assume. If we want to discuss about it, new discussion needs to be created, correct ?

[2021-02-06 20:58] MaxHalford commented on #148
Yes I recommend that you open a thread in the discussions tab.

[2021-02-09 11:11] remiadon opened #470 "streamz as input"
Hi, awesome project, as always

This issue actually mirrors one from scikit-multiflow, [here](https://github.com/scikit-multiflow/scikit-multiflow/issues/106)

[Streamz](https://streamz.readthedocs.io/en/latest/index.html) is a pythonic library to handle data streams. I think using it as a base ingestion / data structure provider library would benefit this project. After all, does'nt scikit-learn

[2021-02-09 15:41] MaxHalford commented on #470
Hey Rémi!

I believe I'm aligned with is said in the issue thread you mention: model fitting should be decoupled from data access. If we're aligned on this point, then I'm not really sure what there is to do. Currently you can use Streamz to stream in dicts that you feed to a River model. Is there any particular pain point that makes this difficult? If so, what do you propose? I don't think it's a

[2021-02-09 16:51] remiadon commented on #470
Hi Max,

We are aligned on this point :)

I just thought it was a good (not so drop-in, I admit) replacement for your `stream` module.

Yes and I believe it's a really good design choice.

-------

I guess what I can propose is more an example of coupling streamz with river, which would benefit both tools !

Meta: I was not aware of github's Dicussion Tab. Apologies

[2021-02-09 17:03] MaxHalford commented on #470
Yes I guess a good move forward would simply be to add an example in `docs/examples` :)

[2021-02-09 19:47] remiadon commented on #470
Closing this, I'll instantiate a PR if needed

[2021-02-09 19:47] #470 closed

[2021-02-09 19:58] remiadon commented on #198
Hi, don't know if that helps, but I'm also using ASV for a project. Performance-related benchmarks, as those prefixed by `time_` and `mem_` cannot be launched in a CI environment, because there is no guarantee on physical resources provided to your benchmarks.

However I found that ASV is still relevant when it comes to tracking a specific metric for a given model/dataset, [as methods prefixed by

[2021-02-10 19:15] slakm09 commented on #430
Hi Max,

Thak you for your effort answering all those questions.

I also have a similar challenge: 3 years of hourly weather data (temperature, humidity, rain, wind, rain etc.) and would like to predict temperature for the next 12 hours.
I'm using Creme library, because we'd like to have a permanent learning model. First training-prediction cycle is based on 3 years of data and results are OK (MAE

[2021-02-11 07:39] slakm09 commented on #430
Uploding source code.
[METRo-time-series_09022021.zip](https://github.com/online-ml/river/files/5963618/METRo-time-series_09022021.zip)

[2021-02-12 21:42] jincongho commented on #438
Distributed Serving:
- export the model and create a wrapper under Cortex seems doable already
- to automate the process we can probably refer to [TFX](https://github.com/tensorflow/tfx), see how to integrate the model validation step

I'm also curious about Distributed Training though, any ideas how to implement such model?

[2021-02-12 23:42] MaxHalford commented on #438
There's very little reason for us to help users a model on platforms like Cortex. What we really want to focus is the online training aspect. That's what I'm trying to address in the above chart.

[2021-02-16 17:55] #310 closed

[2021-02-16 17:58] MaxHalford commented on #402
[Moved to the icebox](https://github.com/online-ml/river/projects/2#card-55044076).

[2021-02-16 17:58] #402 closed

[2021-02-16 17:59] MaxHalford commented on #282
[Moved to the icebox](https://github.com/online-ml/river/projects/2#card-55044157).

[2021-02-16 17:59] #282 closed

[2021-02-16 18:00] MaxHalford commented on #198
We've revamped the benchmarking process (currently in a pull request). There's no more the need for ASV.

[2021-02-16 18:00] #198 closed

[2021-02-16 18:01] MaxHalford commented on #410
Ok so I've given it some thought and I think it's fine the way it is. We don't want to introduce more complexity. At least we now have a written trace of this edge-case :)

[2021-02-16 18:01] #410 closed

[2021-02-16 18:02] #432 closed

[2021-02-16 18:33] MaxHalford commented on #430
Hey @slakm09 I'm closing this issue. You can open a [discussion](https://github.com/online-ml/river/discussions). Please try to clearly explain what you're trying to do and formulate some questions. To be honest none of us has the time to deep dive into your code and understand what you're doing. We can however answer specific questions.

[2021-02-16 18:33] #430 closed

[2021-02-17 10:25] sbuschjaeger opened #475 "Math Range Error in do_naive_bayes_prediction"
Hi,

there seems to be a bug in `do_naive_bayes_prediction` which can cause a math range error. I get the following output when training a `HoeffdingTreeClassifier` (but I suspect, that this also affects other classifiers, e.g. `ExtremelyFastDecisionTreeClassifier`):

[code]

Interestringly, my code works fine if I do not normalize the input examples. Then I get the following output (but with wors

[2021-02-17 10:27] MaxHalford commented on #475
Thanks for opening the issue. I've assigned this to @smastelini :)

[2021-02-17 12:29] smastelini commented on #475
Hi @sbuchjaeger. Thanks for reporting that. I downloaded the dataset and your script.

I ran your code using the latest versions of scikit-learn and numpy, under Python 3.8 and a Linux system. That's what I got (when `normalize=True`):

![image](https://user-images.githubusercontent.com/9000157/108203086-c856c300-7100-11eb-943c-ad0cc656938d.png)

Now, switching off the Mix-Max normalization:

![im

[2021-02-17 14:09] sbuschjaeger commented on #475
Hi, @smastelini. Thanks for the quick reply.
I can confirm that the combination of python 3.8 + river from the git repo works fine. Technically, I have (and had) river `0.1` installed. Previously I installed it via pip (`pip install river`), but that installation could have been dated by now (the conda environment is a few month old by now). The new version seems to be fine, although there are no

[2021-02-17 14:32] smastelini commented on #475
I could not reproduce your error while using the latest river version and Python 3.7 (I also manually installed the same versions you've reported of numpy and sklearn in my local virtual environment).

That's what I got when normalization is active:

![image](https://user-images.githubusercontent.com/9000157/108213335-aa438f80-710d-11eb-9403-da433d45b805.png)

Without normalization:

![image](http

[2021-02-17 14:32] MaxHalford commented on #475
@sbuschjaeger that won't install what you expect. We're currently in the process of acquiring the name on PyPI. `pip install git+https://github.com/online-ml/river --upgrade` is currently the correct (and only) way to download "River".

[2021-02-17 14:55] sbuschjaeger commented on #475
Hm that is strange that you cannot reproduce this error. However, since its now also working for me, I dont really mind :D Thanks for the quick reply!

[2021-02-17 14:55] #475 closed

[2021-02-17 19:37] jacobmontiel commented on #475
For clarification, we improved the robustness of the NB prediction code in recent updates. This seems to explain why we can not reproduce the error in the latest dev version ;-)

[2021-02-25 11:38] koaning opened #485 "Math doesn't render nicely on the docs."
Here's a screenshot from [this url](https://riverml.xyz/latest/api/facto/FFMClassifier/).

![image](https://user-images.githubusercontent.com/1019791/109148254-4bfa5a80-7766-11eb-9369-47573c78d4e0.png)

[2021-02-25 11:50] raphaelsty commented on #485
Hello,

When you click directly on the url that @koaning provided, math render nicely.

Safari:

![image](https://user-images.githubusercontent.com/24591024/109148716-e8246180-7766-11eb-84c8-e6fe6e6aa976.png)

Chrome:

<img width="1341" alt="image" src="https://user-images.githubusercontent.com/24591024/109148652-d3e06480-7766-11eb-8f02-c545abb56fa4.png">

When I get on another model description s

[2021-02-25 15:42] koaning commented on #485
I can confirm that after I hit reload it seems fixed. Maybe it's a caching thing on a mkdocs-material plugin?

[2021-03-02 03:44] 645187919 opened #491 "about online-learning subject"
hi，i'm doing a online learning test with your lib  ,but what I found missing was an introduction to online learning algorithms。I mean similar to FTRL, OGD and other algorithms in the field of online learning.If so, can you do a special topic or presentation on the use of incremental learning algorithms within RIVER?

[2021-03-02 11:16] gbolmier commented on #491
Hi there, did you have a look at the `README.md` [philosophy](https://github.com/online-ml/river#-philosophy) and [media](https://github.com/online-ml/river#%EF%B8%8F-media) sections? The latter includes slides and talks about online learning and the library. With the [documentation](https://riverml.xyz/latest/) content, they provide both a high-level view of how online learning works as well as s

[2021-03-03 08:51] ColdTeapot273K opened #492 "Unspecified C++ Build Tools dependency on Windows"
## Versions

**river version**: current master (03.03.2021)
**Python version**: 3.8.8
**Operating system**: Windows 10 Pro v2004

## Describe the bug
When installing `river`, build fails because it requires C++ build tools. The dependency is not specified in the docs. but think I installed `river` 2 weeks ago with `--no-deps` flag with no problems (cannot reproduce though)
[code]

## Steps/code to

[2021-03-03 09:31] 645187919 commented on #491
Sorry, I made a mistake. I looked at your API documentation and found that you classified algorithms in detail according to their functions.I'm sorry. Thank you for the work you've done!

[2021-03-03 09:38] MaxHalford commented on #492
See [this thread](https://github.com/online-ml/river/issues/429).

[2021-03-03 09:38] #491 closed

[2021-03-03 11:19] ColdTeapot273K opened #494 "Missing info from model_description() for regression trees"
## Versions

**river version**: master 03.03.2021
**Python version**: 3.8.8
**Operating system**: Windows 10 Pro v2004

## Describe the bug

When using
[code]

This is the actual output:
[code]

And this, I suppose, is the expected output:

[code]

Since for classifier models the following holds:

Input:
[code]
Output:
[code]

------
I also suppose the same behaviour (property name instead of its

[2021-03-04 02:37] 645187919 opened #496 "api doc bug"
hi,i'm reading the river's api doc,but i find some error like this。
![image](https://user-images.githubusercontent.com/20920182/109902568-971bec80-7cd5-11eb-9883-767c00894df5.png)

[2021-03-04 03:10] #496 closed

[2021-03-04 22:51] Styren opened #499 "predict_one has side effects"
## Versions

**river version**: master branch
**Python version**: 3.9
**Operating system**: osx

## Describe the bug

`predict_one` causes the weights to change and yields a different result. When we tried to do time series forecasting and predicting a value in the future we noticed that the weights we got was different - and it failed to learn even when both features and labels consistently incre

[2021-03-04 22:56] MaxHalford commented on #499
Actually what's happening is that the unsupervised parts of the pipeline (in this `StandardScaler`) get updated when `predict_one` is called and not when `learn_one` is called. It's not a bug, it's a feature. Tell me if this isn't clear.

I am more and more convinced that we could/should add a `no_learn` parameter to `Pipeline.predict_one` to prevent the `StandardScaler` from updating itself. What

[2021-03-04 23:31] Styren commented on #499
In my mind a `no_learn` sounds the best as in our case we want live feedback on the prediction of a future value. We almost excluded this could have anything to do with `predict_one` until we had looked at almost every other potential issue, so I would say that to us this wasn't immediately clear.
Would this mean simply not invoking the `learn_one` transformer methods in `Pipeline#_transform_one`

[2021-03-04 23:53] MaxHalford commented on #499
Yes, exactly!

That would be wonderful.

It's actually in the docstring of the pipeline, see [here](https://github.com/online-ml/river/blob/master/river/compose/pipeline.py#L26). It is a delicate point and we should definitely discuss elsewhere. We need to get better at writing documentation as a general rule; I just have very little time to spare with my job at the moment.

[2021-03-05 00:00] #147 closed

[2021-03-05 09:43] benwhale opened #500 "Install instructions (v0.1.0) on the website documentation don't work"
## Versions

**Python version**: 3.7.7
**Operating system**: Ubuntu

## Describe the bug

The install instructions on the website at [https://riverml.xyz/latest/getting-started/installation/](url) start by pointing to a v0.1.0 tag. Running this command does not work.

I notice looking at github that this doesn't match with the tag naming convention, so wonder if it's out of date from before the na

[2021-03-05 10:25] MaxHalford commented on #500
You're right we should remove the tag, I'll do it! The instructions that are in the README should be correct.

I can't wait till we acquire the River name...

[2021-03-06 16:17] jbone opened #504 "Bug with ClassificationReport / use of classifier?"
## Versions

**river version**:  latest (head)
**Python version**:  3.8
**Operating system**:  Ubuntu 18.04

## Describe the bug

There appears to be a NoneType class maintained / retained in the ClassificationReport’s (or any metrics?) confusion matrix from features fed to metrics update for any None predictions yielded by classifier prior to having enough samples to start feeding it ground truth

[2021-03-06 16:24] #499 closed

[2021-03-06 16:38] MaxHalford commented on #504
Very interesting, thanks for opening the discussion.

I fully understand the problem you're getting at.

To resume what you've already said, there are possibilities:

1. We trust users to not pass `None` values in their training loop/system. In such a case, the `Metric` is not responsible for filtering out `None`s. In fact, this is exactly what we do in `evaluate.progressive_validation`, as you ca

[2021-03-06 16:40] MaxHalford commented on #254
See #503 where we've added the possibility to not update unsupervised parts of the pipeline during `predict_one`.

[2021-03-06 16:40] #254 closed

[2021-03-06 16:53] jbone commented on #504
Will do!

[2021-03-06 17:31] jbone commented on #504
What would the preferred interface be?  Presumably this is just an argument to the constructor.  Do we want to simply have a Boolean-valued keyword argument (default to True) eg `... ignore_nones=<True|False>` or perhaps a filter predicate function?

My assumption is the former as the cm implementation is Cython and we probably don’t want to be evaluating Python per se in the middle of that, which

[2021-03-06 17:40] MaxHalford commented on #504
I would add this `ignore_none` parameter to the `__init__` of `confusion.ConfusionMatrix`. You would also have to expose the parameter in the constructor of `BinaryMetric` and `MultiClassMetric` which are inherited by the classification metrics.

Correct. A boolean flag that defaults to `True` will do the job.

No pressure! Please do not hesitate to ping me if you struggle.

[2021-03-06 21:25] #64 closed

[2021-03-16 01:18] #280 closed

[2021-03-16 01:19] MaxHalford commented on #324
Let's drop this now that vaex support is possible. It would be nice to have but in the end it's not really a priority for this to be in River. Other libraries can and will do this better than us.

[2021-03-16 01:19] #324 closed

[2021-03-18 12:54] ColdTeapot273K opened #528 "Rounding error"
## Versions

**river version**: master 03.03.2021, but should be relevant as of 18.03.2021
**Python version**: 3.8.8
**Operating system**: Windows 10 Pro v2004

## Describe the bug

`ValueError: math domain error` in `skmultiflow_utils.py` when trying to round 0 while drawing the tree model
## Steps/code to reproduce

[code]

[2021-03-18 12:55] ColdTeapot273K commented on #528
Fixed myself, PR incoming

[2021-03-19 13:04] #528 closed

[2021-03-19 13:12] #494 closed

[2021-03-22 15:18] prabhant opened #534 "Documentation bug: installation instructions does not work"
Instructions here https://riverml.xyz/dev/getting-started/installation/ result in this output
[code]

[2021-03-22 15:20] MaxHalford commented on #534
Yep you'll need to install the dev version:

[code]

The River name is still not released on PyPI so we haven't been able to publish a release yet.

[2021-03-22 15:20] #534 closed

[2021-03-23 15:00] adills opened #536 "example ipynb file reading error"
## searched prior issues
I searched all open issues on "ipynb" and did not see any issues.  Hopefully this is not an environment issue on my part, but if it is sorry to add an issue.

## Versions
**river version**: 0.1.0
**Python version**: 3.9.2
**Operating system**: MacOS 10.15.7

## Describe the bug
Attempted to open every ipynb example in docs/examples within a Jupyter Notebook that was launch

[2021-03-23 15:04] raphaelsty commented on #536
@adills Thank you for the issue, I made this Notebook two weeks ago, it seems that I made a mistake, look forward into it.

If you want to read the notebook, you can follow this [link](https://riverml.xyz/dev/examples/sentence_classification/) to the documentation.

[2021-03-23 18:49] adills commented on #536
@raphaelsty Perfect!  Thank you.  I was able to run the code in your examples by copying into my own environment.   I just did it quick and dirty in a py script instead of a notebook.  Thanks again for your help.  I'm good to close this issue unless you want to keep it open to remind yourself to update the ipynb examples.

[2021-03-23 18:52] raphaelsty commented on #536
@adills, I'd like to keep it as a remainder, I'll close it once I'll repair my mistake.

Thank you.

[2021-03-25 03:44] byfsdhr opened #540 "CAN not install"
CAN not install from this page:
https://riverml.xyz/dev/getting-started/installation/

PS C:\Windows\system32> pip install git+git://github.com/online-ml/river.git@v0.1.0
Collecting git+git://github.com/online-ml/river.git@v0.1.0
  Cloning git://github.com/online-ml/river.git (to revision v0.1.0) to c:\users\supernova\appdata\local\temp\pip-req-build-kho7d80k
  Running command git clone -q git://g

[2021-03-25 03:46] byfsdhr commented on #540
This code also can install
PS C:\Windows\system32> pip install git+git://github.com/online-ml/river.git@0.6.1
Collecting git+git://github.com/online-ml/river.git@0.6.1
  Cloning git://github.com/online-ml/river.git (to revision 0.6.1) to c:\users\supernova\appdata\local\temp\pip-req-build-xu3bi5bq
  Running command git clone -q git://github.com/online-ml/river.git 'C:\Users\supernova\AppData\Local

[2021-03-25 03:50] byfsdhr commented on #540
PS C:\Windows\system32> pip install river
ERROR: Could not find a version that satisfies the requirement river
ERROR: No matching distribution found for river

[2021-03-26 04:00] tachyonicClock opened #541 "Supplying confusion matrix to metrics can be confusing"
## Versions

**river version**: Latest commit 037ffc6
**Python version**: 3.8.5
**Operating system**: Linux

## Describe the bug

When a confusion matrix is supplied to Recall/Precision to store internal state it can create weird unexpected behaviours. Such as double counting and stopping metrics from rolling as expected. I imagine this problem is made worse when the `Metrics` container class is u

[2021-03-26 06:10] TheRisenPhoenix commented on #540
Try this one:
`pip install git+https://github.com/online-ml/river`

As explained in #534 , the name river is not yet released. You need to install the latest development version (which is the second command given in the documentation)

[2021-03-26 08:43] MaxHalford commented on #540
It's because you don't have the C++ build tools. See [this](https://github.com/online-ml/river/issues/381) thread.

[2021-03-26 08:58] MaxHalford commented on #541
Hey there. Thanks for raising these API "issues". We've tried to make the `metrics` module flexible. I would consider the examples you've as bad examples. If you want to compute multiple metrics, you should be doing:

[code]

The issue at the moment is that the `+` operator doesn't work with `ConfusionMetric`, but we could fix that. But you can still access the `cm` attribute of `Recall` or `Preci

[2021-03-30 23:32] #540 closed

[2021-04-01 02:10] byfsdhr opened #551 "Why I cant import river?"
from river import datasets

--------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-23-e7bee93a8b38> in <module>
----> 1 from river import datasets

~\AppData\Local\Programs\Python\Python39\lib\site-packages\river\__init__.py in <module>
      7 scikit-learn, enough so that users who are f

[2021-04-01 02:12] byfsdhr commented on #551
$ pip install git+https://github.com/online-ml/river --upgrade
Collecting git+https://github.com/online-ml/river
  Cloning https://github.com/online-ml/river to c:\users\supernova\appdata\local\temp\pip-req-build-g8z3w7hs
  Running command git clone -q https://github.com/online-ml/river 'C:\Users\supernova\AppData\Local\Temp\pip-req-build-g8z3w7hs'
Requirement already satisfied: numpy>=1.18.1 in c

[2021-04-01 02:14] MaxHalford commented on #551
Sorry but you're going to have to give more context. There's no way we can reproduce your bug.

[2021-04-01 03:10] byfsdhr commented on #551
Work now after rebot

[2021-04-01 03:10] #551 closed

[2021-04-08 10:19] msabdulrazak opened #559 "Regarding Installing River package for online streaming data"
I am getting error like ERROR: Could not find a version that satisfies the requirement river (from versions: none)
ERROR: No matching distribution found for river . The python version i am using is 3.8.3

[2021-04-08 10:21] MaxHalford commented on #559
Did you try running this command?

[code]

[2021-04-08 10:49] msabdulrazak commented on #559
ERROR: Cannot find command 'git' - do you have 'git' installed and in your
PATH?
This is the error i am getting
if i run the above command

Regards
Abdul Razak M S

On Thu, Apr 8, 2021 at 3:51 PM Max Halford ***@***.***> wrote:

[2021-04-08 11:55] MaxHalford commented on #559
Well you'll have to install git. Is that a problem? What OS are you on?

We should soon be given access to the `river` name on PyPI, after which we'll be able to publish the package so that you can `pip install river`.

[2021-04-09 06:37] msabdulrazak commented on #559
windows 10, 64 bit operating system
How to install git from anaconda console or in jupyter notebook

On Thu, 8 Apr 2021, 17:26 Max Halford, ***@***.***> wrote:

[2021-04-09 07:28] MaxHalford commented on #559
I don't know, I've never done it for Windows. But you can prefix commands with `!` to run them in your terminal, so I'm sure you'll find a way.

[2021-04-09 09:40] msabdulrazak commented on #559
I tried in Ubuntu it works well. Tq for the support

On Fri, 9 Apr 2021, 12:58 Max Halford, ***@***.***> wrote:

[2021-04-09 13:31] #559 closed

[2021-04-12 19:09] odmarkj opened #564 "[BUG] setup.py installation issue with metadata"
**river version**: 0.6.1
**Python version**: 3.8.8
**Operating system**: MacOS Catalina 10.15.4

## Describe the bug
install_requires = ["river @ git+https://github.com/online-ml/river@0.6.1#egg=river"]

When installing via setup.py from another library, the following error occurs:

WARNING: Generating metadata for package river produced metadata for project name creme. Fix your #egg=river fragmen

[2021-04-12 19:55] raphaelsty commented on #564
Hi @odmarkj,

I think you should change the version, replace 0.6.1 by 0.1.0.

[code]

Please let me know if works.

[2021-04-12 19:57] odmarkj commented on #564
Same error.

Are you also saying that the currently tagged releases on this repository are invalid?

[2021-04-12 20:08] raphaelsty commented on #564
I managed to reproduce the error,

You can add the last version of river in your dependancy by removing the version for now.

[code]

There is a conflict between the previous repository project called creme and the new one river which result of a merge with scikit-multiflow.

[2021-04-12 20:37] odmarkj commented on #564
Perfect, thank you, was able to get it installed.

Do you think this can be resolved soon? Really need to lock down a version before I can distributed this.

Thanks!

[2021-04-12 22:11] raphaelsty commented on #564
We have some difficulties with the river name assignment via pypi [#651](https://github.com/pypa/pypi-support/issues/651). As soon as we have the pypi name available, all should be rolling but it is a bit slower than expected... We hope this will be resolved soon.

You're welcome @odmarkj

I close the issue 😊

[2021-04-12 22:12] #564 closed

[2021-04-16 22:06] raphaelsty commented on #564
Hi @odmarkj,

Just a ping to say that river is available using pip.

[code]
You can lock down the latest release which is version 0.0.7. 🙂

[2021-04-16 22:41] raphaelsty commented on #500
Hi @benwhale,

Just a ping to say that installing river using pip is available.

[code]

The latest version is 0.7.0 🙂

[2021-04-16 22:42] #333 closed

[2021-04-30 17:13] remiadon opened #574 "duplicate drifts detected by ADWIN"
## Versions
**river version**: 0.0.7
**Python version**: Python 3.9.2
**Operating system**: macOS Sierra 10.12.6 (16G29)

## Describe the bug
I tried to run the following workflow:
 - generate abrupt drifts for a variable, at predefined intervals (by forcing the average value to change)
 - detect drift with river.drfit.ADWIN

ADWIN detects drifts more than once (usually twice, even more when setti

[2021-05-01 12:49] MaxHalford commented on #574
@hoanganhngo610 maybe you can be of assistance here?

[2021-05-03 05:39] jacobmontiel commented on #574
I am taking this :-)

This is indeed a bug. The reset method was lost during the Cython refactoring. The default reset method in the base class does not reset the ADWIN helper. The fix is in #576.

Thanks @remiadon for the quick catch on this and the great MWE 🙌 , it made the fix easier.

[2021-05-03 05:42] #574 closed

[2021-05-05 12:17] StijnKas opened #582 "Error when loading csv with missing integer value"
## Versions

**river version**: Latest commit (11a1c0ec78cf6c8b69c22f75c6af50f576b7f875)
**Python version**: 3.6.12
**Operating system**: MacOS, in Docker Container

## Describe the bug

When importing a csv dataset with missing values in an integer column, an error is thrown because an empty string cannot be converted to integer: shown in the example below.

## Steps/code to reproduce

[code]

[c

[2021-05-05 14:03] filipmarkoski commented on #65
Where is this model available? I cannot find Bayesian Linear Regression as easily as I found [Linear Regression](https://riverml.xyz/latest/api/linear-model/LinearRegression/). While web searching for a variant I stubbled across this [Bayesian Linear Regressor](https://probflow.readthedocs.io/en/latest/user_guide/models.html#bayesian-updating) however I would like to use `river` if possible.

The

[2021-05-05 15:51] MaxHalford commented on #65
I have made no progress on this! I have a job now so it's a bit difficult to commit time :)

[2021-05-06 23:05] MaxHalford commented on #582
I think it would be nice to add the same support as pandas (see `na_values` and `na_filter` in [`pandas.read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html))

[2021-05-07 04:25] GeorgV opened #584 "correction of README.md"
Please check the links under the chapter Media: most links produce a 404 error

[2021-05-07 18:10] ayush488 opened #585 "0 regressor output when a new value of a feature appears"
Can you explain why the regressor starts giving 0 or absurd values when one of the predictors get a new value.

[2021-05-07 18:23] raphaelsty commented on #585
Hi, we can't help you solve your problem if you don't follow the template below.

## Versions

**`creme` version**:

**Python version**:

## Describe your task

## What kind of performance are you expecting?

## Steps/code to reproduce

[code]

## Necessary data

[2021-05-07 18:32] ayush488 commented on #585
Thanks @raphaelsty .
Versions
river version:0.7.0

Python version: 3.7

Describe your task

Regressor starts giving 0 or absurd values when one of the predictors get a new value. This happens for some initial time unless the regressor has received several values of the feature.

What kind of performance are you expecting?
In general regression the expectation is that even if the model has not seen

[2021-05-07 19:07] ayush488 commented on #585
Thanks great.. Thanks. it worked. Is there a way in River to select the best Regressor and do parameter optimization.

[2021-05-07 19:08] ayush488 commented on #585
Kind of auto-ml

[2021-05-07 19:33] raphaelsty commented on #585
Here is a sample of code to make a grid search on your data. River does not offer auto-ml but you may be interested in [EWARegressor](https://riverml.xyz/latest/api/expert/EWARegressor/) which will learn to select the right model. :)

[code]

After coding, I realized that the [expand-param-grid](https://riverml.xyz/latest/api/utils/expand-param-grid/) tool is a more elegant way to create a paramet

[2021-05-07 19:34] #585 closed

[2021-05-07 19:34] ayush488 commented on #585
Yes. THanks.

[2021-05-13 12:22] MaxHalford commented on #264
Moving this [to Notion](https://www.notion.so/Documentation-effort-0e05b3cfcc904dcc8e86597765228370).

[2021-05-13 12:22] #264 closed

[2021-05-13 12:22] #500 closed

[2021-05-13 12:22] MaxHalford commented on #492
Should be good now.

[2021-05-13 12:22] #492 closed

[2021-05-13 12:23] #80 closed

[2021-05-13 12:23] #341 closed

[2021-05-13 12:24] #168 closed

[2021-05-13 12:55] MaxHalford commented on #582
I added a `drop_nones` parameter to `iter_csv` to allow dropping `None` values. This means that you need to use an `int` converters that allows for missing values. Here's a unit test to show how this works:

[code]

[2021-05-13 12:55] #582 closed

[2021-05-13 13:04] MaxHalford commented on #584
Done, thanks!

[2021-05-13 13:04] #584 closed

[2021-05-13 13:04] #541 closed

[2021-05-20 04:55] venuraja79 commented on #399
Both the vaex and river are impressive frameworks. I can assist here if this requirement is still open.

[2021-05-20 11:03] venuraja79 commented on #399
Hello @MaxHalford,
Spent sometime adapting the notebook above for training with river (using the yet to be released river integration (https://github.com/vaexio/vaex/pull/1256)). Please take a look at this colab notebook. Hope this is helpful - https://colab.research.google.com/drive/11N8Nid147W0lQiA7yhKqOfto-DocCxXi?usp=sharing

[2021-06-11 14:04] JFchin11 opened #606 "Not able to generate tree diagram using method.draw()"

[2021-06-11 14:10] raphaelsty commented on #606
Hi @JFchin11, could you provide more details by following the template: bug report

We won't be able to help you otherwise :)

Thank you.

[2021-06-11 18:08] #606 closed

[2021-06-12 09:33] chappers commented on #437
I think #568 is pretty close to what I'm after. I think it becomes a bit more obvious to export to an scikit-learn model so that you can use shap:

[code]

[2021-06-13 09:14] MaxHalford commented on #400
Adding this to the [roadmap](https://www.notion.so/d1e86fcdf21e4deda16eedab2b3361fb?v=503f44740b8b44a99a961aa96e9e46e1) instead.

[2021-06-13 09:15] #400 closed

[2021-06-13 09:15] MaxHalford commented on #346
Adding this to the [roadmap](https://www.notion.so/d1e86fcdf21e4deda16eedab2b3361fb?v=503f44740b8b44a99a961aa96e9e46e1) instead.

[2021-06-13 09:15] #346 closed

[2021-06-13 09:15] MaxHalford commented on #65
Adding this to the [roadmap](https://www.notion.so/d1e86fcdf21e4deda16eedab2b3361fb?v=503f44740b8b44a99a961aa96e9e46e1) instead.

[2021-06-13 09:15] #65 closed

[2021-06-13 09:16] MaxHalford commented on #399
Adding this to the [roadmap](https://www.notion.so/d1e86fcdf21e4deda16eedab2b3361fb?v=503f44740b8b44a99a961aa96e9e46e1) instead.

[2021-06-13 09:16] #399 closed

[2021-06-13 19:14] davidsteinar commented on #65
@MaxHalford in your awesome blog post on [Bayesian linear regression](https://maxhalford.github.io/blog/bayesian-linear-regression/) you already have working code examples, would it be hard to implement in the River framework?

This is something that would be very useful for me, or do you know of any other Python implementations of online Bayesian linear regression? It seems that most Bayesian fra

[2021-06-13 19:16] MaxHalford commented on #65
Yep it shouldn't be too hard, the only caveat is that the blog post using numpy and here we need to support dictionaries. It's totally doable, I've just been too lazy and busy with other things!

[2021-06-14 12:00] JFchin11 commented on #606
Dear Raphaelsty
Sorry for the delay in responding. I am running the sample code in the Pycharm. According to the instruction (https://riverml.xyz/latest/user-guide/on-hoeffding-trees/), model.draw() should have generated a tree diagram. However, the diagram is not displayed at the end of the run (no bug report is being generated). I am rather new to python, and this may be a low-level question.
![

[2021-06-14 12:22] MaxHalford commented on #606
@JFchin11 try to run that code in a Jupyter Notebook instead.

[2021-06-18 21:00] smastelini opened #610 "RollingQuantile (median) calculation and even window sizes"
## Versions

**river version**: all
**Python version**: N/A
**Operating system**: N/A

## Describe the bug

The median values obtained in `stats.RollingQuantile` are not correct when the window size is even. I am not sure how that extends to the other percentile values. But in the specific case of medians, the correct result should be something like:

[code]

This calculates the mean between two c

[2021-06-18 22:06] nlittlepoole commented on #437
Could this be used to load a model into Sklearn directly?

[2021-06-18 22:13] chappers commented on #437
@nlittlepoole I'm not aware of a way to manually update decision trees using their array format unfortunately.

[2021-06-19 08:46] MaxHalford commented on #610
So the implementation is not incorrect but it follows a different convention than the standard library, right? If so it makes sense to align with the standard library, or with numpy.

[2021-06-22 15:04] Loglosss opened #616 "SimpleImputer"
Hi. In river there is no SimpleImputer (

[2021-06-22 20:02] ColdTeapot273K opened #617 "expected_mutual_info import error"
## Versions

**river version**: 628de4d4
**Python version**: 3.6.3
**Operating system**: Win10

## Describe the bug
[code]

## Steps/code to reproduce
[code]

As far as I can see, `.../develop-river/river/metrics/expected_mutual_info.pyx` is present, as well as `.../develop-river/river/metrics/mutual_info.py`

[2021-06-28 13:15] MaxHalford commented on #617
@hoanganhngo610 can you look into this? 🙏

[2021-06-28 13:19] MaxHalford commented on #616
What is a `SimpleImputer`? What are you looking to do?

[2021-06-28 21:49] Piyushbalwani opened #621 "ImportError: cannot import name 'VectorDict' from 'river.utils'"
Hi Team,

I am getting below error while importing `**river** `package. Can you please help.

[code]

Regards,
Piyush

[2021-06-29 13:20] smastelini commented on #621
Hi @Piyushbalwani, which version are you using? From pip or the development one?

When installing from the source, the Cython portions must be compiled.

Using `pip install -e .` should do the trick if you're using the development version.

[2021-07-06 11:19] Piyushbalwani commented on #621
Hi @smastelini,  I installed river with `pip install river`. I am getting error `ModuleNotFoundError: No module named 'river.utils.vectordict'` while executing` import river`.

Below is complete error log:
[code]
Regards,
Piyush

[2021-07-08 22:51] JovanVeljanoski commented on #616
I guess they meant [this implementation from scikit-learn](https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html). Would be nice to have but simple enough (pardon the pun) to be implemented per use-case..

[2021-07-12 04:25] snthibaud opened #633 "Transformation after classifier"
Is it possible to put a transformation after a classifier?
I would like to use a KNN classifier to find the nearest neighbour from a large number of labels. Then I would like to use some distance measure to either reject or accept the nearest neighbour (close enough to be a match or not).
Finally, it would be nice to apply a binary metric on the resulting binary predictions.
Is it possible to cons

[2021-07-12 16:13] PSSF23 opened #634 "Add predict_one to classifiers"
I noticed the exclusion of `predict_one` function in classifier objects, which seems unnecessary to me. While `predict_proba_one` is nice, sometimes we only need a simple label prediction. Besides, the function could be easily imported from the corresponding regressor class by copy-and-paste, so why not just include them in the first place?

[2021-07-12 16:35] smastelini commented on #634
Hi @PSSF23, there is no exclusion. `predict_one` is defined in the base classes. Unless the trees perform special steps, by default, `predict_one` simply assigns the label with the highest weight (obtained from `predict_proba_one`).

[2021-07-12 16:41] PSSF23 commented on #634
@smastelini I see. Thanks.

[2021-07-12 16:41] #634 closed

[2021-07-12 16:49] PSSF23 opened #636 "Correct documentation for the tree module"
## Versions

**river version**: 0.7.1
**Python version**: 3.8
**Operating system**: Mac Big Sur

## Describe the bug

On the document [page](https://riverml.xyz/latest/api/tree/HoeffdingTreeClassifier/) for `HoeffdingTreeClassifier`, the `predict_many` function is listed, but actually calling it would result in `NotImplementedError`.
## Steps/code to reproduce

[code]

[2021-07-12 22:04] smastelini commented on #636
Hi @PSSF23, you're right. The tree module still doesn't support mini-batch updates.

@MaxHalford, is there an easy way to fix the documentation, other than changing the class hierarchy?

[2021-07-15 15:01] hoanganhngo610 commented on #617
@MaxHalford @ColdTeapot273K As far as I try to reproduce the bug, I have no problem running
[code]
for Python versions 3.7.x and 3.8.x, on MacOS. I believe that @jacobmontiel also does not have any other problems concerning this.

For the presentation of both `expected_mutual_info.pyx` and `mutual_info.py` in the package, the first Cython file is used as a quick calculation for the Adjusted Mutual

[2021-07-15 15:02] MaxHalford commented on #617
Indeed I fixed the error recently :)

[2021-07-15 19:04] PSSF23 commented on #636
@smastelini In addition, `HoeffdingTreeClassifier` has no `depth` attributes. This might apply to all tree models as well.
[code]

[2021-07-15 19:17] smastelini commented on #636
Hi @PSSF23. If you're using the development version, this parameter was renamed to `height`. This was done to reflect the correct tree data structure naming convention.

[2021-07-21 18:16] smastelini commented on #621
@Piyushbalwani were you able to get everything working? Can you share the root cause of the problem?

[2021-07-21 18:38] smastelini commented on #610
Yes. This seems to be the case.

### When using an even number of instances

[code]

### Now with an odd number of instances

[code]

[2021-07-25 13:34] Aaryanverma opened #642 "model is not predicting after converting from river to sklearn format"
**river version**: 0.7.1
**Python version**: 3.7.11
**Operating system**: Linux (working on colab notebook)
**sklearn version**: 0.24.2

## Describe the bug
**Converted river's logistic regression model to sklearn format using convert_river_to_sklearn module.**
I am able to get predictions using model.river_estimator.predict_one() method but when I use model.predict() method it throws error: **Att

[2021-07-26 04:27] ZulunZhu opened #643 "What is the core advantage of River compared to general mini-batch models?"
I read the documents about the regression model or the application in recommender systems, and I still don't know what is River's advantage compared to common models. In your paper, you mentioned that other models need to retrain when new data is added, but actually, River also needs to retrain, right?

[2021-07-26 06:00] Aaryanverma commented on #643
In common models, you have to retrain the whole model from scratch after adding new data but in the case of River, the model will be trained only on newly added data in an incremental manner which obviously takes very low computation resources and time.

[2021-07-26 08:01] ZulunZhu commented on #643
So in that case, how does the model utilize the old data or old weights?  If only considering the newly added data, it can be inaccurate.

[2021-07-26 08:28] Aaryanverma commented on #642
Got the issue, I have trained the model using river's methodology but using sklearn's methodology for prediction that's why I got the error. After training the model with sklearn's model.fit method, the issue is gone.

[2021-07-28 12:50] mathco-wf commented on #643
The weights are adjust with each data point, so model is not losing any prior information and is also adapting to the distribution of the upcoming data. The problem with traditional ML models are that we need to train the model time to time as the nature of the data may change overtime (data drift/concept drift)  but with online learning you don't need to train your model again.

[2021-07-28 19:28] fkiraly opened #646 "river/sktime intersection: stream/online mode for forecasting and time series ML"
Brilliant toolbox, nice work!
I also admire the pragmatic and collaborative ethos behind your recent merger, this is really rare.

@fkiraly here from [sktime](https://github.com/alan-turing-institute/sktime), I was wondering about a particular intersection I've spotted:

* sktime's scope is time series ML, with a particular focus on forecasting - it seems like you have forecasting on your roadmap,

[2021-07-29 07:55] jacobmontiel commented on #646
Thanks for reaching out. Yes, we are proud of the merger. It is indeed important to consider how open-source packages such as `sktime` and `river` play a role in the larger Python/ML ecosystem. I am pinging the other two maintainers: @MaxHalford and @smastelini . Some people on our team are currently on vacation. What is your timeline for the refactoring and a possible discussion?

[2021-07-29 14:27] ZulunZhu commented on #643
But in my understanding, when I change the traditional ML models into batch_size=1 training, and it can be the online learning? Because in that case the traditional ML models don't lose any prior information(the weights are adjusted by each known node), and they also don't need to be trained from time to time.

[2021-07-29 17:46] Aaryanverma commented on #643
In addition to online learning, river also gives you the advantage of getting predictions even if the number of features while testing is less or more than number of features used in training.

[2021-07-29 22:51] fkiraly commented on #646
Not too much urgency, but maybe Aug/Sep if possible?
Summer is quieter at day jobs and hence a better time for contributing 😃 so earlier is better.

Perhaps we could already exchange contact details to schedule a meeting due ahead of time?

You could PM me on the sktime gitter with emails, or we could chat on the sktime slack to which I can invite you using any type of PM. You could also simply em

[2021-07-29 23:05] jacobmontiel commented on #646
This should work fine.

Already sent you an email.

I will close this issue later today to avoid confusion.

[2021-07-30 14:05] ZulunZhu commented on #643
Thanks for your reply. But I want to ensure that, whether the parameter updating in online learning equals the parameter updating in "batch size = 1"?

[2021-07-30 22:12] #646 closed

[2021-08-04 14:20] stirup opened #651 "learn_many vs learn_one"
## Versions

**river version**: 0.7.1
**Python version**: 3.8.10
**scikit-learn**:  0.24.2
**Operating system**: Redhat

## Describe the bug

Transformation and learning with `learn_one` and `learn_many` gives different output. May be I am missing something elementary in understanding how `learn_one` and `learn_many` works.

## Steps/code to reproduce
[code]

This is the output I get:
[code]
Thank

[2021-08-04 17:02] gbolmier commented on #651
Hi @stirup! It's natural that `learn_one` and `learn_many` lead to different set of weights. The gradient of a given data point is dependent of the current weights of the model. Therefore the gradients will be different if you compute them for multiple data points at the same time (against the same weights) or if you compute them one data point at a time i.e.:

- compute the current data point's g

[2021-08-05 08:37] #651 closed

[2021-08-06 07:59] nlyf opened #652 "TFIDF clustering pipeline"
## Versions

**river version**: 0.7.1
**Python version**: 3.7
**Operating system**: ubuntu 20.04

## Describe the bug

I'm trying to make online tf-idf clustering using DBSTREAM and DenStream.
Can I use those algorithms with TFIDF feature extraction method?
Or I'am supposed to build whole feature-matrix table and then perform clustering? But this is not streaming clustering...

## Steps/code to re

[2021-08-10 09:07] gbolmier opened #655 "Outaded faq documentation"
#654 reported outaded faq documentation regarding multiclass classification.

[2021-08-10 19:37] gbolmier opened #660 "Update `Reading data` section of the user guide"
Fetching `sklearn` datasets with `stream.iter_sklearn_dataset` should be mentioned

[2021-08-11 16:05] kristopher-wood commented on #621
I've got a similar issue using the version from `pip install river`.

When running model.learn_one(x, y) where x is my dict and y is the target value, I get the following error at line 83 of river\linear_model\glm.py:

Here are the contents of my dict at the moment:

`{'date': '2019-09-08 17:57:00', 'volume_a': 0.001, 'volume_b': 10.0, 'count': 1}`

Oddly, when I run this through the Spyder 5.0 de

[2021-08-11 17:38] MaxHalford commented on #621
Maybe this is because `date` is a `str`?

[2021-08-11 17:59] kristopher-wood commented on #621
I ran into the same issue when I was using a timestamp as an int. My point
was more that something is odd about the import from the pip package. I'll
try with -e in a moment.

On Wed, Aug 11, 2021 at 10:39 AM Max Halford ***@***.***>
wrote:

[2021-08-11 18:16] kristopher-wood commented on #621
I wasn't able to use pip install -e river because I didn't have the source to build it yet.

I was wrong in my previous comments regarding my dict though, my timestamp was a float because it was coming from a pandas dataframe and I didn't explicitly set it as an int. I did so and the script runs just fine.

Meanwhile I still can't debug VectorDict possibly because it's not compiled to python. I'll

[2021-08-13 06:34] MaxHalford commented on #621
Hey, are you on Windows by any chance? It seems that Windows wheels haven't been built for the last version of River. You can try installing version `0.7.0` (`pip install river==0.7.0`) while waiting for a new version to be released.

[2021-08-13 06:48] MaxHalford commented on #660
Done!

[2021-08-13 06:48] #660 closed

[2021-08-13 06:49] MaxHalford commented on #660
By the way let's try and use the [roadmap](https://www.notion.so/d1e86fcdf21e4deda16eedab2b3361fb?v=503f44740b8b44a99a961aa96e9e46e1) instead of opening issues for listing stuff to implement.

[2021-08-13 06:53] MaxHalford commented on #655
Done!

[2021-08-13 06:53] #655 closed

[2021-08-13 07:09] MaxHalford commented on #652
@hoanganhngo610 could you take a look at this? I've tried with `DBStream` and `DenStream` and both don't work. Some initialization stuff is missing somewhere.

[2021-08-13 07:20] #642 closed

[2021-08-13 07:21] MaxHalford commented on #610
Closing this because we have an answer. Feel free to suggest a change in a PR :)

[2021-08-13 07:21] #610 closed

[2021-08-13 15:25] kulbachcedric commented on #616
Isn't it already implemented with the `StatImputer` in `river.preprocessing`?

[2021-08-13 17:31] MaxHalford commented on #616
Indeed @kulbachcedric!

[2021-08-13 17:31] #616 closed

[2021-08-16 13:22] MaxHalford commented on #636
Fixed in #666 :)

[2021-08-16 13:22] #636 closed

[2021-08-16 15:49] MaxHalford commented on #643
That's the idea yes @ZulunZhu. One advantage at that point is that River is much faster than mini-batch because it's designed to be good at handling the "batch size = 1" case. I'm closing this, feel free to open a discussion if you have more questions! It's a friendlier format than issues and pollutes less.

[2021-08-16 15:49] #643 closed

[2021-08-16 15:50] #617 closed

[2021-08-16 15:50] #536 closed

[2021-08-16 15:51] #485 closed

[2021-08-16 15:52] MaxHalford commented on #460
Closing this and adding a care [here](https://www.notion.so/Support-mini-batch-updates-in-GaussianNB-946801cde1c24221bbdf3c3fa949084c).

[2021-08-16 15:52] #460 closed

[2021-08-16 15:52] #438 closed

[2021-08-16 15:55] MaxHalford commented on #633
Hello! Sorry for the late answer: holidays etc.

Can you clarify? This doesn't make a lot of sense to me. Are you trying to do classification?

So this is some logic that you would like to add to the nearest neighbor classifier? As in, classify as `None` or return uniform probabilities if the nearest neighbors are too far, correct?

What do you mean? A metric from the `metrics` module?

[2021-08-16 15:57] MaxHalford commented on #504
Closing this due to lack of activity! No worries though, we can work on it if the issue pops up again.

[2021-08-16 15:57] #504 closed

[2021-08-16 15:57] #419 closed

[2021-08-16 19:12] MaxHalford commented on #437
Closing this because it seems the initial question has been answered. Feel free to open a discussion/issue if there's anything further to discuss.

[2021-08-16 19:12] #437 closed

[2021-08-16 19:14] #621 closed

[2021-08-17 08:57] snthibaud commented on #633
Apologies for the confusion. I was actually just trying to find the label of the nearest neighbour in an efficient way. I think this is basically classification, but in this case the number of labels was close to the number of instances.

Yes, that's correct.

Yes. I found the MCC metric in the `metrics` module which works on binary labels, but it I needed to first convert the labels from my custo

[2021-08-17 08:57] #633 closed

[2021-08-17 09:26] MaxHalford commented on #334
Implementing it in #668

[2021-08-17 09:26] #334 closed

[2021-08-18 21:23] crsanderford opened #669 "FMRegressor predicts nans on Movielens dataset"
## Versions

**river version**: 0.7.1
**Python version**: 3.7.11
**Operating system**: Linux, Google Colab

## Describe the bug

Training a factorization machine model on River's included Movielens 100k dataset results in the trained FM predicting nan values. If the numerical side-features present in the dataset (timestamp, release date, age and zipcode) are excluded, the FMRegressor predicts prop

[2021-08-19 07:00] MaxHalford commented on #669
@gbolmier if you can take a look 🤗

[2021-08-19 07:50] gbolmier commented on #669
Hey @crsanderford 👋

What happened here is called *gradient explosion*, i.e. large error gradients accumulate and result in too large updates of the model weights, eventually leading to an overflow and the `nan` values you noticed.

Unfortunately, it often happens with this algorithm and numerical features. My guess is that it is because of the magnitude difference between feature values when you

[2021-08-19 07:55] MaxHalford commented on #669
Couldn't you also use a `StandardScaler`?

[2021-08-19 07:59] gbolmier commented on #669
Not sure, but I think it's worth trying 👍

[2021-08-19 13:52] crsanderford commented on #669
Hi @gbolmier,

Thanks for the help - just to be certain, you still think gradient explosion is the issue when the only numerical feature included is age? I suspected something to do with the size of the feature values when I saw how large the timestamps were, but the age values are obviously way smaller.

I had read the first of the recommender systems examples but no further - didn't realize ther

[2021-08-19 17:30] gbolmier commented on #669
You're welcome :) Actually could you try using a `StandardScaler` on your `age` feature as it was pointed out by Max?

[2021-08-19 17:52] gbolmier commented on #669
The following works for me:

[code]

[2021-08-19 19:06] crsanderford commented on #669
Can confirm that `StandardScaler` works for me as well.

Thanks again - closing the issue!

[2021-08-19 19:06] #669 closed

[2021-08-19 19:35] MaxHalford commented on #669
In general you always want your features to be on the same scale. Even if the age don't look big, they're still on a different scale than binary features. Scaling is always a good idea.

[2021-08-23 12:18] rscmendes opened #688 "Doc inconsistency for ADWIN drift detection method"
**river version**: v0.7.1

The documentation of the ADWIN drift detector in `river/drift/adwin.py` seems to be inconsistent with the other drift detectors.

Specifically, it states that `value` should be 1 for correct classification and 0 for error. This is in contrast with DMM and variants, and I believe it to be an error in the documentation of ADWIN.

Let me know if you would like a PR to fix t

[2021-08-23 12:33] smastelini commented on #688
Thanks for mentioning that @rscmendes. Pinging @jacobmontiel.

[2021-08-24 04:23] jacobmontiel commented on #688
Hi @rscmendes

This is actually correct. `DDM` explicitly tracks error occurrences (1). `ADWIN` tracks the distribution of the data by keeping the "reference" and "current" window. Actually, this implementation of `ADWIN` supports continuous values as input. In the original paper, the input for classification error is defined as `1=correct`, `0=error`. In theory, you could invert the input to be c

[2021-08-25 11:11] rscmendes commented on #688
Thanks a lot for the clarification. I should've check the reference.

I've actually stumbled upon this discrepancy when trying to run multiple drift detectors on a cycle in the form of:
[code]
Now I might need to check whether the method is ADWIN and then negate `is_prediction_correct` if so, which is fine but not as intuitive -- but that's another discussion. I'll close the issue.

Thank you.

[2021-08-25 11:11] #688 closed

[2021-08-29 10:52] MaxHalford commented on #335
Closing this and adding a `with_std` parameter.

The interesting insight from this investigation is that handling features that change abruptly is not trivial. A workaround is to transform the feature manually its scale. We'll see if this merits more attention later.

[2021-08-29 10:52] #335 closed

[2021-08-30 13:22] nlyf commented on #652
Hi, I'm still very curious. Have you got any ideas? @MaxHalford @hoanganhngo610

[2021-08-30 17:13] MaxHalford commented on #652
Sorry @nlyf I closed this by mistake. I would like @hoanganhngo610 to take a look at what's going on.

[2021-09-01 19:35] ribab commented on #652
@MaxHalford @nlyf @hoanganhngo610

This is actually something I am very interested at implementing.

I think the issue has something to do with TFIDF outputting data in the format of dictionaries whereas dbstream and denstream expect the input in the form of a 2D array.

I've only just discovered RiverML, so my analysis of this issue might be incorrect if I'm missing something.

[2021-09-01 21:13] MaxHalford commented on #652
You could be right... To be honest I haven't supervised this part of the codebase so I'm not too sure. I'll take a look.

[2021-09-01 22:26] ribab commented on #652
I was poking through the DenStream code, and I'm a little confused

This method in denstream.py seems to be expecting dict format
[code]
as you can see in the `minkowski_distance` function where `a` and `b` both call `.keys()`
[code]

Whereas the failure point in the code is expecting `x` to be a list indexable by the integer `i`
[code]

[2021-09-02 00:24] jacobmontiel commented on #652
This is indeed a bug. As @ribab indicates, the indexing must be changed to account for non-integer keys. I will coordinate with @hoanganhngo610 to fix this.

[2021-09-27 10:42] rajdeinno opened #723 "Is there any way to increase the training steps as like Epoch in Tensorflow?"
I need to improve the accuracy of the training. In tensorflow, we have Epoch. Is there any similar iteration configurations in river?

[2021-09-27 10:59] MaxHalford commented on #723
Hello. How about just adding a `for` loop on top of your current training routine? Another epoch is "just" an extra pass over a dataset.

[2021-09-27 11:29] rajdeinno commented on #723
Hi,

Here's my code.

model = linear_model.LogisticRegression()
dataset = stream.iter_pandas(xtrain, ytrain)

for x, yi in dataset:

    model.learn_one(x, yi)

So, if i have 50 records in dataset, my Epoch is 50? is iteration enough to improve the accuracy?

[2021-09-27 11:33] gbolmier commented on #723
I think what Max meant here was smth like:

[code]

[2021-09-28 11:22] silvavn opened #724 "Documentation does not build locally"
## Versions

**river version**: Latest
**Python version**: 3.7
**Operating system**: Windows

## Describe the bug

After following instructions found here: https://github.com/online-ml/river/blob/master/CONTRIBUTING.md
Documentation does not seem to build. I keep getting errors saying that `user-guide` and `API` Nav entries are not found.

## Steps/code to reproduce

Clone repo
Install all plugins

[2021-09-28 13:19] MaxHalford commented on #724
Hey. How about if you run `make doc` instead of `mkdocs serve --dirtyreload`?

[2021-09-28 18:55] silvavn commented on #724
Solved, docs seem to need linux to be built. Under windows I setup wsl2 and use the `make doc` or `make livedoc`.
Thanks

[2021-09-28 18:55] #724 closed

[2021-09-29 09:46] #723 closed

[2021-10-04 16:02] draperjames opened #728 "ImportError: numpy.core.multiarray failed to import. In google colab."
## Versions

**river version: latest**:
**Python version: latest**:
**Operating system: colab vm**:

## Describe the bug

## Steps/code to reproduce

### Input
 1 from river import datasets
      2
      3 dataset = datasets.Bikes()
      4 dataset

4 frames
/usr/local/lib/python3.7/dist-packages/river/metrics/expected_mutual_info.pyx in init river.metrics.expected_mutual_info()

__init__.pxd in n

[2021-10-05 12:01] raphaelsty commented on #728
Hi @draperjames,

This should solve the problem: `pip install -U numpy`

This issue is described on [stackoverflow](https://stackoverflow.com/questions/20518632/importerror-numpy-core-multiarray-failed-to-import).

[2021-10-05 16:23] MaxHalford commented on #728
Marking as closed, feel free to reopen if the problem persists.

[2021-10-05 16:23] #728 closed

[2021-10-07 01:54] icedpanda opened #730 "MultiLabelConfusionMatrix() is none type"
## Versions

**river version**: 0.8.0
**Python version**: 3.6.13
**Operating system**: mac OS

## Describe the bug

I using `LabelCombinationHoeffdingTreeClassifier()` for a multi-label classification problem and use `ExamplePrecision()` as evaluation metric.

Meanwhile, I want to see the model performance on each class so I use `MultilabelconfusionMatrix` metric but receive '`NoneType' object has

[2021-10-08 00:34] icedpanda commented on #730
Thank you @MaxHalford , `cm.update(label, y_pred)` works!

Does the river have an existing API that supports class-level precision for a multi-output classifier?

[2021-10-08 05:37] MaxHalford commented on #730
Mmm I'm not sure. But the fact that you can't find it by yourself in the documentation is a failure on our side 😅. @jacobmontiel can I pretty please ask you to chime in? :)

[2021-10-08 06:21] TrungKhoaLe opened #731 "Training checkpoints"
The tool is wonderful. Thanks for your contribution.

**Question**
I have a question about creating model checkpoints during training.

If we are in the middle of the training process, and something unexpected happens like computer crashing, that will cause the model lost problem. Do we have some sort of mechanisms to create checkpoints to help resume the training in such a case?

[2021-10-08 06:36] MaxHalford commented on #731
Hello there, thanks for the praise.

River is "just" a library that implements machine learning algorithms. It doesn't make assumptions about your environment and your specific situation. In other words, it's up to you to manage the model. We've made it so that any River model can be pickled. Therefore, it should be quite straightforward to implement checkpointing yourself by regularly pickling th

[2021-10-08 11:03] jacobmontiel commented on #730
Hi @icedpanda

Indeed, the classification report only supports binary/multi-class classification. This is missing in the documentation, our bad.

Label-based metrics are not currently available. However, you can calculate them from the multi-label confusion matrix. The interface can be confusing though. Here is a MWE:

Instantiating and updating a multi-label confusion matrix

[code]

In the last

[2021-10-10 12:50] TrungKhoaLe opened #732 "TypeError: can't convert complex to float"
I tried to feed a pandas dataframe to RiverML in a row by row manner, and I received the following problem:

`
 File "/Users/kl/.virtualenvs/my_env/lib/python3.8/site-packages/river/proba/gaussian.py", line 68, in cdf
    return 0.5 * (1.0 + math.erf((x - self.mu) / (self.sigma * math.sqrt(2.0))))
TypeError: can't convert complex to float
`

I checked the rows/samples where the problem occurred, b

[2021-10-10 13:16] TrungKhoaLe commented on #732
Is the the data at the row where the issue occurred useful? The following is the data per se:
`
0.217119 | 0.217487 | 0.216522 | 0.217208 | 40900.0 | 0.34565551 | 0.0001 | 0.1759920877268840 | 8.555267642648770 | -0.021623005418827300 | -10.627953088097200 | 40.28459993186120 | -0.0021128545232274200 | -0.0007030640130263160 | -517.2203368176910 | 939.6522432960190 | 0.0 | 0.0 | -0.193114229068156

[2021-10-10 13:51] MaxHalford commented on #732
Papertrail: @TrungKhoaLe shared the code and dataset with me by email. I'll debug.

[2021-10-11 00:29] icedpanda commented on #730
Hi @jacobmontiel, this is really helpful. Thanks

[2021-10-11 00:29] #730 closed

[2021-10-11 04:02] TrungKhoaLe opened #733 "TypeError: '>' not supported between instances of 'float' and 'NoneType'"
## Versions

**river version**: 0.8.0
**Python version**: 3.9.5
**Operating system**: Macintosh

## Describe the bug

TypeError: '>' not supported between instances of 'float' and 'NoneType'.
I provided the Python code below so that you guys can reproduce the problem in your local machine.

I truly don't understand why I get this problem. When I looked into the lib source code, I received these re

[2021-10-11 06:47] TrungKhoaLe commented on #733
I looked into the implementation for AdaptiveRandomForestClassifier class and realized that the first prediction always returns _None_.

It caused the problem that I described above. I changed the training script a bit to bypass the issue by getting rid of the prediction result of the first training example. I don't know whether this is a good way of doing it. Please  give me some comments on this

[2021-10-11 07:32] #733 closed

[2021-10-11 11:19] smastelini commented on #652
Thanks for reporting, @nlyf We are going to check it :)

[2021-10-12 08:03] MaxHalford commented on #732
Thanks for being persistent.

I think that the new implementation is more stable. But as you say it's still not perfect. My gut feeling is that the algorithm is not stable when weights are involved. I managed to reproduce the instability with this example:

[code]

[code]

Obviously a variance should never be negative! I'll dig into this, but feel free to do so too.

[2021-10-13 14:46] tnwei opened #742 "Docs correction for DDM and variants"
## Versions

**river version**: latest
**Python version**: N/A
**Operating system**: N/A

## Describe the bug

Hi folks, noticed an inconsistency in docs for `river.drift.DDM`, `river.drift.EDDM`, `river.drift.HDDM_A`,  and `river.drift.HDDM_W`. The docs denote that 0 in inputs represent prediction error. However, that statement is contradicted by the elaboration right under it, as well as comment

[2021-10-14 11:32] #732 closed

[2021-10-29 19:33] wgaylord opened #751 "No wheel for Python 3.9."
There is currently no wheel available for Python 3.9 installs. This means that when installing with Python 3.9 it will always attempt to build from source which requires C++ Build Tools (Which takes up  around 5Gb according to its installer.)  Just wanted to give you a heads up.

[2021-10-29 19:40] MaxHalford commented on #751
Thanks, we're aware :). We will publish 3.9 wheels with the next version.

[2021-10-29 19:40] #751 closed

[2021-10-30 00:38] MaxHalford commented on #742
Ok I'm merging the PR and closing this PR. @jacobmontiel feel free to raise your hand if it doesn't look right to you.

[2021-10-30 00:38] #742 closed

[2021-11-01 19:51] LeonardAukea opened #754 "Serving Framework for Online Machine Learning"
I recently proposed a suggestion to KServe community to add support for serving online machine learning models on k8s. Not sure how that will land. Either way, I think it would be interesting to build on top of [cloudstate](https://cloudstate.io/) and design a CRD `OnlineInferenceService` and controller. Since, online models need to be stateful. We need to opt for a solution that manages state in

[2021-11-01 21:11] MaxHalford commented on #754
Cool! I'm not well-versed in KServe so I can't help right now. But I'll take a loot.

Meta: I suggest converting this issue into a discussion. I think you can do it as you're the OP.

[2021-11-01 21:33] LeonardAukea commented on #754
@MaxHalford It seems like I'm not allowed to convert the issue to a discussion. At least I don't see that option where it is usually visible.

[2021-11-05 15:39] prabhant opened #759 "LeveragingBaggingClassifier does not work as intended with learn_one"
## Versions

**river version**:
**Python version**:
**Operating system**:

## Describe the bug

## Steps/code to reproduce

[code]

[2021-11-05 22:55] MaxHalford commented on #759
Hmm pretty sure you forgot to instantiate the `HoeffdingTreeClassifier` class. The following works for me:

[code]

[2021-11-08 08:59] prabhant commented on #759
Thanks

[2021-11-08 08:59] #759 closed

[2021-11-09 18:52] elfring opened #765 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-09 22:12] MaxHalford commented on #765
Hello 👋

That's rather cool? May I ask which tool you used? We could consider adding it to our CI setup.

Regarding the changes listed in your post, could you take care of opening a pull request to implement them?

[2021-11-10 08:00] elfring commented on #765
The shown update candidates were found with the help of a tiny Perl command (which I constructed for this transformation approach).

Such feedback sounds promising.
I know that the applied search pattern can be also improved further.

Do any factors hinder the wider application of [functionality which became generally available with Python 2](https://docs.python.org/3/whatsnew/2.0.html#augmented-a

[2021-11-10 08:39] MaxHalford commented on #765
Not at all. These are just low hanging fruits waiting to be picked.

Meta: I would have expected [black](https://github.com/psf/black) to pick these up.

[2021-11-10 09:43] elfring commented on #765
Thanks for such a positive feedback.
I came along other software areas where some developers reacted in questionable ways according to the presented transformation pattern.

[2021-11-10 09:49] MaxHalford commented on #765
I welcome any kind of help. I appreciate the effort to open an issue or a discussion. Open source software would never work without good manners and positivity :)

To come back to the point: do you feel comfortable to open an issue to apply the changes suggested by your Perl command? If you don't, then I'll gladly do the changes. The nice thing about you doing the change is that you'll be listed a

[2021-11-10 10:10] elfring commented on #765
I submitted several suggestions (or bug reports) for published software components.

:thinking:
* The licence selections can trigger special development considerations.
* The command example is also improvable.

:thought_balloon: This would be nice.

I would find it occasionally sufficient to be active as an idea reporter in selected areas.

:thought_balloon: Would you like to help another bit to

[2021-11-12 09:02] #765 closed

[2021-11-12 10:24] elfring commented on #765
Thanks for your integration of a small software adjustment.

* :thought_balloon: Has this issue got the potential to trigger any more collateral evolution?
* How much do source code refactorings fit to streaming data for machine learning approaches? :thinking:

[2021-11-12 10:28] MaxHalford commented on #765
With pleasure!

I would say so! As I already mentioned, it would be nice if your tool was available as a continuous integration tool.

I'm sorry but I don't really understand the question. Would you be so kind as to reformulate?

[2021-11-12 10:54] elfring commented on #765
:thought_balloon: Can you get any further development ideas from [related information sources](https://github.com/iipeace/guider/issues/266#issuecomment-944926071 "Increase the usage of augmented assignment statements")?

The integrated source code adjustment can be achieved with various software tools.
:thought_balloon: You would like to improve the software library “online-ml/river” (besides oth

[2021-11-12 13:32] MaxHalford commented on #765
Thanks for the link. As far as I can tell you're making use of regex. Therefore, you should be able to implement what you're doing as a linting rule. I would suggest looking into flake8 and/or black to see where the linting rule should be added.

That's a beefy topic! I'm not sure I have a good answer.

[2021-11-12 15:28] elfring commented on #765
I am demonstrating that some helpful data processing results can be achieved also by the application of advanced regular expressions according to approaches for searching and replacing source code.

* :thought_balloon: Further software developments in such design directions will depend on general change acceptance and related factors.
* Some evolution would be nice also for the use of semantic pat

[2021-11-16 18:38] Sandy4321 opened #771 "naïve Bayes"

[2021-11-16 18:44] Sandy4321 opened #772 "is it possible incrementally train CategoricalNB Naive Bayes"
is it possible  incrementally train your code CategoricalNB  Naive Bayes
when scikit  CategoricalNB   can not predict / retrain for new values in features
https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.CategoricalNB.html#sklearn.naive_bayes.CategoricalNB

scikit onloy can do it for MultinomialNB, BernoulliNB, and GaussianNB

https://scikit-learn.org/stable/modules/naive_baye

[2021-11-16 19:07] raphaelsty commented on #772
Hi @Sandy4321, River provides `MultinomialNB`, `BernoulliNB`, and `GaussianNB`, `ComplementNB` but do not provide `CategoricalNB` :)

[2021-11-16 19:56] #772 closed

[2021-11-16 19:56] #771 closed

[2021-11-17 09:30] oegedijk opened #776 "New feature suggestion: InteractionsUnion"
Hi all,

I was looking for a way to have more control over interactions in river Pipelines. The `PolynomialExtender` adds interactions of every feature with every feature, which is often a bit more than you want or need. In Vowpal Wabbit you have the concept of namespaces that you can interact with each other, e.g. `|a feature_1 feature_2 |b feature_3 feature_4` and then add `-q ab` to the command

[2021-11-17 09:50] oegedijk commented on #776
actually that does not seems to be robust to transformers that change the name of the features. This should be more robust:

[code]

[2021-11-17 09:57] oegedijk commented on #776
[code]

[2021-11-17 11:04] MaxHalford commented on #776
Hey @oegedijk! That's a great proposal. I may have a bit more context, so I think I know a smoother way of implementing this. I'll send a PR soonish :)

[2021-11-17 12:10] oegedijk commented on #776
@MaxHalford cool, yeah I'm sure there is a better way to implement all of this. Having an easy and flexible way to introduce interactions would be super useful though!

Looking forward to the PR!

[2021-11-17 22:46] MaxHalford commented on #776
@oegedijk let me know what you think about the PR. Happy to make changes as necessary 🤗

[2021-11-19 01:05] #776 closed

[2021-11-19 16:53] SeanWeber opened #779 "DBSTREAM throws a KeyError when handling sparse data"
## Versions

**river version**: 0.8.0
**Python version**: 3.9
**Operating system**: Ubuntu 21.10

## Describe the bug

When a micro-cluster's center is updated, the algorithm tries to find all keys in the data point that are in the micro-cluster. If the data point is missing a key, a KeyError is thrown. Instead, it should assume any missing keys have a 0 value. For example: `x.get(j, 0.0)`

## Ste

[2021-11-19 17:50] smastelini commented on #779
Pinging @hoanganhngo610 :)

[2021-11-20 15:10] MaxHalford commented on #779
In the meantime you can use an imputation method to manually add 0s to your data. In fact, making it explicit that way might be a good idea. I'm not fully convinced (yet) that features should default to 0 "magically".

[2021-11-21 08:44] hoanganhngo610 commented on #779
Dear @SeanWeber, thank you for raising the issue. Unfortunately, when we are designing the clustering algorithms, we expect that all data points coming through have to have the same dimension, with the same keys. This assures that the microclusters and macroclusters can be properly formed. As such, sparse data are not covered within our interest. I also think @jacobmontiel agrees with me on this.

[2021-11-21 09:34] MaxHalford commented on #779
It's good that we commit to a decision on this, thanks @hoanganhngo610! Imputation it is then.

[2021-11-23 16:16] hoanganhngo610 commented on #779
If everyone agrees with this, I would proceed to close the issue. However, please do not hesitate to comment if you find any other issue since there are still tons of think to do with the clustering module @SeanWeber!

[2021-11-23 16:16] #779 closed

[2021-11-26 16:06] cenzwong opened #785 "Code and Docs not align"
# The River.time_series module not align with the docs

Originally I would like to use the detrend function in time_series module. But I have installed the latest version (0.8.0) of river and the package from river is totally different from the docs. (see the attached images)

![image](https://user-images.githubusercontent.com/44856918/143606898-ea6b13cc-c772-4182-bd2b-36f8acb4c411.png)

![image](

[2021-11-26 16:09] cenzwong commented on #785
https://github.com/online-ml/river/blob/236cade8d46e128629a4dc12b69e0e2426461506/docs/releases/unreleased.md

time_series
time_series.Detrender and time_series.GroupDetrender have been removed as they overlap with meta.TargetStandardScaler.
Implemented a time_series.evaluate method, which performs progressive validation for time series scenarios.
Implemented time_series.HorizonMetric class to eval

[2021-11-26 16:20] MaxHalford commented on #785
Hey there! How did you install River? With pip?

[2021-11-26 16:33] cenzwong commented on #785
I install with ```pip install git+https://github.com/online-ml/river --upgrade```

[2021-11-26 17:05] MaxHalford commented on #785
So you installed the development version. The docs for those are [here](https://riverml.xyz/dev/). To install version 0.8.0 (the latest stable version) you should simply do `pip install river --upgrade`. Please tell me if it's not clear :)

[2021-12-02 00:00] #785 closed

[2021-12-11 05:17] athammad opened #798 "Quantile-HoeffdingAdaptiveTreeRegressor"
Hi guys,

could you please suggest the right way to use `HoeffdingAdaptiveTreeRegressor` in combination with `optim.losses.Quantile`?
From my understanding, the only way is to use    `leaf_prediction='model'`, and `leaf_model=qmodels`, where `qmodels` is a `LinearRegression` with `optim.losses.Quantile`. The issue is that to get 3 quantiles (0.05,0.5,0.95) I need to create three separated models a

[2021-12-12 18:58] Pverheijen opened #800 "MAE potentially in wrong order in bike share example doc"
The MAE is stated to be too optimistic yet is lower than the corrected version in the bike share example that follows.

I'll write a more detailed description later this week.

https://riverml.xyz/latest/examples/bike-sharing-forecasting/

[2021-12-14 15:42] MaxHalford commented on #798
Hello there!

What you're doing won't work, because the `leaf_model` parameter accepts a model, not a dict of models. To make 3 copies and evalute the three of them, this would work:

[code]

To you too.

[2021-12-14 15:43] MaxHalford commented on #800
Hello there @Pverheijen. Thanks for opening this issue. That is indeed a bit worrying. I'm not sure where the issue is coming from.

[2021-12-16 16:00] david26694 opened #805 "Mathematical formulas are not rendered in docs"
Is this expected?

![image](https://user-images.githubusercontent.com/22721584/146405668-e8e41ef7-84aa-4893-8ace-e782dd3923fb.png)

[2021-12-16 16:10] MaxHalford commented on #805
Yes this sometimes bugs out. Can you try with the [development version](https://riverml.xyz/dev/)?

[2021-12-16 16:13] david26694 commented on #805
It works in the development version, yes

[2021-12-16 16:34] MaxHalford commented on #805
I believe @nakamasato fixed the issue.

[2021-12-16 20:41] nakamasato commented on #805
Yes, I fixed it in https://github.com/online-ml/river/pull/792.

[2021-12-16 20:42] #805 closed

[2021-12-27 20:03] yuritpinheiro opened #810 "PageHinkley only detects increases in mean"
## Describe the bug
PageHinkley Concept Drift Detector is unable to detect concept drift for a statistical mean which decreases in value.

## Steps/code to reproduce
[code]
![image](https://user-images.githubusercontent.com/13771630/147503616-3f271487-e2a1-46c9-9260-14e5faf72f52.png)

[2021-12-28 19:05] MaxHalford commented on #810
Hello there! I'm not familiar with this specific part of the code base. I'll let @jacobmontiel or maybe @smastelini take a look when they can.

[2021-12-29 07:14] sanyam-cashify opened #811 "Performance issue with predict one"
## Versions

**`river` version**: 0.8.0

**Python version**: 3.6

## Describe your task

pipe_db = Pipeline(('vectorizer', TFIDF(lowercase=True, ngram_range=(3,4))),('db_scan',DBSTREAM(clustering_threshold=0.3, minimum_weight=5)))

The training time is fine ,but when i'm obtaining clusters from the same by using predict_one for each text entity, it's taking too long, the time taken increases with

[2021-12-29 13:31] smastelini commented on #810
I'm not familiar with this portion of the codebase, but I can give it a try if @jacobmontiel is unavailable. I believe he coded PageHinkley.

[2021-12-29 19:56] jacobmontiel commented on #810
Hi @yuritpinheiro

This is the expected behavior. Page-Hinkley (and CUSUM) is a one-sided drift detector, it only indicates changes when the mean increases.

You can easily extend the existing implementation to create a two-sided detector by symmetry or use a two-sided detector such as HDDM or ADWIN.

[2021-12-29 19:56] #810 closed

[2021-12-29 21:16] MaxHalford commented on #811
Hello there :). Could you please provide a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2021-12-30 00:13] sanyam-cashify commented on #811
class MODEL_DEPLOYMENT:
    def __init__(self):
        self.data = pd.read_csv(f"{PATH}datasets/Xpress orders 12dec - Sheet 1 (1).csv")

    def get_pipeline(self) -> Pipeline:
        pipe_db = Pipeline(
            ("vectorizer", TFIDF(lowercase=True, ngram_range=(3, 4))),
            ("db_scan", DBSTREAM(clustering_threshold=0.3, minimum_weight=5)),
        )
        return pipe_db

    def db

[2022-01-05 04:43] MaxHalford commented on #811
Hey again. Sorry for the late answer. Could you provide you're using? You can send it to `maxhalford25@gmail.com` if you're not comfortable sharing it here.

[2022-01-05 05:49] sanyam-cashify commented on #811
Using what?

[2022-01-05 06:12] MaxHalford commented on #811
Sorry, I meant "could you provide the dataset you're using".

[2022-01-09 14:33] rj76 opened #817 "Error with learn_one"
## Versions

**river version**:
0.9.0

**Python version**:
3.9.7

**Operating system**:
linux

## Describe the bug

When trying to start learning with learn_one, an exception is beging raised: `TypeError: unsupported operand type(s) for -: 'str' and 'float'`

## Steps/code to reproduce

[code]

[2022-01-10 14:57] MaxHalford commented on #817
Hello there!

There are a couple of things that are wrong with what you're doing. I'm actually curious what you're expecting to happen? First of all `LogisticRegression` is a binary classifier, implying that the `y` value should be a `bool` and not `test` (which is a `str`). Also, it is meant to process numeric values only, so you can't pass `str` features like you did.

You could either one-hot e

[2022-01-10 16:40] yuritpinheiro commented on #810
Thank you @jacobmontiel.

[2022-01-10 19:03] rj76 commented on #817
Hi Max,

Thank you for your answer. I figured I'd try something like the example of the [bikes](https://riverml.xyz/latest/examples/bike-sharing-forecasting/), but with different data. There just uses `compose.Select`, `preprocessing.StandardScaler` (which I thought to be weird), and then `linear_model.LinearRegression`.

Sorry for this noob question :)

[2022-01-10 20:32] #817 closed

[2022-01-11 08:36] srnthsrdhrn commented on #811
I found a small workaround to speed up the prediction. Not sure if it has some side effects. Sharing it here.

`self.denstream.predict_one(river_utils.numpy2dict(embeddings[0])) # This is done once so that the cluster initialization happens
  cluster_ids = []
  for x,_ in tqdm(stream.iter_array(embeddings),total=len(embeddings)):
      out = self.denstream._get_closest_cluster_key(x, self.denstrea

[2022-01-11 15:22] MaxHalford commented on #811
@srnthsrdhrn you're using `DenStream`, whereas @sanyam-cashify is using `DBStream`. But yes, I agree with you that `DenStream.predict_one` is doing too many things, especially for the usecase you describe.

[2022-01-14 21:18] victusfate opened #824 "possible issue with predict_one for recommendations yielding all the same predicted score"
moved to discussions
https://github.com/online-ml/river/discussions/826

[2022-01-14 21:24] #824 closed

[2022-01-19 12:37] remiadon commented on #800
Hello there, just for curiosity, is it related to the update of the `metrics.MAE` class itself or the call to `evaluate.progressive_val_score` ? I do hope this is the latest