[2022-01-19 14:16] MaxHalford commented on #800
Probably the latter. But I haven't had time to look into it yet

[2022-01-24 18:22] Dhul-Husni commented on #652
@smastelini @jacobmontiel Any news on DBSTREAM?

[2022-01-27 12:40] smastelini commented on #652
I am not very familiar with the clustering module. I am pinging @jacobmontiel and @hoanganhngo610. If they are unavailable, I can take a look.

[2022-01-29 18:35] kishoreKunisetty opened #831 "ImportError: numpy.core.multiarray failed to import"
## Versions

**river version**: 0.9.0
**Python version**: 3.7.12
**Operating system**: linux

## Describe the bug

I tried to replicate the example given in river website [SNARIMAX ](https://riverml.xyz/latest/api/time-series/SNARIMAX/) in colab
then during import itself facing this issue

## Steps/code to reproduce

[code]

[2022-01-29 21:39] MaxHalford commented on #831
Hey! I suggest reading #815 :)

[2022-01-31 00:37] MaxHalford commented on #811
Closing, as I believe the next step is simply to contribute a pull request.

[2022-01-31 00:37] #811 closed

[2022-02-02 03:34] vsoch opened #834 "Question: does it handle concurrency?"
Hi! I'm browsing around to learn about real time machine learning and I stumbled on this repo. You mention using dicts for data, and also have an example of a flask app to update a mode l- https://riverml.xyz/latest/user-guide/reading-data/ but does river handle concurrency? E.g., I'm trying to figure out what best practices are for making a production server with the main purpose of receiving new

[2022-02-02 15:51] MaxHalford commented on #834
Hello 👋

That's good news :)

This question is difficult to answer without first talking about scope. The purpose of River is to implement online machine learning algorithms. That's basically it. River doesn't take care whatsoever of deploying a model into production. We believe that the latter should be the responsibility of a different library/tool/software.

So to answer your question per say:

[2022-02-02 20:18] vsoch commented on #834
This is what I suspected! My quick and dirty "how should I do this" was to keep a queue of new data during the day, and have a batch job run at night to further train the model. Maybe that's not such a terrible idea after all! I think I just assumed that some company / effort was out there to figure out how to, perhaps, have an entire model in a database and have training more in real time.

I wil

[2022-02-02 22:19] MaxHalford commented on #834
KISS for the win! An alternative would be to train every time a new labelled sample is available, but my feeling is that's overkill for most people. Incrementally training with a mini-batch of data periodically is the way to go.

There's things like [HOGWILD!](https://arxiv.org/abs/1106.5730) and federated learning, but those are too researchy and not production grade. Learning has to be considere

[2022-02-02 22:25] vsoch commented on #834
It's extremely helpful! And thank you so much for all the details. I'm good to close the issue, and one more question - will your talk be at a venue that I could attend, or shared after (e.g., YouTube or similar?)

[2022-02-02 23:17] MaxHalford commented on #834
The first talk is [on February the 9th at PyData PDX](https://www.meetup.com/PyData-PDX/events/282289299/). Let me know if you don't find the event. I'm not sure which of the events will record the talk yet.

[2022-02-03 00:05] vsoch commented on #834
Awesome! I will try to attend, and post back here if I can't make it (it's 6:30pm-8:30pm for me, so I'll watch with or right after dinner into the evening).

Thank you so much, looking forward to that next week! :partying_face:

[2022-02-03 00:05] #834 closed

[2022-02-03 16:55] anlarro opened #836 "Implement new changepoint detection models"
I found that some univariate drift detectors are implemented in RIVER. I wonder if you're planning to implement other well known detectors like the [Bayesian Online Chagepoint Detector (BOCD)](https://arxiv.org/abs/0710.3742) and/or other multivariate variants such as: [MF-BOCD](https://arxiv.org/abs/2103.14224) or [SB-BOCD](https://dl.acm.org/doi/10.1145/3459637.3482167).

How can I implement / i

[2022-02-03 17:29] MaxHalford commented on #836
Hey there! Thanks for the interest.

We're definitely open to new implementations. In particular, the BOCD method seems to be well established, judging from its number of citations. I would probably start with that one, and implement other flavors/variants in a subsequent step.

In general, I would say that the drift detection module needs some love and ownership. For instance, it would be great t

[2022-02-03 17:32] MaxHalford commented on #836
Added a card [here](https://www.notion.so/d1e86fcdf21e4deda16eedab2b3361fb?v=503f44740b8b44a99a961aa96e9e46e1).

[2022-02-04 15:52] MaxHalford commented on #831
This should be fixed with River 0.10.0 :)

[2022-02-04 19:24] smastelini commented on #836
+1 to adding these algorithms.

It will be great to see multivariate detectors in River.

As far as I'm concerned, the main challenge API-wise, was to unify an interface to cope with detectors that have both warning and drift signals and those that only detect drifts.

I think the current state is fairly generic, but with the addition of more detectors the API might evolve. Maybe become more simil

[2022-02-06 12:24] #831 closed

[2022-02-10 17:42] vsoch commented on #834
Thank you for the talk - it was great! I can't believe you were functioning so late / early in the morning the next day :laughing:

I've shared your slide at my lab, and I've also been a bit loud about the idea of online machine learning. The lab has a project they are working on that is labeled "online ML" but I believe it is doing batches and is not, so I'm trying to educate people around that.

[2022-02-10 21:49] MaxHalford commented on #834
Me neither haha, I won't be doing that again soon!

Interesting! I'll try to dig a bit when I have some time.

Please do :). God speed!

[2022-02-14 20:30] vsoch opened #845 "[question] Standard API endpoints?"
Hi! Is there any work in the online ML community to derive a standard set of API endpoints / interactions for a service (and then implementations can use and add extra as needed?) An example in the containers community would be the OCI distribution-spec: https://github.com/opencontainers/distribution-spec and I've made one for workflows too: https://github.com/panoptes-organization/monitor-schema/

[2022-02-17 13:56] TomKealy commented on #65
I would be willing to integrate a bayesian model, if someone could give me guidance.

[2022-02-18 16:14] MaxHalford commented on #65
The code in [this](https://maxhalford.github.io/blog/bayesian-linear-regression/) blog post works well for mini-batches of data. It leverages the Sherman-Morrison identity to estimate the inverse covariance matrix online. But to make this work for River, one would have to make it work with dictionaries, which is not trivial.

[2022-02-18 17:50] vsoch commented on #845
I've never gone through creating a formal RFC, although I did create an RFC template for opencontainers! https://specs.opencontainers.org/image-spec/?v=v1.0.1. I think early work probably wouldn't need to be official - my thinking is I'll write up a spec.md doc alongside what I'm testing and see if anyone else is interested.

[2022-02-18 18:20] TomKealy commented on #65
`But to make this work for River, one would have to make it work with dictionaries, which is not trivial.`

That's fine!

If you could provide some acceptence criteria, this is something I'd be happy to work on!

[2022-02-22 03:18] P22222 opened #854 "something went wrong with my own dataset in regression"
Hi all, I'm a online-ml starter, and happy to see such a good tool to launch a online learning project. But I exactly encountered some problems and dont know how to fix it, I turned to google with no result.
In fact, I'm working on a online ml project with regression problem. I use lightgbm and randomforestRegressor in sklearn, which have good performance on my dataset, but obviously, they have no

[2022-02-22 09:31] sherrypie077 opened #855 "problem of denstream"
I used the example of denstream, but I got the typeerror: __init__() got an unexpected keyword argument 'beta'. mu,epsilon and n_samples_init have the same problem. How can I solve this? Thanks!

[2022-02-22 10:37] #855 closed

[2022-02-22 14:25] MaxHalford commented on #854
Hello. We can't help you without a dataset and a reproducible piece of code.

[2022-02-23 05:31] P22222 commented on #854
Thank you for your replying. I've made a demo-illustration. How can I send you personally?

[2022-02-23 22:29] MaxHalford commented on #854
You can send it by email to maxhalford25@gmail.com.

[2022-02-24 02:31] vsoch opened #856 "model.to_dict()?"
Hiya! I am adding a view to quickly return some summary for a model, and I'm wondering if there could be some kind of model.to_dict(). E.g., it looks like some basic view of this could be unwrapped?

[code]
And this is different from an endpoint to download the model itself.

[2022-02-24 08:41] MaxHalford commented on #856
Hey there. So every River object (not just estimators) have a `_get_params` and a `_set_params` method. Meaning you can do this:

[code]

This is what `params` looks like:

[code]

I don't think you can use this directly in an API route because the classes are not JSON serializable. But you could get around this by working with the `__name__` attribute.

Let me know if I can do anything else for y

[2022-02-24 16:34] rubcol opened #857 "As a user I would like to create a customized datasets"
There are many examples on datasets that are used in the examples. But I couldn't find any information documentation to create your own custom dataset. ?!

[2022-02-24 16:38] rubcol opened #858 "Cannot find docs for customized datasets creation"
Cannot find docs for customized datasets creation

[2022-02-24 16:39] #858 closed

[2022-02-24 16:50] MaxHalford commented on #857
That's a good remark! There's different aspects to consider.

At their very core, River datasets are just iterators. So you can use any function that yields:

[code]

For instance, you can pass such a function to `progressive_val_score`.

In truth, River datasets are not just iterators. They're classes that implement the `__iter__` method (which is why you can loop over them). They inherit from `r

[2022-02-25 00:43] vsoch commented on #856
That worked like a charm! :partying_face:

[code]
I think that's probably sufficient for "show me a json dump of the model" and really anyone that wants further detail can download it directly.

Will do! I'm working on it little bits in the evenings, should have some time tonight and push new changes.

Thanks for your help!

[2022-02-25 00:43] #856 closed

[2022-02-25 02:39] P22222 commented on #854
Thank u sir. I've sent you a E-mail named _mini-dataset & code for Issue 854_ , forward to your reply. Give you my thankfulness again.

[2022-02-25 07:23] vishmonika98 opened #859 "unsupported operand type(s) for -: 'str' and 'float'"
![Screenshot (40)](https://user-images.githubusercontent.com/36053063/155672325-f98b8cdc-6fdf-4dbd-b79f-72480f93afb6.png)
![Screenshot (39)](https://user-images.githubusercontent.com/36053063/155672333-f11411cf-51ec-448c-bbfa-572fce7123f0.png)
Please help to resolve this problem

<ipython-input-3-81f1436ab933> in <module>
      2
      3 for x, y in X_y:
----> 4     y_pred = model.predict_one(x)

[2022-02-25 09:26] MaxHalford commented on #854
I received the email, I'll check it out soonish :)

[2022-02-25 09:28] MaxHalford commented on #859
I'm sorry but I can't reproduce this bug. I can't copy/paste from a screenshot. I could either tils 2032 when we develop that technology, or I'll wait for you to produce a [minimal, producible example](https://stackoverflow.com/help/minimal-reproducible-example) :)

Also, saying hello or even just expressing a few words goes a long way in starting a good relationship. You can't just throw a screen

[2022-02-25 09:51] vishmonika98 commented on #859
I tried to solve the problem, but new issues come with this river and creme package every time. Because it can handle some specific type of data (phishing data). Every dataset has different properties. Due to the lack of documentation, challenging to use this package. In this article,  https://pyimagesearch.com/2019/06/17/online-incremental-learning-with-keras-and-creme/, They mentioned the dataty

[2022-02-25 09:51] #859 closed

[2022-03-01 05:58] vsoch commented on #845
heyo! So I started a very basic spec, and it's based off of chantilly and then django-river-ml. I tried to keep it as simple as possible since it's the first shot :point_right:  https://vsoch.github.io/riverapi/getting_started/spec.html please provide any feedback / point people in this direction that might be interested to help or think more about it! Closing the issue since my question is answer

[2022-03-01 05:58] #845 closed

[2022-03-01 13:27] caiyuan11 opened #862 "Having error in import river"
hello! I am a beginner of online learning.
An unexpected error occurred when I tried to import module
 like the code : `from river.drift import EDDM`
I wonder if anyone has encountered the same question, could you help me solve it?

detail as follow:
Traceback (most recent call last):
  File "/data3/caiyuan/code/test.py", line 1, in <module>
    from river.drift import EDDM
  File "/usr/local/anac

[2022-03-01 21:35] MaxHalford commented on #862
Hello! Can you try upgrading numpy? Sometimes this happens, though I'm not sure why. I thought we solved this problem.

[2022-03-02 07:46] MaxHalford commented on #845
Very cool!

I take it this overlaps with tools like OpenAPI and Swagger. But those are generated once the implementation is done; they're not specs.

The routes looks good to me. One thing though: for me there should also be a `/label` route. You give it a label and an ID, and those are matched with the features passed during a prediction. You don't pass the features directly in the `/learn` route

[2022-03-02 10:29] vsoch commented on #845
Oh indeed! Yes I can add that view to the django plugin - there are easy ways to do that.

So you are saying `/label` would be the route to provide features with a ground truth, and `/learn` doesn't require it? I don't know exactly what you mean so the additional explanation would be helpful! I can definitely make more time later this week to hack on this bit.

[2022-03-02 10:35] MaxHalford commented on #845
So this I what I try to explain in my talks, but it's not an easy concept. Basically:

- `/predict` takes as input an ID and a set of features.
- `/label` takes as input an ID and a label.

Under the hood, the features and the label can be joined to make the model learn. This is helpful because it avoids stuttering: the features are passed once in `/predict`, and not a second time in `/label`. Thi

[2022-03-02 11:50] MaxHalford commented on #845
Ah well something like this I suppose:

[code]

[2022-03-02 17:53] vsoch commented on #845
Gotcha, so you would store one or more labels with a model name and identifier? E.g.,:

[code]

[2022-03-02 17:53] vsoch commented on #845
and a label != a ground truth provided in /learn ?

[2022-03-02 18:49] MaxHalford commented on #845
Yes you could store it like that. But then once you consider the case of having multiple models being updated in parallel, then this storage scheme might not make much sense.

And yes label and ground truths are synonyms.

[2022-03-02 18:54] vsoch commented on #845
Agree, so just to clarify the use cases:

 - if I know a label at the time of learning, I can provide as ground truth
 - If I don't know a label at learning I can add it later, but I need to keep track of the identifier

Where exactly does this identifier come from? I see it's optional to add for variious endpoints, but it's not clear how it's generated. Shouldn't the server be generating it (and

[2022-03-02 22:29] MaxHalford commented on #845
Indeed, when you have a ground truth, it usually means you made a prediction beforehand.

It depends. Ideally the user should provide this. But you could ask generate one for each prediction as a convenience for the user.

Yes, I suppose so. I would go with *ground truth*, as *label* is usually only used for classification.

[2022-03-05 20:13] vsoch commented on #845
Follow up question for the label here - instead of trying to store it, can we not just use it to update the metrics from the previous prediction (and then delete the identifier from the cache since we've labeled it and reflected the accuracy etc. in the model? It looks like for the current implementation when we get ground truth for a label we:

1. use it to update metrics
2. use to model.learn_on

[2022-03-05 20:24] MaxHalford commented on #845
Yes of course, you can do that. I'm only saying that doing the learning in the background might be desirable for performance reasons.

[2022-03-06 18:01] Leo-VK opened #863 "Potential bug in vector matrix multiplication of dotvecmat"
## Versions

**river version**: 0.7.0
**Python version**: 3.7.10
**Operating system**: Windows

## Describe the bug

Hi everyone

I was experimenting with the math.utils functions and came across the function _dotvecmat_. I think there seems to be an issue with the index for the _get_-method of the new dictionary. Down below I provided a simple example with a matrix having all entries set to 1 and

[2022-03-06 21:48] MaxHalford commented on #863
I confirm this is a bug. Good catch! I suggest you make a pull request. Ideally, it would be nice to add a couple of unit tests. Either as doctests, or with unit tests with a comparison to numpy, or both.

[2022-03-09 04:07] occoder opened #866 "Can't skip the unused column"
Hello, River experts
I mannually crafted a very simple abcde.csv dataset and try to use the example code to run through it.
The csv content looks like
[code]
The code snippet is as follows
[code]
Unfortunetly, it gave following error prompt
[code]
After tracking down the root cause, it is the first column, i.e. foo, that is not taken into account as a feature and not converted either that casued s

[2022-03-09 07:33] gbolmier commented on #866
Hello @occoder, the second line of your csv has 7 values whereas all the others have 6. Have you also tried adding `foo` to the `converters` param dict of `stream.iter_csv`?

[2022-03-09 08:11] occoder commented on #866
Sorry, my bad to paste in wrong data. I've fixed it. But it won't affect the problem.
If I put "foo" into converters dict, the error will be gone. But it just hides the problem that River actually takes "foo" as a feature.

[2022-03-09 09:01] smastelini commented on #866
Hi @occoder, you can also pass foo to `drop` in `iter_csv`.

[2022-03-09 09:38] gbolmier commented on #866
`stream.iter_csv` is using [`csv.DictReader`](https://docs.python.org/3/library/csv.html#csv.DictReader) internally (from the standard lib). From the `csv` module [documentation](https://docs.python.org/3/library/csv.html#:~:text=Each%20row%20read%20from%20the%20csv%20file%20is%20returned%20as%20a%20list%20of%20strings.%20No%20automatic%20data%20type%20conversion%20is%20performed):

I guess that's

[2022-03-09 09:39] MaxHalford commented on #866
Nice catch!

[2022-03-09 13:11] #866 closed

[2022-03-09 18:33] vsoch opened #871 "Gaussian Mixture Models for streaming data"
Hi @MaxHalford! I want to introduce you to @harshithamenon, we were looking at different model choices for our errors project, and we didn't find anything for GMM. I found that "Mixture Models" are on your [roadmap](https://www.notion.so/d1e86fcdf21e4deda16eedab2b3361fb?v=503f44740b8b44a99a961aa96e9e46e1&p=a162fd78983f4fc8be36b2d5e9bc6ad2):

![image](https://user-images.githubusercontent.com/81432

[2022-03-09 19:08] MaxHalford commented on #871
Hey there! Pleased to e-meet you @harshithamenon.

Indeed there isn't, opensource should be fun :)

Good idea! I find that it helps to find a good dataset/usecase to help develop the model. I'd be more than happy to help with technical details, such as River conventions, working with dictionaries, evaluating models online, etc. Feel free to ask questions and I'll do what I can.

[2022-03-09 19:10] MaxHalford commented on #871
@vsoch may I have your email address? I wanted to talk to you about a recent development regarding the deployment tool you're working on.

[2022-03-09 19:18] vsoch commented on #871
Yep! Will send to you.

[2022-03-09 20:37] MaxHalford commented on #871
I really like [this example](https://scikit-lego.readthedocs.io/en/latest/mixture-methods.html) from scikit-lego where they use mixture models for anomaly detection. A lot of people use River for anomaly detection, and there's not many methods that work online. So it's a very worthwhile direction to pursue.

[2022-03-09 23:06] vsoch commented on #871
Would you want to use the [dataset directly from scikit-learn](https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/datasets/_samples_generator.py#L723) or try to add an implementation of it here?

[2022-03-10 08:05] MaxHalford commented on #871
We have a [`stream.iter_sklearn_dataset`](https://riverml.xyz/latest/api/stream/iter-sklearn-dataset/) which avoids the need to copy/paste their datasets. It convert each observation into a dict and adds the correct feature names :)

[2022-03-11 21:11] hoanganhngo610 commented on #862
Since this issue is fully resolved, I will close this by now!

[2022-03-11 21:11] #862 closed

[2022-03-11 23:05] vsoch opened #874 "Possible bug or documentation issue: beta in denstream"
So I was looking to control my clustering and the beta parameter:

![image](https://user-images.githubusercontent.com/814322/157983589-689b0577-568f-43c4-ba1c-43fdcf8f7e0d.png)

I noticed that it defaults to 5 and in the example (below) it's >> 1 (1.01) but then the docs say it should be between 0 and up to 1? :thinking:

![image](https://user-images.githubusercontent.com/814322/157983825-3ce8f252

[2022-03-12 08:06] MaxHalford commented on #874
Good research V! @hoanganhngo610 I'll let you join the arena once again if you don't mind :)

[2022-03-12 09:37] hoanganhngo610 commented on #874
No problem at all @MaxHalford, I will try to have this setlled down ASAP. @vsoch Once again, I am extremely impressed by your deep understanding and careful look of clustering algorithms and of this one in particular!

[2022-03-12 11:52] vsoch commented on #874
haha you are too kind - I’m happy to help :)

[2022-03-12 22:54] mai-n-coleman opened #875 "Numpy import error with River"
Hi,

I read through all previous issues to make sure i have the right versions.  I have:
- numpy 1.20.1
- river 0.10.1

However I still got the "ValueError: numpy.ufunc size changed, may indicate binary incompatibility. Expected 232 from C header, got 216 from PyObject"

What should I do? Thank you!

[2022-03-12 22:56] MaxHalford commented on #875
Can you try `pip install numpy --upgrade`? I'm sorry, I don't know why this is still happening. Any idea @raphaelsty?

[2022-03-13 03:17] mai-n-coleman commented on #875
running pip install numpy --upgrade got my numpy version to 1.22.3 and this works. However this might mess up other libraries for me. I'm hoping it can work with numpy 1.20.1.

[2022-03-13 04:01] raphaelsty commented on #875
Hi,

@MaxHalford I think you are referring to the issue #831 but this one is different. I should have caught that error while testing for Numpy versions.

[code]

I managed to reproduce the error locally with Python version 3.8.12, River 0.10.1 and Numpy 1.20.1. But I was not able to reproduce the error with Google Collab and Python version 3.7.12. I'll try to find out more. :)

[2022-03-13 13:04] MaxHalford commented on #875
So we need to find a specific numpy version which works with all the major versions of Python we support. The current numpy version requirement is too loose.

[2022-03-13 13:16] AdilZouitine commented on #875
I already had this error, and it comes from the version of python used (I was using python 3.9).
The version of python must be in 3.6 and 3.8.
What is your version of python?

[2022-03-13 13:21] #863 closed

[2022-03-15 19:27] ColdTeapot273K opened #881 "L2 & learn_many"
Hey, I've noticed L2 hyperparameter is no-op when computing objective functions for linear models via `learn_many`:
https://github.com/online-ml/river/blob/main/river/linear_model/glm.py#L106-L123

I've tried implementing it like so:
https://github.com/ColdTeapot273K/river/commit/a7cfffd0c375efc7eae3c85c3160821187d31b73

But my tests on synth data with high amount of non-informative features show

[2022-03-15 21:49] MaxHalford commented on #881
Hey there, good catch.

Have you checked if your implementation produces the same results as scikit-learn's `SGDClassifier` and `SGDRegressor`? I would start there.

[2022-03-16 09:05] ColdTeapot273K commented on #881
@MaxHalford
I've checked here:

https://gist.github.com/ColdTeapot273K/471dba785fb80012d6921fbddc482d0a

and w/ a couple of other similar tests

The results are not precisely the same, but conclusion is that given the data, in `sklearn` `SGDRegressor` higher `l2` practically reduces the loss (as intended) and in my impl for `river` it's the opposite (not intended).

I've tried digging into sklearn

[2022-03-16 09:09] MaxHalford commented on #881
I see! I guess the implementation needs more digging into. I recall that River and scikit-learn produce exactly the same results in the single instance case. I think we even have unit tests for that.

[2022-03-18 02:55] SherryJingxr opened #884 "Problems about tflite"
I would like to ask if the trained model can be converted into tflite form according to this tutorial?https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter

[2022-03-18 07:00] MaxHalford commented on #884
Hello. Which model are you talking about?

[2022-03-18 14:12] hoanganhngo610 commented on #874
First of all, once again, thank you so much @vsoch for pointing the errors out.

So basically, in DenStream, we have four parameters: `epsilon`, `beta`, `mu` and the decaying factor `lambda`. We do add in one parameter called `n_samples_init` and the number of points to be used to initialize the algorithm, since without these initalizing points, we may not get any cluster generated for predicting.

[2022-03-18 18:49] vsoch commented on #874
Yes, that is satisfactory! So I think all of the details you provide above should be in the docs - specifically on the page where the person is reading about the parameters and the algorithm. And I think it's important to note that we are using a modified algorithm (maybe say "inspired by" this paper?) Otherwise the reader will (as I did) go and look at the paper and try to compare things 1:1 in t

[2022-03-19 11:43] jdevoo commented on #118
Hello Max! I am using 0.10.1 and when I compute 5; 15; 1; 3 I get 5 instead of 4. I see this is closed though.

[2022-03-19 11:50] hoanganhngo610 commented on #874
Agree, will do!

Once again, totally agree! Will specify it as `(1/beta, inf)`.

For this, I don't think that we actually do anything to modify the algorithm too much. Every basic element is still there, just that we add in the number to specify the number of initialized data points to facilitate our `predict_one()` command. However, will explicitly note this in the docstring!

[2022-03-19 14:44] MaxHalford commented on #118
Hey @jdevoo. Yep this still has not been addresses. I closed this because we moved to a Notion board for listing stuff to do, rather than GitHub issues.

[2022-03-20 08:38] hoanganhngo610 commented on #874
This issue is solved with the PR #887.

[2022-03-20 08:38] #874 closed

[2022-03-22 14:44] raphaelsty commented on #875
@drakeleeb, You should upgrade Numpy with `pip install numpy --upgrade`

[2022-03-23 11:46] Joseph-iris commented on #881
Hey @MaxHalford @ColdTeapot273K  my team noticed the same issue, following this as well

[2022-03-23 13:12] MaxHalford commented on #881
I'll take a look soon :)

[2022-03-23 21:11] vsoch opened #891 "Question about centroid changes"
heyo! So this might be better suited for chantilly, but it's generally about river so I hope it's okay to put here. I'm creating a server that has a cluster model on the backend to handle clustering types of errors. I was planning on using a cluster model and then assigning new errors (saved as objects in the database) to clusters, but I realize if I have a preference for models with a changing nu

[2022-03-23 21:58] vsoch commented on #891
Here's an idea - what if I could use a KNN model alongside this one, and then for the sliding window here https://github.com/online-ml/river/blob/9ea7707636e825a374cf053d149e3946c746ce2d/river/neighbors/base_neighbors.py#L101-L102 keep a vector of identifiers (of my own choosing) that I could relate back to my own objects or data, and then have a flavor of KNN that returns those full centroids / i

[2022-03-23 22:58] MaxHalford commented on #881
Ok I just implemented L2 regularization for `learn_many`. I believe your implementation was correct @ColdTeapot273K. A subtle difference is that you need to change the default squared loss to match with scikit-learn's convention. I suggest checking out the `test_glm.py` file for examples.

River and scikit-learn will necessarily produce different results because internally scikit-learn doesn't do

[2022-03-23 23:04] vsoch commented on #891
And follow up question (I implemented the model above, am testing) can we make knn flexible to different numbers of features?  E.g., here:

[code]

[2022-03-23 23:15] smastelini commented on #891
Hi @vsoch, indeed the current KNN have some limitations. A direct solution for different sets of features is to always rely on exhaustive search.

I'm currently working on ways of improve online knn as part of my research internship. Hopefully I should have results soon.

[2022-03-23 23:17] MaxHalford commented on #891
Hey @vsoch! There are good questions. I kinda always knew in the back of my mind that our API for clustering doesn't answer practical use cases. Your questions make this very apparent.

I actually don't know. The lazy answer is that you should reclassify every observation if you're using a clustering model with a changing number of clusters. In fact, even if the number of clusters stays the same,

[2022-03-23 23:23] vsoch commented on #891
Is there something I can try, sooner than in the time of a thesis, that would work? E.g., I was thinking just adding a boolean to the base class to allow / not allow, and then looking at the intersection of features. I actually already implemented the vector of identifiers (and I think it should work) but I hit the issue above, doh.

So for example let's say I have 3 data points that I use for lea

[2022-03-23 23:27] vsoch commented on #891
Oops sorry forgot to respond to this! So if we have to re-classify, I think that would (in a tiny way) defeat the purpose of using online ML in the first place. If I need to reclassify with some frequency, I could just use a batch method instead, because I need to setup some worker to do that at some frequency anyway.

[2022-03-24 08:00] smastelini commented on #891
Hi @vsoch, a quick solution for the knn problem is to replace the current version (inherited from skmultiflow) by the one from creme. Feel free to bring it back, at least from my side. I would do that at some point exactly to ensure dynamic feature sets.

I'll read the remaining of your concerns calmly, as I am not also following everything. One thing to always keep in mind though, is that cluster

[2022-03-24 08:04] smastelini commented on #891
Also, most of the clustering methods rely on micro-clusters. In other words, they kind of run a batch-based clustering from time to time. This could either be a disadvantage because of delayed cluster updates, or an opportunity to align the re-clustering intervals with the classification you need to do. But again, I still didn't get the whole picture. After I finish some immediate tasks I have to

[2022-03-24 09:35] sherrypie077 opened #892 "a question on denstream#887"
I got a question about def _merge: "creat a new o-micro-cluster" is under the condition "if not merged_status and len(self.o_micro_clusters)! = 0", so the point can not creat a new omc if there is no omc before?
Thanks a lot!

[2022-03-24 16:35] vsoch commented on #891
Thanks @smastelini I'll try that today! And looking forward to seeing what you are working on.

[2022-03-25 02:02] ColdTeapot273K commented on #881
Thanks for helping @MaxHalford

[2022-03-25 04:08] vsoch commented on #891
heyo! So I made some tiny progress today, and likely nothing substantial to contribute to river, but I wanted to share in case it inspired any thinking.

## Summary of Problem

To re-iterate the problem, we want some kind of KNN setup that allows for returning the full set of points (not some prediction that summarizes the neighbors) and also can return the original identifiers for the datum. The

[2022-03-25 06:44] smastelini commented on #892
Pinging @hoanganhngo610!

[2022-03-28 15:14] smastelini commented on #891
Great @vsoch! Feel free to bring (adapt, really) the creme version of KNN to River. I think it is straightforward to do, and it would be a nice contribution!

By the time of the merge between creme and skmultiflow, I, as a skmultiflow maintainer, started porting KNN as the first algorithm to be a test case. By that time, I ran some benchmarks, and the skmultiflow version was a little faster than t

[2022-03-28 17:25] vsoch commented on #891
Sounds good @smastelini ! So would you imagine a set of classes like:

 - KNNeighborsSimple or KNNeighborsClassic (original implementation but modified to work in river that returns neighbors)
 - KNNeighborsSimpleClassification or similar to add on the mean / other metric to return a prediction?

I definitely think we shouldn't replace the current implementation, I'm sure the performance bit is go

[2022-03-28 18:09] smastelini commented on #891
I think that the buffer flavor you mention can be achieved via a `collections.deque` + a linear search. IMHO, unless we can provide something more efficient than a linear search, I think it's better to let the user implement this kind of solution and store what they want in the way they want.

For instance, please check structures like [sklearn's KDTree](https://scikit-learn.org/stable/modules/gen

[2022-03-28 18:14] smastelini commented on #891
KNN and Streaming Random Patches have been on my TODO list for quite some time now. They are the two ML models that currently don't support varying feature sets (as far as I remember). At least, those are the ones that keep me awake at night.

[2022-03-28 18:22] MaxHalford commented on #891
I'm in favor of replacing the current implementation of KNN, I'm doubtful as to the performance gains. I would just do something simple (deque + exhaustive search).

[2022-03-28 18:24] vsoch commented on #891
Just was about to comment!-I can give it a shot! I've tested [it here](https://github.com/vsoch/online_ml_custom/blob/main/online_ml_custom/creme/knn.py) and I wound up removing deque in favor of just managing a list and set on my own - the reason was (as I mentioned above) I decided it didn't make sense to add redundant points, to the model performed a lot better with a more diverse window to cho

[2022-03-28 18:25] MaxHalford commented on #891
That sounds like a parameter to add to the model. Or even a prior step in the pipeline.

[2022-03-28 18:26] vsoch commented on #891
Yep! It's a parameter - a threshold to decide for addition. So when set to 0.0 all points are added, something like 0.05 I found as a good default to not add exactly the same ones (but still pretty similar).

[2022-03-28 19:27] MaxHalford commented on #891
That sounds really cool actually!

[2022-03-28 20:06] vsoch commented on #891
ok this sounds super fun! I'll start working on it soon (this week) and get in a PR to start discussion. Likely I start with simple models and bases, and we can discuss how to tweak (or bring back in features/parameters from the previous implementation).

[2022-03-30 00:56] Ajstroze opened #896 "Creating perceptron model"
## Versions

**`creme` version**:

**Python version**:

## Describe your task
 Attempt to train a perceptron model on a dataset

## What kind of performance are you expecting?
When running the model it provides this error:
i: safe_div(xi - self.means[i], self.vars[i] ** 0.5)
TypeError: unsupported operand type(s) for -: 'str' and 'float'

## Steps/code to reproduce

[code]

## Necessary data

[2022-03-30 00:59] Ajstroze commented on #896
[multitest3.csv](https://github.com/online-ml/river/files/8375926/multitest3.csv)

[2022-03-30 06:09] MaxHalford commented on #896
Hey there. Your phishing feature is a string. Linear models such as a Perceptron expect all the features to be numeric.

[2022-03-30 11:18] beinathan commented on #896
Hi all, I'm a online-ml starter, and I have a question, if it is a multi-output regression situation, each feature has been a numeric type, there are still the following problems, how to deal with it?
**TypeError: unsupported operand type(s) for -: 'dict' and 'int'**

[2022-03-30 11:34] MaxHalford commented on #896
@beinathan could you open a separate issue and provide a reproducible example? I don't have enough context to help you right now.

[2022-03-30 11:39] beinathan commented on #896
Ok, thank u sir.

[2022-03-30 11:56] beinathan opened #897 "Question about multi-output regression with MLPRegressor"
Hi, I'm a online-ml starter, and I have a question, as for a multi-output regression situation with MLPRegressor, each feature has been a numeric type, When I run the following statement, there is a problem, how to deal with it?
**evaluate.progressive_val_score(dataset, model, metric)
TypeError: unsupported operand type(s) for -: 'dict' and 'int'**
[usv_data.csv](https://github.com/online-ml/river

[2022-03-30 12:20] hoanganhngo610 commented on #892
@sherrypie077 Sorry for such a late response! Indeed, we forgot to take this situation into account, and given that the function `_get_closest_cluster_key()` only works when the `self.o_micro_clusters` are not empty. Would make an update on the code ASAP!
@smastelini @MaxHalford pinging for acknowledgement!

[2022-03-30 14:31] VaysseRobin commented on #897
Hello,

I think that there is 2 problems:
- You are using `metrics.MAE` which is a metric for regression (not multi output regression) so, you should use something like `metric = metrics.multioutput.MacroAverage(metrics.MAE())` which compute the mean of the 3 MAE (one for each output)

- The second problem is from our side. MLPRegressor inherit from `base.Regressor`, so when it is applied to Multi

[2022-03-30 14:58] beinathan commented on #897
Thank you very much sir, but I have another problem with the above code when I try to run it.
**ValueError: MacroAverage metric is not compatible with StandardScaler | MLPRegressor**
Could you briefly introduce the use of the | operator, in the tutorial, I haven't seen percise description of this part.

[2022-03-30 15:02] VaysseRobin commented on #897
Check my example, I replaced `MLPRegressor` with `MultiOutputMLP` which I created in order to have a Multi Output version of `MLPRegressor`.

For a detailed explanation of Pipelines, I recommend you this : https://riverml.xyz/latest/user-guide/pipelines/

[2022-03-30 17:06] hoanganhngo610 commented on #892
@sherrypie077 This problem has been solved in PR #898 as seen above. Please feel free to leave any comments or concerns remaining!

[2022-03-31 06:18] hoanganhngo610 commented on #892
Close issue as it is fully solved!

[2022-03-31 06:18] #892 closed

[2022-03-31 06:24] sherrypie077 commented on #892
Thanks for solving this!

[2022-03-31 10:51] beinathan commented on #897
Thanks for your patience, my problem was solved.

[2022-03-31 11:42] smastelini commented on #897
Closing it!

[2022-03-31 11:42] #897 closed

[2022-03-31 14:07] #857 closed

[2022-04-06 12:01] fox-ds opened #905 "`RollingQuantile` and `Quantile` output difference for similar input data"
## Versions

**river version**: 0.10.1
**Python version**: Python 3.10.2
**Operating system**: Fedora Linux 35

## Describe the bug
The output of `RollingQuantile` and `Quantile` differs with similar inputs and a window that is not full. This should as far as I know result in the same value. Maybe a test can be added to validate this for other `Rolling*` variants as well.

## Steps/code to reprodu

[2022-04-06 12:33] MaxHalford commented on #905
This is expected.

`RollingQuantile` is exact. It maintains the values in memory and searches for the quantity in a greedy manner. It should produce the same results as numpy.

`Quantile` implements an approximate algorithm. The idea is that it compresses the data into a data structure will a smaller memory footprint. Right now I believe it uses the P-square algorithm. There's a whole literature a

[2022-04-06 12:39] fox-ds opened #906 "`RollingQuantile` performance with large windows"
## Versions
**`river` version**: 0.10.1
**Python version**: 3.10.2

## Describe your task
Keeping track of a rolling quantile over a large window. Once the RollingQuantile reaches the windows size, it removes the oldest value and appends the new value.  For 'small' windows ( ~ < 100k ) this is no problem and the code runs really fast, but with larger window sizes (say, 500k) once the window is ful

[2022-04-06 14:27] smastelini commented on #906
Hi @fox-ds, this is indeed problematic from a computational point of view. However, there is not much we can do currently.

IMHO, the main problem is that although multiple quantile estimators enable adding new points, removing old data is problematic. For instance, the P2 algorithm, implemented under `stats.Quantile`, does not allow "reverting". I am not sure if it is possible to modify the algor

[2022-04-07 02:32] beinathan opened #908 "Question about the method predict_one()"
I used a MultiOutputMLP to train the model and got a metric of 0.012. But when I re-invoked the training data to make predictions about the trained model, I found that the y_pred was very different from y. The specific data is shown below.

-         x={'u': 0.0, 'v': 0.0, 'r': 0.0, 'tau_u': 20.0, 'tau_v': -20.0, 'tau_r': 2.32}
-         y={'out_0': 0.0, 'out_1': 0.0, 'out_2': 0.0}
-         y_pre

[2022-04-07 05:36] MaxHalford commented on #908
Not sure what's happening! Could you share some code so we can reproduce?

[2022-04-07 06:13] beinathan commented on #908
[code.zip](https://github.com/online-ml/river/files/8440020/code.zip)
Thanks for your reply, here is my code. You could run main.py directly, where the variable out_new is the predicted value, and  the variable out_real is the real value.
I tried to use model in the streaming data  directly rather than do pre-training with collected datas. This avoids the above problem, but when the system is stab

[2022-04-07 11:21] beinathan commented on #908
Hello again, when I tried to change to a single output task, I found that the prediction value obtained by using the method predict_one() is still 0. I'd like to ask how to get the correct prediction value using by the method predict_one() after building the model. I guess my use is incorrect, please can you point out my problem?

[2022-04-07 15:42] smastelini commented on #906
Hey @AdilZouitine, would it be possible to keep a full-size binary tree in memory, even if the window is not full? Then instead of removing elements, we could mark them for removal. The tree would need to be rebalanced/rebuilt from time to time, which might become a problem.

I am not so sure about the rebuild/rebalancing frequency and whether or not this would become an extra parameter (which is

[2022-04-08 08:25] fox-ds commented on #906
Thanks for the suggestions all, the x3 speed boost already helps a lot! @smastelini @AdilZouitine I think that indeed keeping a binary tree in memory would be the ideal solution, perhaps we could use the `heapq` library for designing such a class. I found [this blogpost ](https://thewayofnada.medium.com/a-very-thorough-solution-to-sliding-window-median-and-some-heap-magics-5091a3ed1cdc) that tries

[2022-04-08 08:27] fox-ds commented on #905
Thanks for the explanation! I think we'll also cover this in #906, so I'll close this issue.

[2022-04-08 08:27] #905 closed

[2022-04-10 13:35] MaxHalford commented on #906
I found [this](https://aakinshin.net/posts/partitioning-heaps-quantile-estimator/) promising blog post. But it looks complex, so someone needs to dive into it.

[2022-04-11 07:51] fox-ds commented on #906
Thanks for the link @MaxHalford. The past week I worked on what at first glance looks like a similar solution - using two heaps that are 'balanced' around the quantile that you want to estimate. I managed to get it up and running really efficiently with `window_size=500_000`, however (in my implementation) the memory usage was still quite high. So I'll have a look at this blog post as well.

[2022-04-11 08:14] fox-ds commented on #906
Not yet, but I want to continue with it this week and probably share some code/figures once I'm satisfied with the results.

[2022-04-11 09:12] smastelini commented on #906
Hey @fox-ds and @MaxHalford, I've read both blog posts and I really like those ideias! The more I learn, the more I realize I know nothing about anything.

The reference C# implementation @MaxHalford sent also generalizes to arbitrary quantiles :D

[2022-04-13 15:31] blackmask-acuity commented on #259
The mentioned link seems to be death.

[2022-04-13 15:52] gbolmier commented on #259
I updated the link @blackmask-acuity

[2022-04-14 14:14] drkoocha commented on #875
Hi, get the same error with

[2022-04-14 14:20] drkoocha commented on #875
Hi, I got the error
ValueError: numpy.ufunc size changed, may indicate binary incompatibility. Expected 232 from C header, got 216 from PyObject
with updated numpy 1.21.5
unistalled numpy and river and reinstalled them few times
How to make river work?
Thanks

[2022-04-14 16:54] hoanganhngo610 commented on #881
Since L2 (and also L1 regularization has been implemented by @ColdTeapot273K ) is working properly now, I would proceed to close this issue!

[2022-04-14 16:54] #881 closed

[2022-04-14 16:58] hoanganhngo610 commented on #875
@drkoocha What version of Python are you using. This seems to be the same version that @raphaelsty has been able to reproduce locally. Moreover, how did you install River (through `pip` or with the latest version on Github)?

[2022-04-15 01:52] drkoocha commented on #875
thanks @hoanganhngo610
I have Python 3.8.10
installed River through pip

[2022-04-15 08:09] raphaelsty commented on #875
@drkoocha Could you try `pip install numpy --upgrade` ? :)

[2022-04-16 03:42] drkoocha commented on #875
@raphaelsty tried that, did not help :(

[2022-04-16 08:33] smastelini commented on #875
Hi @drkoocha and @raphaelsty. I've recently had problems with numpy and River, but only after installing matplotlib. I think there must be some conflicts between the dependency trees. In the end, I installed matplolib in a different virtual environment and everything worked.

[2022-04-17 08:03] gbolmier commented on #875
@drkoocha can you try with `numpy>=1.22.0`?

[2022-04-18 07:30] drkoocha commented on #875
@gbolmier tried it, uninstalled/installed numpy, matplotlib, river twice -- still not working

[2022-04-18 08:38] MaxHalford commented on #875
If I were you I would reset my Python environment @drkoocha

[2022-04-18 19:10] #896 closed

[2022-04-18 19:25] Ajstroze opened #914 "Models returning 0% accuracy"
## Versions

**`creme` version**:

**Python version**: 3.9

## Describe your task
Attempting to train a variety of models on a dataset. After training, all of the models return 0% accuracy. I'm not sure If this is a dataset issue or some shortcoming within the code.

## What kind of performance are you expecting?
 I was expecting some level of accuracy greater than 0.

## Steps/code to reproduce

[2022-04-18 19:40] Ajstroze commented on #914
I'm not set on using a specific model I'm just looking at different models and their accuracies.

[2022-04-19 05:01] emreguenduez opened #916 "Question about making a prediction into the unknown future"
Hey, how would I go about creating a model and training it with data that is available until today and use it to predict data about the next n hours (e.g. 96 hours)? I used the code in the [examples page in the documentation](https://riverml.xyz/latest/examples/building-a-simple-nowcasting-model/) to make predictions on the current data itself but I'm not quite sure how I can apply it to make fore

[2022-04-19 09:50] MaxHalford commented on #916
Hey there!

It depends how you frame it. In your example you should create observations which describe the future. You do this by creating features. For instance, just create a dict with `{'ordinal_date': <desired_month>}` and pass it through the model's `predict_one` method.

Basically, it doesn't matter if it's the past or the future you're referring to, it's just dictionaries of features that y

[2022-04-20 07:15] MaxHalford commented on #914
Could you please make some effort and format your code correctly? Right now it's very difficult to read. You can use ````python` at the top of your code snippets to highlight them correctly.

[2022-04-20 14:17] Ajstroze commented on #914
[code]

[2022-04-20 14:17] Ajstroze commented on #914
My apologies I hope the above code is the correct format

[2022-04-20 15:02] gbolmier commented on #875
@drkoocha what is the `numpy` version you're using when it's failing? Could you please provide a snippet to reproduce the failing environment, e.g.:

[code]

[2022-04-21 10:58] drkoocha commented on #875
@gbolmier I work with poetry instead of conda.
Python 3.8.10
libraries from `dir list`
[code]
Other libraries of interest?

[2022-04-21 11:08] drkoocha commented on #875
@gbolmier full error notice:
[code]

[2022-04-21 16:10] MaxHalford commented on #875
@gbolmier should we add that requirement to our `setup.py`? We could also maybe reimplement ADWIN in plain Python.

[2022-04-21 16:46] gbolmier commented on #875
Yeah, apparently `1.20.X` is working so I think we should just exclude `1.21.X`

[2022-04-21 16:56] smastelini commented on #875
I am against using pure python in ADWIN if possible. @jacobmontiel reported up to 10x faster processing times in some ensembles back in the day.

[2022-04-22 01:48] hoanganhngo610 commented on #875
Totally agree @smastelini. C has proven to be much much faster than pure Python in many of our cases, which I believe has no reason to be changed.

[2022-04-22 08:23] MaxHalford commented on #875
No problem! I would like us to fix this numpy issue though.

[2022-04-22 10:19] raphaelsty commented on #875
What do you think a bou a try / except on import ?

[2022-04-25 12:59] emreguenduez commented on #916
Hey @MaxHalford! Thanks for the reply, and sorry for my late response, I was out of the office. I created a `pandas DataFrame`with dates as the future dates and used that with the `stream.iter_pandas` method, which worked like you said! Thanks a lot!

[2022-04-25 12:59] #916 closed

[2022-04-27 18:56] #914 closed

[2022-05-02 15:44] pillarxyz commented on #875
i had the same issue, for me river worked after downgrading to 1.16.6

[2022-05-02 18:07] gbolmier commented on #875
Hey @pillarxyz, what `numpy` version did you have an issue with? Have you tried with `1.20.X` or `1.22.X`?

[2022-05-03 10:40] pillarxyz commented on #875
it was 1.22.3

[2022-05-04 09:37] gbolmier commented on #875
@pillarxyz could you provide a snippet to reproduce the failing environment? I don't have any issue on my side with the following:

[code]

[2022-05-05 07:56] fox-ds commented on #906
I did continue working on this a few weeks ago, but still need some more time to finalize the results

[2022-05-10 03:25] leetschau opened #925 "Skip blank lines when parsing arff file"
## Versions

**river version**: 0.10.0
**Python version**: 3.9.7
**Operating system**: Ubuntu 20.04

## Describe the bug

ARFF file created by MOA may have a blank line below `@data`,
which makes the code throw a `'' can't be converted to float` error.

## Steps/code to reproduce

Demo ARff file:
[code]

[code]

# Solution

Add blank-line testing codes can fix it:
[code]

[2022-05-11 09:42] smastelini commented on #925
Thanks for reporting that, @leetschau! How do you feel about opening a PR to address that?

[2022-05-11 16:25] smastelini commented on #925
Hi @leetschau, the error is unrelated to your PR. I've been trying to track down this odd error for quite some time now and I feel I am getting closer to a solution.

[2022-05-16 07:24] numersoz opened #930 "One-hot Encoded Features"
I'm using regression with one-hot encoded features on time-series data.

This feature represents the area code the vessel operates in. There are about 5 different areas.

Model totally fails when this feature is introduced. Without it, I get 0.91 R2. This feature significantly improves regular regression, thus I wanted to introduce it to RiverML as well.

My theory is, as it takes long time for th

[2022-05-16 08:51] MaxHalford commented on #930
Hey! Difficult to say why introducing this feature makes your model fail without any code. Maybe your data is ordered by area?

[2022-05-17 06:05] dberardo-com opened #931 "How to use conditionals in composed pipelines"
My use case is the following: i want to use an ARIMA model to do timeseries forcasting, but i dont want outliers to "pollute" the forecast quality. Those outliers are usally bad sampled data deriving from bad sensor settings or maintenance and are in generally easy to figure out (sudden drops in values, or so)

So the idea would be to use pipe an anomaly detector before the arima model and when an

[2022-05-17 06:42] MaxHalford commented on #931
That's a really good use case, and something other people have mentioned to me. Right now there's no way to do this via a pipeline, but it's definitely something we could add :). By any chance, do you have a dataset you can share? If so I could get this done very soon.

[2022-05-17 07:05] dberardo-com commented on #931
i dont have a complete dataset, but an example of timeseries / vector. Do you have any requirements on the quality of a dataset and its minimum/desired size?

also, for easeing the research of such kind of issues, would you mind adding a tag to both this issue and the other ones you were referring to where the discussion was started already? i would like to have a look.

Maybe a tag like Feature::

[2022-05-17 07:12] dberardo-com commented on #931
here an example of such a vector, the green line is the measured data, and the red line is the SARIMAX model that struggles to fit it:

![image](https://user-images.githubusercontent.com/65530457/168750934-b7b7e975-310c-4c96-9062-d8561b2bb139.png)

in this case i know that the dropdown in the greenline are due to human intervention and are controlled, but they can be regarded as anomalies for the

[2022-05-17 09:04] MaxHalford commented on #931
Ideally we want to create a dataset in the `datasets` module. The dataset you've shared in the screenshot looks really good :). How big is it?

I'll try to yes, but I can't remember where those other discussions are. There were not in-depth anyway, it's just something people mentioned passing by. I know exactly what to do so I can take care of implementing this, don't worry :)

[2022-05-17 11:14] dberardo-com commented on #931
On the dataset:

- are you asking for a whole dataset (multiple, perhaps correlated vectors) or just a single vector (like in the picture)?
- i cannot provide many years of "clean" data, but i could provide e.g. 2+ months in 1 minute/1hour/1day resolution, as you required. Or i could even provide unsampled data, meaning that you will get no regular timestamps, like minutes, etc. but then you would

[2022-05-17 11:22] MaxHalford commented on #931
I guess a single vector would be good to start with. Basically I think to think to being there's value in implementing a simple solution which solves your problem.

An hourly dataset sounds like the right size for a toy dataset to being with :)

[2022-05-17 11:31] dberardo-com commented on #931
good, let me check that. Should i upload it in here or send you an email?

[2022-05-17 11:41] MaxHalford commented on #931
You can me an email at maxhalford25@gmail.com :)

[2022-05-17 11:54] dberardo-com commented on #931
great, in the meantime i tag here @izzyhd for generic interest on the topic (research)

[2022-05-17 17:07] #884 closed

[2022-05-17 17:07] #836 closed

[2022-05-17 17:08] #754 closed

[2022-05-18 12:15] dberardo-com commented on #931
While this issue is being worked out, a question related to forecasting: do you suggest any good python "calendar" library for generating flags on national holidays to add to the forecasted features ? or does river already implement any?

@MaxHalford

[2022-05-27 11:20] MaxHalford commented on #931
As soon as possible ideally. But there's still one unit test that's failing, and I also want to investigate the issue some people are having with regards to some specific numpy versions. In the meantime you can install the development version directly from GitHub.

[2022-05-27 11:21] dberardo-com commented on #931
alright, that is not possible via pip right? it should be an installation from source, correct?

[2022-05-27 13:27] MaxHalford commented on #931
I'm on my phone so I can't give you details instructions. It actually happens with pip, it's just that you have to tell pip to install from sources on GitHub. There are I strictions in the installation section in the docs.

[2022-05-27 14:19] dberardo-com commented on #931
great
`pip install git+https://github.com/online-ml/river.git@73279f0fb95b550ab32aea81decf8eb691b7a9c5`

[2022-05-28 13:11] MaxHalford commented on #875
I've added `numpy>=1.22` to `setup.py`. Closing this.

[2022-05-28 13:11] #875 closed

[2022-05-28 17:12] MaxHalford commented on #800
I've fixed the docs. It's a bit long to explain, but basically I was very wrong the first time I wrote those docs :)

[2022-05-28 17:12] #800 closed

[2022-05-28 17:51] #930 closed

[2022-05-28 17:51] MaxHalford commented on #931
Closing this for now :)

[2022-05-28 17:51] #931 closed

[2022-05-28 17:53] MaxHalford commented on #908
Is this still an issue @beinathan? I haven't looked at it yet.

[2022-05-30 14:58] beinathan commented on #908
I'm sorry, I've solved the problem. Thanks for your patience.

[2022-05-30 14:58] #908 closed

[2022-05-31 15:08] dberardo-com opened #941 "New design of documentation website is hard to read"
The documentation API reference page has now all elements in the menu expanded by default, which makes it very hard to navigate.
also the font size is now much bigger and harder to read.

[2022-05-31 15:12] dberardo-com opened #942 "Timeseries forecast evaluation"
2 matters here:

1. after introducing the ThersholdFilter in the time_series pipeline, it is now hard to evaluate models with vectors that have anomalies. Is it possible to "pass-through" the anomaly score 1/0 to the output of the function model.forecast() ? this way one could skip metrics.update for those anomalies when looping around the dataset.

2. for a-posteriori evaluation of a time_series

[2022-05-31 15:14] MaxHalford commented on #941
Thanks for the feedback, I'll look into it.

[2022-05-31 15:14] #941 closed

[2022-05-31 15:31] MaxHalford commented on #942
You should be able to do this by splitting your pipeline into an anomaly detector and a model. Loop through the dataset, manually, check if a label is anomalous, if so discard it, if not learn and update the metric. I can provide an example if you struggle, but I don't have a lot of time right now.

This doesn't make sense in online learning, and especially for time series models. You're supposed

[2022-05-31 15:39] MaxHalford commented on #942
As of now, I would say we need to add a custom function in the `evaluate` module. It would have the same parameters as `progressive_val_score`, but would also allow passing an anomaly detector that would ignore anomalies. Actually we could just add a parameter to `progressive_val_score`. To be determined.

Good question! It's implicit to your problem. Indeed we assume a uniform step between sample

[2022-05-31 16:01] dberardo-com commented on #942
i see ... but if i add an explicit set of features as the `xs` argument, that would be taken instead of horizon right?

so for example if i want to predict the next 1.5,  6 and 13 hours i would do:

[code]

right?

[2022-05-31 16:16] dberardo-com commented on #942
the reason why i am asking is because i am trying to compare the predictions made from the same model 6hours, 24hours, and 30 days ahead, with one another, and i get strange results. Here the plot of 24 hours ahead (looking ok). and then the one 6 hours ahead ... which is supposed to look better, but it is not.

- day ahead:
![image](https://user-images.githubusercontent.com/65530457/171221874-50e

[2022-05-31 16:47] MaxHalford commented on #942
That's model dependent. In the case of `SNARIMAX`, an error is raised if the length of `xs` and the value `horizon` aren't equal. For `HoltWinters`, `xs` isn't used. I don't know what model you're using.

I don't have to dive into your code right now, too much stuff going on, sorry 😬

[2022-05-31 16:51] dberardo-com commented on #942
i see ... i was using HoltWinters from the example you provided with the WaterFlow DS. In this case i will redo the experiment above with the SNARIMAX model and see if i get the same strange behavior.

sure, i will post an update in the next days, after having changed the model to snarimax

if stuff works after that, i could make a documentation page with the experiment

[2022-06-02 09:38] dberardo-com commented on #942
i was now setting up the SNARIMAX test and wanted to make a grid search on the hyperparams. to do this i use the model_selection package but i get into this validation issue, here i see that SMAPE metrics work against SNARIMAX:

![image](https://user-images.githubusercontent.com/65530457/171601686-6ac78f5e-fc50-42b3-8b39-ae6f23fd1ead.png)

but when calling is from a model evaluator i get an except

[2022-06-02 10:34] dberardo-com commented on #942
right, so this is what i am doing now, a dirty grid search:

![image](https://user-images.githubusercontent.com/65530457/171611374-b167e5e3-9959-450c-8355-e1c922b62d24.png)

and take the best row in the data frame on average:

[code]

[2022-06-04 17:01] dberardo-com opened #948 "Problem with ThresholdFilter and GaussianScorer"
i have got this signal:

![image](https://user-images.githubusercontent.com/65530457/172017334-35c2d50a-9200-4845-8f44-64c2dea33cc8.png)

and i am applying a gaussianScorer  + ThresholdFilter like in the timeseries Waterflow example.

The problem is that at the end of the execution, the gaussian filter has not learnt anything that happened after the jump at the beginning of April. Here is how the

[2022-06-04 17:10] dberardo-com commented on #948
as an extra information, if i change the parameter window_size to 48, this is what i get:

![image](https://user-images.githubusercontent.com/65530457/172017883-5be94d34-8382-423f-b6a9-a40ea7006f18.png)

![image](https://user-images.githubusercontent.com/65530457/172017908-f61c4032-660c-4698-9c02-921445d9270e.png)

which means a slightly improved situation, but the adpatation is too slow here.

So

[2022-06-04 17:16] dberardo-com commented on #948
and here is what happens for a smaller window_size of 30:

![image](https://user-images.githubusercontent.com/65530457/172018017-0b3babb3-7c9d-43a1-81a5-ed31369d9c8b.png)

![image](https://user-images.githubusercontent.com/65530457/172018039-314d091d-83cd-46fc-8195-6854bdb1a1b9.png)

which makes no sense, as i would expect an reduced number of anomalies detected

--> indeed if i set the window_siz

[2022-06-05 13:32] dberardo-com commented on #948
alright, so to answer some of my own questions:

i have got answered here that grace_period cannot be larger the window_size: https://github.com/online-ml/river/blob/main/river/anomaly/gaussian.py#L71  i think i will try to patch this one because it makes sense sometimes to have a higher grace_period then window_size

i have just realized now that the parameter `protect_anomaly_detector` is set to

[2022-06-05 13:43] dberardo-com commented on #948
ok, found the bug and created a PR: https://github.com/dberardo-com/river/pull/2

[2022-06-05 13:51] dberardo-com commented on #948
after fixing this bug, and reducing the learning rate of the SNARIMAX regressor's optimizer i get a more useful prediction:

![image](https://user-images.githubusercontent.com/65530457/172053901-9e27f164-db7d-44bc-8450-dc77ae68da93.png)

still room for improvement though, i think i will now give it a try by using a GaussianScore with a proba.TimeRolling update function: https://github.com/online-m

[2022-06-06 06:53] beinathan opened #952 "Question on MacroAverage metric is not compatible with PyTorch2RiverRegressor"
Hi all, sorry to bother you again. I'm trying to build a multi-output model with PyTorch2RiverRegressor. When I try to pre-train the model, I get the following error, is there a way to fix it? Thanks for your reply.
**ValueError: MacroAverage metric is not compatible with PyTorch2RiverRegressor**

[2022-06-06 16:39] gbolmier commented on #952
Hi @beinathan, would you mind providing a minimalist snippet to reproduce the error?

[2022-06-07 13:20] beinathan commented on #952
[test.zip](https://github.com/online-ml/river/files/8853495/test.zip)
Hey! The main code is included here, thank you for your patience.

[2022-06-10 23:31] gbolmier commented on #952
The error might be due to an old `river` version. I created a couple of PR (#962, online-ml/river-extra#2) to relax version contraints between `river` and `river-extra` which was forcing us to use `0.8.0`.

Let's try again from a fresh environment after the PRs are merged.

[2022-06-13 07:30] dberardo-com commented on #942
hi @emreguenduez , i have actually managed to get even better results. I would like to make a blog post on how to achieve that, especially because i would like to start a discussion with practitioners on how to improve the model and which could be drawbacks.

i would like to first get this PR done: https://github.com/online-ml/river/pull/949 and then move to the blog post (next weekend might be a

[2022-06-13 08:03] MaxHalford commented on #942
I'll take a look soon, but I think you're still good :)

[2022-06-13 21:51] MaxHalford commented on #948
What's the status with the issue? Do you still want me to have a look at something @dberardo-com? :)

[2022-06-14 02:49] numersoz commented on #930
Hi,

Think of it this way.

Say I convert 1 categorical feature into 10 features with one hot encoding (10 unique values).

For the first 2-3 months of data coming in (at 1 hour sample rate), only few of the features are non-zero. Thus, coefficient of the other features is near zero. When suddenly the incoming data has non-zero for those features, during prediction there is high error because mode

[2022-06-14 06:02] MaxHalford commented on #930
Indeed, it sounds like there's not much to do. It's normal that a model has a lower performance when such drift occurs. But it will eventually learn and improve.

The ideal thing to do would be to detect this feature drift, and fallback to conservative predictions when it occurs, while allowing the model to keep learning in the background. But we don't have cookie cutter tools to do this, yet.

[2022-06-14 06:24] MaxHalford commented on #942
I've written down some thoughts [here](https://www.notion.so/maxhalford/Time-series-model-selection-93e30a1128c6408e888440a3aa15cb9f).

[2022-06-14 07:24] dberardo-com commented on #948
no thanks, this is related to the open PR, so no more need for discussion here. probably a bit unrelated to this specific issue, but is there a place in the documentation where i can find out the best way to implement a "groupBy" hour aggregation for the input data points?

i mean something to go about this issue:

1. input data comes in at random intervals (every 10 second, sometimes with gaps, e

[2022-06-14 22:38] MaxHalford commented on #948
My gut feeling is that you have to accumulate the data, and update the model each time an hour is complete. I remember seeing someone have this issue before, but I can't remember where. Anyway the consensus was that you need an aggregation mechanism in front of your model.

Good idea!

[2022-06-14 22:38] #948 closed

[2022-06-15 06:02] dberardo-com commented on #948
mm i see, then i will have to just try it out. If you find any past conversation about the matter we can share this thoughts in a github Discussion. I guess i will be opening one when having the test results.

Just to finish this: is there any example how to use the TimeRolling Mean to get the average of the past hour in River? otherwise i will figure that out  by myself

[2022-06-15 06:27] MaxHalford commented on #948
Added a card [here](https://www.notion.so/maxhalford/Find-a-solution-to-irregular-time-stamped-data-b9f4d90f633c4192babfee49c8dd61fe). I'll think about it, but it'll take time.

See my comment [here](https://github.com/online-ml/river/pull/949#issuecomment-1156038373).

[2022-06-15 06:46] dberardo-com commented on #948
https://github.com/online-ml/river/discussions/971

[2022-06-16 09:26] beinathan commented on #952
Sorry for not replying sooner, I tried to download the latest version of river, where the file setup.py has been updated, but the problem is still not solved, and the minimum test case is still the same as before, thanks again for your reply.

[2022-06-16 09:28] MaxHalford commented on #952
Are you ok taking this @gbolmier? If not I can't take a look.

[2022-06-16 09:52] gbolmier commented on #952
Yes, I'm on it 👍

[2022-06-16 12:33] MaxHalford commented on #952
Mmm I see now.

It's a special in the sense that it can be a regular single-target regressor, as well as a multi-output one, dependending on `build_fn`. It all depends  I guess making `PyTorch2RiverRegressor` inherit from `base.MultiOutputMixin` in any case is ok. Especially if it's in `river-extra`.

Can I let you make that change?

[2022-06-16 12:38] gbolmier commented on #952
Yep, I'll make the change 👌

[2022-06-16 15:02] gbolmier commented on #952
@beinathan with the last change made in `river-extra` it now works for me. Until a new release of `river-extra` is made to pypi, you can install the latest version from github with:

[code]

[2022-06-16 15:03] #952 closed

[2022-06-23 05:16] MaxHalford commented on #854
Mmm actually I never seemed to have received this email, which is why I never got back to you. I'll close this, but please let me know if you still want me to take a look. Cheers!

[2022-06-23 05:16] #854 closed

[2022-06-29 10:16] denissabramovs opened #977 "pytorch GPU tensors not compatible"
File "/home/beck/anaconda3/lib/python3.9/site-packages/skmultiflow/lazy/knn_classifier.py", line 130, in partial_fit
    self.data_window.add_sample(X[i], y[i])
  File "/home/beck/anaconda3/lib/python3.9/site-packages/skmultiflow/utils/data_structures.py", line 953, in add_sample
    self._X_queue = np.vstack((self._X_queue, X))
  File "<__array_function__ internals>", line 180, in vstack
  File "

[2022-06-29 19:56] #871 closed

[2022-06-29 19:58] MaxHalford commented on #942
Closing this for housecleaning purposes. Feel free to reopen (another issue) if you feel it's necessary.

[2022-06-29 19:58] #942 closed

[2022-06-29 20:02] vsoch commented on #871
No worries! I don't know if @harshithamenon ever had bandwidth for this - @harshithamenon do you want to comment? I'd be happy to take it over if you started something and it's just a matter of preparing a PR.

[2022-07-04 08:08] emreguenduez opened #979 "'function' object has no attribute 'StandardScaler'"
**RIVER VERSION: 0.11.1**
**PYTHON VERSION: 3.9.12**

The code works as expected on my main system. However, when I try to run it on the remote desktop that is connected to the main database, I get this error: **'function' object has no attribute 'StandardScaler'**. Everything about the code is the same. What could be the reason for this? I am using jupyter on both of the computers.

Code:
[code]

[2022-07-04 08:14] MaxHalford commented on #979
Hey there. Hard to tell really. Maybe you've called something `preprocessing` and that's taking precedence over River's `preprocessing` module? A trick I sometimes use is to put the imports into the function that loads the model.

[2022-07-04 08:24] emreguenduez commented on #979
You were absolutely right! First I checked if i had imported any other module with the same name but I completely forgot about a custom function with the same name. Sorry for the bother over something like this. Thanks a lot!

[2022-07-04 08:24] #979 closed

[2022-07-04 13:06] denissabramovs commented on #977
Yes, i guess i'll try river later and open new case if there will be the same issue.

[2022-07-29 08:37] ercangunbilek opened #994 "VotingClassifier bug"
## Versions

**river version**:
**Python version**:
**Operating system**:

## Describe the bug

## Steps/code to reproduce

[code]

[2022-07-29 08:37] ercangunbilek commented on #994
![Capture](https://user-images.githubusercontent.com/33091962/181719604-aaba2815-52ac-4f51-a541-9ec7cd81bf93.PNG)
While i am using ensemble.VotingClassifier , i had error.

[2022-07-29 08:53] MaxHalford commented on #994
Can you please follow the issue template? It's not there for nothing. For instance we need a piece of code we can copy/paste to debug. We can't help you with the information you gave us.

[2022-08-11 17:39] philippkiesling opened #996 "Bug in Learn many for Linear Regression"
## Versions

**river version**: 0.11.1
**Python version**: 3.9
**Operating system**: Windows 10
**scipy**: 1.9.0
**numpy**: 1.22.4

We are getting very unusual results when using `learn_many` with linear regression. The results are very different from when training in a loop and very inaccurate.

I was able to reproduce the bug with the Trump Example from river datasets:

[code]

Model1:
Intercept

[2022-08-12 08:43] kulbachcedric commented on #996
Hi Philipp,

It is noticeable that the weights of the incrementally learned model are 0.0. Have you tried passing an initializer e.g. `river.optim.initializer.Normal`?

@MaxHalford: We could have a default initializer for the LR model?

However, I think the results may not necessarily be identical, as the order of the data points might change within the batch.
@jacobmontiel had a great [talk](http

[2022-08-19 08:59] MaxHalford commented on #996
Hey hey. Apologies for the delayed answer.

This isn't actually a bug. How `learn_many` works:

1. `y_pred` is calculated for each `x` in the batch
2. the error between `y` and `y_pred` is calculated
3. the errors are averaged
4. the average error is used to build a gradient
5. the gradient is used to update the weights

With `learn_one`, this process is applied for each observation. If you try wi

[2022-08-19 08:59] #996 closed

[2022-08-19 08:59] #994 closed

[2022-09-02 09:20] shelovemee opened #1011 "How to save a model to disk?"
Hi,

Thanks for this great library. Is there any way to save a model to disk? And is there any way to use a river model in C++?

[2022-09-02 10:30] smastelini commented on #1011
Hi @shelovemee, please check Discussion #464 for an answer about saving models.

Unfortunately, we don't have a wrapper from Python to C++.

[2022-09-02 15:22] shelovemee commented on #1011
Hi @smastelini

Thanks for your quick reply. I have one more question. I have a 150,000 rows of data trained with river,
and after the training I predict another 10 rows (not in the training set). But the prediction is slightly different every time, maybe 1 or 2 predictions are not the same every time, how can I solve this problem?

[2022-09-02 19:31] kulbachcedric commented on #1011
Hi @shelovemee,

Do you have a minimal, reproducible example of the pipeline you are using?

Best
Cedric

[2022-09-02 19:44] MaxHalford commented on #1011
Hey there.

You're probably getting bitten by the fact that unsupervised parts of your model are updated when calling `predict_one`. This isn't a bug, it's a feature. There's a context manager that allows you to override this behavior if that's what you want, [see here](https://riverml.xyz/dev/api/compose/pure-inference-mode/).

[2022-09-02 19:55] smastelini commented on #1011
Thank you guys! I was reading here to ask for a minimal example :)

Good catch!

[2022-09-04 03:12] shelovemee commented on #1011
1. Thanks for your reply. I tried pure_inference_mode, but the AUC dropped from 0.94 to 0.50. When predicting another 10 rows, the results are all wrong. Am I doing something wrong? Here is my code snippet:

model = compose.Pipeline(preprocessing.StandardScaler(), linear_model.LogisticRegression())
metric = metrics.ROCAUC()
class_condition = lambda x: x.__class__.__name__ in ('StandardScaler', 'Li

[2022-09-04 07:04] MaxHalford commented on #1011
Yes, you are. You should use `pure_inference_mode` just for the prediction part, not the learning part. It's just there for making sure ad-hoc predictions don't update your model. But you shouldn't use it in the training loop. Indeed you still want to update your unsupervised estimators in the training loop.

What makes you say that? The following works fine for me:

[code]

How are you measuring

[2022-09-05 12:50] shelovemee commented on #1011
1. I installed river via "pip install river". The version is 0.11, it told me "module 'river.compose' has no attribute 'pure_inference_mode' ". Today i updated river manually to 0.12.1, now the error has gone.

2. I still have the prediction problem, here is my code:

import pandas as pd

ex = [.........]
df = pd.read_csv('...csv', index_col=False, engine='python', encoding='utf-8')
model = compos

[2022-09-05 13:27] smastelini commented on #1011
Hi @shelovemee, allow me to throw my two cents in.

Firstly, you don't need to `keep the log_method_calls`, this is just for debugging purposes:

[code]

Regarding your models, I noticed that you set the `grace_period` to a high value when using trees. Depending on the size of your training data, that is not a good idea. The trees will take too long to split, and the accuracy will be subpar.

On t

[2022-09-08 14:42] shelovemee commented on #1011
Thanks @MaxHalford and @smastelini

I found if i shuffle Pandas dataframe rows, the prediction will be different every time.

from sklearn.utils import shuffle
import pandas as pd
dt = pd.read_csv(........)
dt =shuffle(dt)

model = preprocessing.StandardScaler() | linear_model.LogisticRegression()

with compose.warm_up_mode():
       for index, row in df.iterrows():
           x = dict(zip(column,

[2022-09-13 14:51] smastelini commented on #1011
Hi @shelovemee, I can only give my best guess since you provided only partial snippets.

When dealing with data streams, we almost always think big. We expect that data might be unbounded. So, after processing tons of data, the order does not matter much. But if you're using small training data, it is expected that changing the order in which the instances arrive might slightly impact the performa

[2022-09-13 22:22] MaxHalford commented on #1011
I agree with what @smastelini says. Shuffling the data is antinomic, because you shouldn't be doing it in the first place. The order of your dataset matters: it's supposed to reflect the order in which the data arrived. Also it seems you're not doing progressive validation, which is the standard way for evaluating online models.

[2022-09-14 01:38] shelovemee commented on #1011
@smastelini @MaxHalford
Thanks for your explanation. I think i need to read https://maxhalford.github.io/blog/online-learning-evaluation/
first. :)

[2022-09-14 05:32] MaxHalford commented on #1011
If you don't mind we'll close this issue because it's drifting in different directions. Feel free to open a discussion about a particular topic if necessary.

[2022-09-14 05:32] #1011 closed

[2022-09-15 07:06] thorbjornwolf opened #1031 "Docs: Binary classification notebook issues"
The [binary classification notebook in the docs](https://github.com/online-ml/river/blob/main/docs/introduction/getting-started/binary-classification.ipynb) needs a hand:
- The ImageSegments dataset is multiclass, not binary. It could be replaced with the Phishing dataset.
- The notebook should be re-run from the top and saved to get rid of the NameError in cell -2
- The `next steps` link at the b

[2022-09-15 07:26] MaxHalford commented on #1031
Oh gosh, good catch. I don't know how those mistakes got through, they should have been caught by CI... I'll fix it very soon.

I'm glad you could acquainted with River nonetheless :)

[2022-09-15 07:30] #1031 closed

[2022-09-15 21:14] MaxHalford commented on #906
We've just released version 0.13 which includes faster implementations of quantile algorithms, thanks to @AdilZouitine. I think we can now close this issue.

[2022-09-15 21:14] #906 closed

[2022-09-15 21:16] smastelini commented on #906
Nice!!!

[2022-09-23 17:19] MaxHalford commented on #891
I'm closing this issue because it (successfully) led to the refactoring of the KNN models.

There is still an issue of assigning IDs to clusters. The more I think about it, the more I think that `predict_one` is not enough. We also need some (possibly optional) mechanism to list the observations assigned with a given cluster (and therefore we also need a method to list clusters). So something like

[2022-09-23 17:19] #891 closed

[2022-09-23 17:36] MaxHalford commented on #652
@hoanganhngo610 can I let you look into this so we can possibly close the issue?

[2022-09-23 17:37] #382 closed

[2022-09-23 17:38] hoanganhngo610 commented on #652
@MaxHalford I will have a look at this real soon!

[2022-09-24 21:36] hoanganhngo610 commented on #652
@MaxHalford I have just tried this again with River version 0.13.0 and it does not return any errors. Would you mind checking it again so that I do not miss anything?

[2022-09-24 21:54] MaxHalford commented on #652
Yep it looks good. Thanks for checking @hoanganhngo610, you rock :)

[2022-09-24 21:54] #652 closed

[2022-09-26 16:30] mirfan899 opened #1038 "KNNClassifier for face detection data format issue"
## Versions

**river version**: river==0.13.0
**Python version**: 3.8
**Operating system**: Ubuntu 20.04

## Describe the bug

I'm trying to train and predict face detection using KNNClassifier

## Steps/code to reproduce

Here is the training code.

[code]
I have trained a model without any errors but when I tried to predict the face it throws the following error.

[code]

error:

[code]

[2022-09-26 16:35] MaxHalford commented on #1038
Do you have a question? It seems that your bug is not related to River, but more to the way you're feeding the data to the model.

[2022-09-27 06:13] mirfan899 commented on #1038
That is exactly my question. I'm feeding the same format of data to model but getting error. @MaxHalford

[2022-09-27 08:38] MaxHalford commented on #1038
Can you give an example of the inputs `encoding.tolist()` and `faces_encodings[0].tolist()`? I'd like to make sure the inputs you're feeding to `learn_one` and `predict_one` are of identical shape and structure.

[2022-09-27 08:43] MaxHalford commented on #1038
Ah, I just understood what's going on. Basically, nothing really happens in a `KNNClassifier` when you call `learn_one`. It just stores the sample.

The crux of the algorithm happens in `predict_one`. That's when a sample is compared to the stored samples to determine the closest neighbors. What's happening here is that your `body` feature. That doesn't work, the input `x` has to be a dictionary.

[2022-09-27 10:02] mirfan899 commented on #1038
Okay, I will test it.

[2022-09-27 10:44] mirfan899 commented on #1038
thanks it worked.

[2022-09-27 10:44] #1038 closed

[2022-10-02 18:22] paularindam opened #1047 "'from river import metrics' gives numpy.core.multiarray failed"
I am unable to remove this error. I tried re-installing river and numpy as some had suggested on stackoverflow.
<img width="920" alt="Screen Shot 2022-10-02 at 2 23 47 PM" src="https://user-images.githubusercontent.com/2607180/193469753-a9254191-e280-476a-8d77-557095ac2dff.png">

[2022-10-02 20:43] MaxHalford commented on #1047
Can you share version information? (i.e. Python, numpy, river). We can't reproduce this issue without some more context.

[2022-10-02 21:24] paularindam commented on #1047
Please find the version information. FYI, I had tried a few different versions of numpy but none of them solved the issue.

[2022-10-02 21:58] MaxHalford commented on #1047
I'm not sure what you mean. Where should I find it?

[2022-10-02 22:01] paularindam commented on #1047
Hi

Please find here.

numpy = 1.22.4

river = 0.13.0

python= 3.9.5

Earlier, I had sent a screenshot but apparently you cannot see it.

-Arindam

[2022-10-02 22:42] MaxHalford commented on #1047
Can you do `pip install numpy --upgrade`? I was able to reproduce your error, but it disappeared when I upgraded numpy to 1.23.x

[2022-10-02 22:59] paularindam commented on #1047
It seemed to work if I installed numpy after I installed river. Installing river after numpy rolls back numpy to 22.4.x.

Anyways, thanks for the help. It seems to work after I restarted the kernel after upgrading numpy.

[2022-10-02 23:12] MaxHalford commented on #1047
I'm glad you fixed the issue.

It's super weird we're still getting this issue though, I thought I'd fixed it. I'll look into it.

[2022-10-02 23:12] #1047 closed

[2022-10-04 15:21] SuleymanCetiner opened #1050 "Progressive Val Score - Metric For Logistic Regression"
Hello there,

I have an issue for running just a basic script :

from river import linear_model
from river import metrics
from river import evaluate
from river import preprocessing
import pandas as pd

data = pd.read_csv("C:/Users/Monster/Desktop/LveR.csv")

# Import label encoder
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
# label_encoder object knows ho

[2022-10-04 15:26] VaysseRobin commented on #1050
Hello, I think the problem is that you import the `preprocessing` module from river first and then you import the `preprocessing` module from sklearn so you overide the previous one. The `StandardScaler` in your model is thus the one from sklearn while you should use the one from river.

[2022-10-05 07:13] SuleymanCetiner commented on #1050
Hello,i tried that overriding but error still remains ,i will try another things. Thanks !

[2022-10-05 07:59] VaysseRobin commented on #1050
Ok, I found the issue. `progressive_val_score` expect a dataset and not an X and y ([here is the documentation](https://riverml.xyz/0.13.0/api/evaluate/progressive-val-score/)) so you should have something like that:

[code]
You can use the [iter_csv](https://riverml.xyz/0.13.0/api/stream/iter-csv/) or any function from the `stream` module to convert your data to a stream.

[2022-10-05 08:48] SuleymanCetiner commented on #1050
Yes, it makes sense because in general, it asks just one parameter to pass through pipeline. Thank you for help.

[2022-10-05 08:49] #1050 closed

[2022-10-07 12:27] Dennis1989 opened #1054 "Twitter Stream issue"
Hey, there is a issue when using the Twitter stream in the following line:

`self._set_rules([{"value": rule, "tag": rule} for rule in self.existing_rules])`

`self.existing_rules` has to be changed to `existing_rules`.

I would do it myself but it is too much work forking river and creating a pull request only for this super small change.

Best,

Dennis

[2022-10-07 12:37] MaxHalford commented on #1054
Good catch! Just fixed it.

Usually I would write a unit test, but I didn't bother in this case because of the web aspect.

[2022-10-07 12:37] SuleymanCetiner opened #1056 "Logistic Regression Prediction"
Hello there. I have an issue for logistic regression.

from river import stream
from river import compose
from river import linear_model
from river import optim
from river import preprocessing
from river import metrics

datapath = "C/.. "

model = compose.Pipeline(
    preprocessing.StandardScaler(),
    linear_model.LogisticRegression(optim.SGD(lr=0.01))
    )
metric = metrics.ROCAUC()

for xi, y

[2022-10-07 13:55] MaxHalford commented on #1056
Hello there. It seems to me that your features are of type `str`, not of type `float`. Maybe that's the issue?

By default, the `stream.iter_csv` function doesn't parse your data into floats. But can parse them yourself with the `converters` parameter. [Check out the docs](https://riverml.xyz/0.13.0/api/stream/iter-csv/).

We could/should probably add default parsing of strings to numbers, I'll lo

[2022-10-07 14:37] SuleymanCetiner commented on #1056
Hello,

No,i already converted to all data into float,also i already used converters dictionary structure.
Yep, i didn't added that missing parts,i mean converts part so it is misunderstood.
Thanks anyway !

[2022-10-07 14:52] MaxHalford commented on #1056
Hey again. I'm not sure I follow, does your code work now?

[2022-10-10 10:59] SuleymanCetiner commented on #1056
Hi,no,does not work for now. I will try different things to make it worked.

[2022-10-10 11:06] MaxHalford commented on #1056
Ok, feel welcome to ask us if you have a question.

[2022-10-10 11:33] SuleymanCetiner commented on #1056
Thank you, i will do !

[2022-10-10 11:34] #1056 closed

[2022-10-14 09:12] mvieth opened #1061 "Question/proposal regarding ADWIN clock"
Hi, I have a question about the clock implemented into the ADWIN drift detector (https://github.com/online-ml/river/blob/main/river/drift/adwin_c.pyx#L215). As I understand it, it will only check for drifts every 32nd time. My guess would be that this is done to increase the speed/performance of the detector, but I haven't found any mention about this in the original ADWIN paper. If you know more

[2022-10-14 12:07] MaxHalford commented on #1061
I believe we already discussed moving back to a Python implementation for the sake of maintainability. But we decided the performance gain is worth keeping.

I would say that the required change is small enough to justify adding it to the Cython implementation. Especially considering the OP is offering to make a pull request :)

[2022-10-14 12:11] smastelini commented on #1061
I think the best compromise is to set `clock` based on the `bucket_size` then. I don't remember the details now, but I have a gut feeling these parameters should walk together :)

Feel free to open a PR @mvieth. I had missed that part hahaha

[2022-10-17 09:21] mvieth commented on #1061
Are you sure that there is a connection between the clock and the max number of buckets? [In the MOA code](https://github.com/Waikato/moa/blob/master/moa/src/main/java/moa/classifiers/core/driftdetection/ADWIN.java), there is no apparent connection, and the clock is set to 32 (independently from `MAXBUCKETS`).
Let's say the max number of buckets is 5, then the 32 new samples since the last check f

[2022-10-17 11:01] smastelini commented on #1061
Hi @mvieth. No, I'm not sure, TBH. Just recently I started delving a bit around the concept drift world, out of necessity 😅.

What I know is that both variables are hardcoded in the MOA code, and the paper does not defines`clock`.
You might be correct, and your explanation makes a lot of sense, but since we don't have a formal explanation, the best we can do is informed guesses.

In any case, sett

[2022-10-17 13:50] mvieth commented on #1061
Yes, I think that is a good solution. `grace_period` and `min_window_length` too?

Sure, do you have some benchmark framework in mind or are you okay with an "informal" measurement :smile:
What kind of guidelines do you mean? Something describing the effects of each parameter?

[2022-10-17 14:08] smastelini commented on #1061
I forgot about those two. Good catch! Yes, if we are going expose the internal parameters, let's do it for real 😄 . I believe the ADWIN algorithm is fresher in your mind, so can you think of any corner cases that should be checked when setting the values of all these "new" hyperparameters in `__init__`? If so, we need to document that and (maybe) raise some `ValueError` exceptions if the user pass

[2022-10-17 15:13] MaxHalford commented on #1061
The best is to implement some unit tests when possible. But don't go out your way, sometimes unit tests can be hard to write.

[2022-10-18 14:53] MaxHalford commented on #1061
Addressed in #1062. Thanks a ton @mvieth!

[2022-10-18 14:53] #1061 closed

[2022-10-18 15:11] mvieth commented on #1061
Thanks for the fast review and the guidance!

[2022-10-20 08:55] cyrilou242 opened #1064 "Doc search is broken"
**river version**: river website - all versions

## Describe the bug
Hey, the search index at `https://riverml.xyz/${version}/search/search_index.json` does not exists.
This makes the search experience broken on the doc website.

## Steps/code to reproduce
- Go to the doc website https://riverml.xyz/0.13.0/
- Type something in the search bar.

A 404 on `https://riverml.xyz/0.13.0/search/search_ind

[2022-10-20 08:57] MaxHalford commented on #1064
Yep I believe it's because we're using a broken version of mkdocs-material. I'll release a new version soon, hopefully by tomorrow evening. Thanks for opening an issue!

[2022-10-20 09:19] cyrilou242 commented on #1064
Thanks @MaxHalford!

[2022-10-27 15:05] MaxHalford commented on #1064
Fixed!

[2022-10-27 15:05] #1064 closed

[2022-11-04 23:17] snthibaud opened #1079 ""ValueError: Sample larger than population or is negative" on tree learning step"
## Versions

**river version**: 0.14.0
**Python version**: 3.9.15
**Operating system**: Kubuntu 20.04

## Describe the bug
The following stacktrace should make the problem clear:
[code]

## Steps/code to reproduce
My model is defined as follows:
[code]
I am doing alternating learn/predict steps.

[2022-11-06 09:53] MaxHalford commented on #1079
@smastelini do you have enough info to debug this or should we ask @snthibaud for more details? :)

[2022-11-06 10:01] smastelini commented on #1079
Hi all, sorry for my delay. The default behavior in ARF is to use `max_features=sqrt(n_features)`. It is odd the code produces this specific value error.

@snthibaud, can you provide more details about your data? For instance, are there missing values?

My gut feeling is that the ValueError is a "symptom of the problem" and not the cause, if that makes sense :)

[2022-11-06 10:33] snthibaud commented on #1079
@smastelini Hello! I think the TFIDF transformation creates a variable amount of features for each instance, so perhaps that is related to the problem? No other missing values as far as I know, but the TFIDF transformation basically creates some missing values. The problem did not occur when setting the 'leaf_prediction' to 'mc', by the way.

[2022-11-06 13:14] smastelini commented on #1079
@snthibaud, does the problem happens at the beginning of the your processing or after processing some instances? If you could share a MWE with me, it would be really helpful.

[2022-11-06 13:31] snthibaud commented on #1079
It happened after processing quite a few instances. I would say one hundred or so.
I cannot provide the data and creating such data is obviously quite involved, but I think you should be able to reproduce it with this library:
https://hypothesis.readthedocs.io/en/latest/
I always succeed in finding the most challenging bugs with that library. 😄

The data that I selected in the first step of the mo

[2022-11-06 14:01] smastelini commented on #1079
@snthibaud, I have too few to work with at the current state. The combination you mentioned (one integer and one string transformed via TFIDF) was used multiple times with no issues. I will need more information to track the possible bug or misuse.

[2022-11-06 14:29] MaxHalford commented on #1079
Hey @snthibaud. We're busy people, so we don't have a time to attempt reproducing your bug from scratch. You have the context, so you need to give more information. And by that we mean a minimal reproducible example with code. I understand you can't share the data, but you should try to reproduce the issue with dummy data.

[2022-11-06 23:57] snthibaud commented on #1079
Sure, I thought that library would help, but I am busy too right now. Personally, I am now satisfied with the option to use ‘majority class’ predictions, so it’s ok to close this issue then. I guess it is already good to know that ‘majority class’ works for anyone who visits this page.

[2022-11-10 07:35] AIRobotZhang opened #1086 "DBSTREAM performance"
When the data stream comes continually, DBSTREAM algorithm becomes slower gradually. Is there any solution?

[2022-11-10 09:39] MaxHalford commented on #1086
Hey @AIRobotZhang. Could you share some more context and some figures to illustrate what you're saying? What is the current performance? What performance are you looking for?

[2022-11-10 11:08] AIRobotZhang commented on #1086
DBSTREAM is a clustering algorithm for evolving data streams. As time went on, the number of cluster becomes more and more. Thus, the speed of DBSTREAM becomes slower in my experiment. Is there any solution on keeping the speed of DBSTREAM as the data stream comes continually?

[2022-11-10 12:26] smastelini commented on #1086
@hoanganhngo610, can you check that? Is this the expected behavior, and is there a way to "forget" old information in DBSTREAM?

[2022-11-10 17:42] hoanganhngo610 commented on #1086
@AIRobotZhang @smastelini I will try to replicate this by using the datasets that I am currently having. Once I have something available I would let you know!

[2022-11-11 01:09] AIRobotZhang commented on #1086
Thank you very much!

[2022-11-19 01:24] hoanganhngo610 commented on #1086
Dear @AIRobotZhang, I have just investigated the performance of DBSTREAM with a simple dataset that have 20k observations, and have recognized that the number of clusters generated increases significantly within the first few thousand observations, but after one point, the number of clusters are actually quite stable.

This would be quite as expected for methods using the concept of micro-clusters

[2022-11-19 08:45] MaxHalford commented on #1086
Thanks @hoanganhngo610 for looking into it.

Is there a straightforward way to control the number of micro/macro clusters? I can see anything in the parameters documentation.

[2022-11-20 01:31] hoanganhngo610 commented on #1086
@MaxHalford To be honest, I don't think there are a lot of things that we can do at this moment. I have also been trying to mess around with the hyperparameters, but there are very little to no changes. This also happens with CluStream, or some corner cases with DenStream.

One idea that I am thinking of is actually to induce limits on the number of micro clusters that can be generated, thus allow

[2022-11-20 01:40] MaxHalford commented on #1086
Cool! I think it's healthy to have theoretical algorithms meet practical considerations. What matters is that the models in River are performant and can actually meet user needs :). But don't go out your way to make changes if it's too difficult, or modifies the algorithm too much. Maybe that what's needed is a different algorithm entirely.

[2022-11-21 07:29] hoanganhngo610 commented on #1086
@MaxHalford Got it! Moreover, do you want me to close the issue, or you prefer to keep it open for further follow-up?

[2022-11-23 07:56] AIRobotZhang commented on #1086
Thanks for patient answers!
I think keeping this issue open would be better!

[2022-11-25 14:53] geoffroyO commented on #871
Hello, I would like to reopen this post maybe to work on it.

I coded a version of the online EM for the GMM of Cappé and Moulines entirely in with numpy to which I added

1. A training possibility with mini-batch
2. Polyak-averaging
3. The version I made doesn't do any inversion, nor calculation of the covariance determinant for density evaluation or statistics: everything is updated online which

[2022-11-25 19:48] geoffroyO commented on #871
Hey @MaxHalford,

Yep I'm using Sherman-Morisson formula alongs with a kind of Sherman-Morrisson for the determinant, details are in redaction !

Concerning the warm-up phase it often adds more stability but with a good initialization of the statistics it may not be necessary. Nevertheless I think that it will be necessary to wait to have some points to be able to initialize the parameters well if

[2022-11-28 12:57] Dref360 commented on #1086
Hello! I have a similar issue when using River with BertTopic, a topic modeling library.

I saw that in [DBSTREAM.predict_one](https://github.com/online-ml/river/blob/main/river/cluster/dbstream.py#L379) we call `self._recluster` every time which is quite time-consuming if we need to predict after each learning.

I created a new function `predict` that can predict on a batch of embeddings. I thoug

[2022-11-28 13:36] Dref360 commented on #1086
From what I understand, `DBSTREAM._recluster` is deterministic. So an easy fix would be to _recluster only when needed ie. after calling `learn_one`.

[2022-11-28 13:53] MaxHalford commented on #1086
Hey @Dref360 @smastelini. A lot of good stuff! Let's unpack.

In the code snippet you shared, what shape is the `embeddings`? Is it basically a mini-batch of samples? If so, we could add a `predict_many` method to accommodate for that case.

I see how that is great for power users, but I would have it just work magically. I like the idea of specifying an interval. We do that elsewhere in the codeb

[2022-11-28 16:46] MaxHalford commented on #1086
We could also pass this as a parameter to the learn_one method, which avoids adding a new method.